[2019-06-26 08:20] ramesius commented on #408
Excellent, thanks :)

[2019-06-26 08:20] #408 closed

[2019-06-26 09:31] tulios commented on #408
`1.9.2` is out, thanks again!

[2019-06-26 13:49] leolcao commented on #398
In recent days, I tried kafkajs, also node-rdkafka. The scenario what we need is writing a kafka sink connector which can save data from kafka to mongodb, it need detecting the new kafka topics, and call the mongodb native driver to write data. The result is we choose node-rdkafka. It can support to 100 topics in 150 ~ 200ms interval in the same time, in other words, it can consume 500 ~ 600 topic

[2019-06-26 14:56] JaapRood commented on #403
We had a quick go at consuming messages written transactionally before, and I ran into a similar situation, but was clouded by a whole bunch of other issues. Reading what's happening here, I'm pretty sure that was at least a factor in it. Great find!

[2019-06-26 15:15] kjdelisle opened #410 "AWS SASL Mechanism Name is incorrect"
@Nevon
The [broker module](https://github.com/STACK-Fintech/kafka-auth-aws-iam) expects the mechanism name to be `AWS` and not `AWS-IAM`. The subsequent commit that was added to [my PR](https://github.com/tulios/kafkajs/pull/402) before it landed moves Kafka.js out of alignment.

The problem stems from the configuration for the [Kafka Docker Image](https://hub.docker.com/r/wurstmeister/kafka/). Th

[2019-06-27 07:41] #410 closed

[2019-06-30 20:43] ManfredLange opened #414 "Breaking changes when updating from version 1.8 to 1.9.3"
Not sure when they were introduced but there are breaking changes between `kafkajs` version 1.8 and 1.9.3 when using Typescript (we're using TypeScript 3.5.2):

Examples include:
1. Producing messages: key and value no longer accept a string but need a buffer instead
2. Deleting a topic: now requires a timeout parameter
3. Consuming messages: `ConsumerEachMessagePayload` no longer exists.

I'd lik

[2019-07-01 07:16] tulios commented on #414
Hi @ManfredLange, we use semver. The typescript definitions are still a bit messy as I assumed the original contribution was build up on top of `@types/kafkajs`, but it wasn't. It was also hard to review, but I consider your points bugs, and I have been working to fix them. I will work on another patch to address the incompatibilities, the code on 1.9 is 100% compatible with the previous versions

[2019-07-01 12:59] terebentina opened #415 "Add a paused method to consumer"
ATM the consumer doesn't expose the `paused()` method from `consumerGroup`. It looks trivial to do so, so...any reason I am missing not to?
Happy to submit a PR for it if you're ok with a `consumer.paused()` method.

[2019-07-03 14:50] #414 closed

[2019-07-06 17:42] gygabyte opened #418 "UnhandledPromiseRejectionWarning is shown with exception KafkaJSNumberOfRetriesExceeded for connect()"
This only actually happens when there are multiple consumers trying to connect at the same time. This warning is not shown when there is only one consumer.

Also, it is only in the first connect() and Kafka is not available

[code]
Code for connecting:
[code]

[2019-07-07 10:14] mt4c opened #420 "Support for max.poll.records"
Will there be support for max.poll.records in config so  that I can control how many records are fetched by consumer?

[2019-07-08 08:43] tulios commented on #420
Hi @mt4c, we had a discussion some time ago about this property and concluded that it wasn't the time to invest in this feature for a couple of reasons.

1) If you have a stable message, it's quite simple to have the average message size, for example, we do it like this:

[code]

2) If you use plain JSON and have variable sizes, or have way too different sizes, it becomes a harder problem. The mes

[2019-07-08 08:44] tulios commented on #415
@terebentina we never had the need, so we never implemented. Feel free to submit a PR; we would gladly accept. 😄

[2019-07-08 10:01] rafalneves commented on #391
Were you able to replicate this?

[2019-07-08 14:04] JaapRood commented on #420
@tulios regarding `maxBytes` being able to change dynamically: that _would_ be one of the main requirements to implement a proper _Stream_ in userland, which is quite possibly the cleanest and most platform native way to consume messages in a memory-efficient and performant way. Feeding a stream from an `eachBatch` is what we're doing currently, but you're basically creating a second buffer that y

[2019-07-09 08:08] tulios commented on #420
Yeah, I don't think it's a lot of work to allow changes to `maxBytes`, I am talking about having the logic to increase/decrease based on the messages in KafkaJS, more as a priority thing. If we get more time or people interested, we can definitely do it.

* Over here we had to upgrade the cluster and make significant changes to work the growth we had, so most of my time is now debugging some myste

[2019-07-11 06:11] mt4c commented on #420
OK, after some search on the google I found that it is a bad idea to implment task queues on kafka. Trying to find another way. So should I close this issue?

[2019-07-11 14:46] JaapRood commented on #420
Not sure what in Kafka makes it a bad idea for implementing task queues, we're definitely employing it in such a way. One thing is that it's basically a lower level tool than most dedicated task queues, so it's not as easy to work that way, but it's got all the primitives you need. That probably means that if all you're doing is a task queue, and you're not _that_ worried about things like solid p

[2019-07-11 15:22] kjdelisle opened #423 "AWS Credential Refresh Issue"
Hello again!

Normally for something like this, I would've written a pull request first, but I wanted to coordinate on this to make sure I'm not hacking through existing patterns and whatnot.

The problem I'm currently seeing with the new AWS authentication is that it won't work for session-based credentials (which expire and require refresh). Originally, I thought that the consuming code would ne

[2019-07-12 07:07] tulios commented on #420
I guess you need to be creative to have priority and other mechanisms with Kafka, is feasible, and we have a similar setup, but depending on the needs it can be overkill, especially due to the increase in complexity.

[2019-07-12 07:07] #420 closed

[2019-07-12 07:08] tulios commented on #423
Yes, Kafka updated the spec to support a refresh cycle. I have this in a list somewhere; I can get back to you soon.

[2019-07-12 10:02] rafalneves commented on #391
Nevermind, my fault.

[2019-07-12 10:02] #391 closed

[2019-07-12 11:44] tulios commented on #391
@rafalneves sorry that took this long, can you share what happened? Maybe it is something other people could face in the future.

[2019-07-12 11:47] rafalneves commented on #391
No problem. Was calling consumer consumer.run without waiting for the subscription to complete.

[code]

Instead of:
[code]

[2019-07-13 23:20] dluisbrbr opened #426 "Using Kafkajs in an Ionic Angular app, real time chat app."
I would like to know if it is possible to use KafkaJs in an application that is being developed in Ionic 4 / Angular 7, the app should treat millions of requests for messages (chat), we intend to use Kafka for messaging.
To do so we will develop the backend in node, to treat messages / persistence and publication of topics.
We are looking for a package that can be used in both the back and the fro

[2019-07-14 07:11] Nevon commented on #426
The short answer is that KafkaJS does not currently work in a browser environment. It is targeting NodeJS. There are currently no Kafka clients available that work in a browser, to the best of my knowledge. However, KafkaJS can indeed be used to power a chat application (we are in fact doing that ourselves), but only on the backend. You would need to set up a websocket connection or some other pus

[2019-07-14 07:11] #426 closed

[2019-07-15 08:25] JaapRood opened #427 "Move member assignment state into SubscriptionState"
While working on #417 we ran into limitations due to `SubscriptionState` not owning the current member assignment state, which instead is held by `ConsumerGroup`. It seems to make more sense for the subscription state to hold all state about the current subscription, including the current assignment.

In #417 it caused an issue where, after pausing a full topic through `consumer.pause`, individual

[2019-07-15 08:53] JaapRood commented on #427
Looking through open issues, it dawned on me that these changes will also help #373, where we'll look for manual assignments rather than subscriptions. Another reason for me to get started on this.

[2019-07-15 09:33] JaapRood commented on #396
Fixed by #417.

[2019-07-15 09:33] #396 closed

[2019-07-15 11:48] gilesbradshaw opened #430 "There is already an ongoing transaction for this producer"
I'm trying to manually commit each message I consume.

Here's my code..

[code]

This works to a point then I get the following error thrown...

[code]

so it seems to me that even once I have awaited for the transaction.commit() the transaction is actually still in progress and next time around this causes an error.

Is this right?  If so how can I await the transaction no longer being in progres

[2019-07-15 12:15] gilesbradshaw opened #431 "Question about auto committing"
If I am using auto commit - is there a chance that a message will be committed when I haven't actually handled it?

eg

[code]

could messages get auto committed before takeaverylongtimeifever is done?

[2019-07-15 12:17] tulios commented on #431
@gilesbradshaw, the consumer won't commit in 2 cases:
1) user code throws an error (`takeaverylongtimeifever` throws)
2) the session times out, so the consumer has to rejoin the group

[2019-07-15 12:34] gilesbradshaw commented on #431
Thanks for prompt reply :)

So as long as takeaverylongtimeifever fails before [session] is up it will never get committed .. ?

If that's right - what defines [session]? I can see options for requestTimeout and connectionTimeout..

[2019-07-16 06:36] kashikhan1 opened #432 "kafka consumer group latest messages not working"
every time i restart the node server or create a new connection with socket using kafka node version 4.1.3.its take the previous messages again.I want to see only new messages using conusmer or consumerGroup thanks in advance
const options = {
				// connect directly to kafka broker (instantiates a KafkaClient)
				kafkaHost: process.env.KAFKA_HOST,
				autoCommit: false,
				protocol: ['roundrobi

[2019-07-16 06:39] tulios commented on #432
Hi @kashikhan1, wrong library. KafkaJS is a different library, you are looking for the node-kafka repository.

[2019-07-16 06:39] #432 closed

[2019-07-17 16:37] jasine commented on #403
any solution or workaround?

[2019-07-18 08:36] tulios commented on #431
Sorry for the long delay, when you create the consumer you can configure the session timeout, the heartbeat interval, etc. Take a look here https://kafka.js.org/docs/consuming#a-name-options-a-options

[2019-07-18 08:37] tulios commented on #403
Not yet, this is almost at the top of my list. 😭
I will give a stab at it soon.

[2019-07-18 08:37] #406 closed

[2019-07-18 13:16] afirouzabady opened #437 "how to use value.subject.name.strategy"
is it possible to use `value.subject.name.strategy` ?

we want to use multi schemas in one Kafka topic. i wonder if this is supported by `kafkajs` ?

[2019-07-18 13:21] JaapRood commented on #437
KafkaJS is completely agnostic to the contents of your messages and does not have any idea about schemas, or how otherwise your messages are encoded. What you seem to be referring to is a serialisation layer built on top of Kafka by Confluent, that ties into their Schema Registery.

[2019-07-18 13:25] JaapRood commented on #437
That said, I'm pretty sure @Nevon and @tulios deal with Confluent-style Avro encoding, as well as the schema registry, so perhaps they could point you in the right direction of how to approach that.

[2019-07-18 14:02] tulios commented on #437
@afirouzabady yes, you can use multi schema. Like @JaapRood said, you just get the bytes on KafkaJS, so as long as you publish the different schemas, you will get them on KafkaJS. When you mention `subject.name.strategy`, are you talking about the compatibility of the schema or the payload itself?

[2019-07-18 14:08] afirouzabady commented on #437
payload itself,  I have an `order_events` topic which this topic can have different messages (different schema) e.g. `OrderCreated` and `ItemAddedtoOrder` schemas

**OrderCreated schema**
[code]
**ItemAddedtoOrder**
[code]

[2019-07-18 14:11] tulios commented on #437
Yeah, you will get different types. You can use that to handle the events in a different way; we do a similar thing in one of our consumers.

[2019-07-18 14:51] afirouzabady commented on #437
yes we use `avsc`, thanks for your help. I will work on it a bit more, and if i have any problem I'll let you know.

[2019-07-18 19:41] afirouzabady commented on #437
thank you guys for you help, issue solved

[2019-07-18 19:41] #437 closed

[2019-07-19 08:00] AlexKonstantinov1991 commented on #384
Hello!

There is still no information in documentation about that. Just to remind.

[2019-07-19 09:10] JaapRood commented on #384
Fair enough, too! Unfortunately it went down my list of priorities before I could get it done, also because there seem to be other issues with exactly-once producing that should probably be fixed first.

[2019-07-21 12:45] yishain11 opened #439 "TypeError: topicPartitions is not iterable"
When I try to pause a message reading, like so:
consumer.pause({topic: 'SomeTopic',partitions:[0]})
// do something... and then:
consumer.resume({topic: 'SomeTopic',partitions:[0]})

and I get the following error message:
TypeError: topicPartitions is not iterable

I have Centos 7 machine, and the latest kafka, zookeeper and kafkaJS versions.

[2019-07-22 07:02] tulios commented on #439
Hi @yishain11, you have to provide an array of topics to resume/pause. You can take a look here:
https://kafka.js.org/docs/consuming#a-name-pause-resume-a-pause-resume

[2019-07-22 07:22] yishain11 commented on #439
Oh my. Sorry, I havn't noticed. Thanks!

[2019-07-22 07:34] tulios commented on #439
@yishain11 KafkaJS always loads a batch of messages, even if you use `eachMessage`, but if you await when processing your message it won't move to the next one until the promise is resolved.

[2019-07-22 07:40] JaapRood commented on #439
@tulios we _could_ probably accept either a single `topicPartition` or array of them. Extends the API surface area a tiny bit, but would make it easier to use!

[2019-07-22 08:20] IvanovOleg commented on #418
I have the same issue.

[2019-07-22 08:21] tulios commented on #439
@JaapRood I would go for another method, but I am anti polymorphic methods
It always bit you back :D

[2019-07-22 08:40] yishain11 commented on #439
@tulios Thanks for the tip, but every combination I tried with async await still ended up reading the next one before finishing to process that current one.

[2019-07-22 14:40] tulios commented on #439
@yishain11 you post some code I can take a look, we have a lot of consumers using KafkaJS and we this always works, so maybe we are talking about different things

[2019-07-22 14:42] tulios commented on #418
I will take a look at this now, @gygabyte @IvanovOleg how do you initialize your consumers? Do you have a `Promise.all` using the example code to connect?

[2019-07-22 14:51] IvanovOleg commented on #418
@tulios
[code]

[2019-07-23 08:06] #378 closed

[2019-07-23 08:07] tulios commented on #122
Fixed by #436

[2019-07-23 08:07] #122 closed

[2019-07-23 11:00] Hann commented on #378
Hi. Is there a release plan included this feature?
I found the feature on the docs but It seems to be unreleased.
 https://kafka.js.org/docs/consuming#a-name-manual-commits-a-manual-committing

[2019-07-23 12:11] JaapRood commented on #378
The release isn't out yet, but it should be in the next one. Meanwhile, you can depend on the commit sha  (see https://docs.npmjs.com/cli/install). There is no build step for the repo and it's how I run earlier releases.

@tulios just wanted to tag you here to indicate another case where an automatic pre-release might smoothen things over. Also, on the disconnect between documentation and the curr

[2019-07-24 11:58] ThisIsMissEm opened #442 "Is it possible to find out which partition a consumer belongs to?"
I'm currently working on an application that follows the Kappa architecture, and I'm I little stuck on one issue: When my application starts, I need to read an entire kafka topic into memory, and then once I've read to the latest message, I need to signal that the application is ready to start accepting requests (that is, it's as up-to-date as it can possibly be)

The way I was thinking of solving

[2019-07-24 12:11] JaapRood commented on #442
Cool to see someone else attempting this architecture in Node! 🎉 In basic steps, this is what you most likely want to do for Kappa:

- Create a Consumer and _subscribe_ it to the input topic, the messages you actually want to process.
- Listen to the `consumer.GROUP_JOIN` events, as the ConsumerGroup will assign each active Consumer a set of partitions it's responsible for processing for. It passe

[2019-07-24 12:33] tulios commented on #442
I think there is a simple way, we have an application that does exactly what you want. Like @JaapRood said, use `consumer.events.GROUP_JOIN` to pick the assigned partitions and use seek to move to the beginning. Use `eachBatch` instead of `eachMessage` so you can check if the message is stale, as the seek wasn't performed yet.

[2019-07-24 12:34] #439 closed

[2019-07-24 12:35] ThisIsMissEm commented on #442
@JaapRood okay, so, I'm still learning Kafka, but our approach is actually to keep all the data in memory — rather than storing it in a temporal or cached database (e.g., redis).

Do you mean that I'd have a kafka topic which is something like `${topic}-state` or something?

Oddly, I've read almost every article I can find about kafka+kappa, and honestly, I've not yet once seen an actual example o

[2019-07-24 13:59] ThisIsMissEm commented on #442
@JaapRood if I'm understanding you correctly, then the interface of `IMemberAssignment` is that the key is the assigned `topic` and the value is the `partition`, correct?

[2019-07-24 14:40] ThisIsMissEm opened #443 "Randomly fails to connect to local kafka cluster"
Occasionally when working with kafkajs, I notice that the client outputs a bunch of errors like this:

[code]
And the client then proceeds to repeat that message and never eventually connects to kafka. If I  exit my program, give it a few moments, then try again, then it connects fine.

I'm using kafka+zookeeper in Docker, with the broker host being resolved by a locally running dnsmasq instance;

[2019-07-24 15:12] ThisIsMissEm commented on #442
@JaapRood / @tulios — does `consumer.run`'s `eachMessage` use zero-based offsets, yet `admin.fetchOffsets` return 1-based offsets?

Noticing that I seem to never get to the last offset in `eachMessage`.

[2019-07-24 15:57] tulios commented on #442
@ThisIsMissEm the message has the committed offset, the offset where the message is, but Kafka store the next offset, so if you processed offset 14 it means that your consumer group is in the offset 15, the next offset to fetch is 15.

[2019-07-24 16:27] ThisIsMissEm commented on #442
Okay, so, to check if I'm at the correct offset I'd need to do `message.offset + 1 === partition.offset`

[2019-07-24 17:30] ThisIsMissEm commented on #443
It seems that it's actually an issue with exhausting the number of connections that the Kafka Broker can handle or something. I finally managed to get kafkacat to crash under the same conditions:
[code]

[2019-07-24 17:33] ThisIsMissEm commented on #442
@tulios @JaapRood Is there any way to get the count of messages in a given topic in kafka?

I've noticed that under certain conditions my code can get into a state where it thinks the consumerGroup offset is -1, and as such, I don't know how many messages are remaining on the kafka topic at the time of connection.

[2019-07-25 07:29] Nevon commented on #443
Could you provide a little more context as to what it is you're doing? Certainly if you are repeatedly creating new connections, eventually either the client or the server will run out of resources, but I would consider that a rather unusual situation. A more typical case is that you create one or a few long-lived client instances, in which case you'd only have 1 connection per client-broker pair.

[2019-07-25 08:17] JaapRood commented on #442
@ThisIsMissEm my example totally assumed that you're processing messages from an input to an output topic, using intermediary state! The extra steps I described around subscribing, pausing and resuming all are specific to that usecase. It seems, though, that you're just trying to read an existing topic of data into memory. If so, a single consumer would suffice, but manual assignment (still workin

[2019-07-25 09:53] Rolandisimo commented on #418
I did some digging. I think the issue might be caused because of a forgotten `catch` block in `kafkajs/src/broker/index.js` file and `connect` method. Currently you have `try/finally`.  Adding an empty `catch` removed the uncaught exception related to retries, but revealed a new one.

[code]

[2019-07-26 09:27] tulios commented on #418
The broker is correct; it should propagate the error. The fix is probably higher up.

[2019-07-26 09:30] tulios commented on #418
@Rolandisimo how do you start your consumers, I am having a hard time reproducing this. I probably have the wrong setup, can you write a small script that reproduces the problem?

[2019-07-26 09:40] pimpelsang opened #446 "What is the default autoCommitInterval and autoCommitThreshold?"
From docs it says default is null.
https://kafka.js.org/docs/consuming#a-name-auto-commit-a-autocommit

Thats hard to believe as when using eachMessage handler offsets will get commited sometime.

[2019-07-26 09:46] tulios commented on #446
The default value is actually `null`, even without this configurations if the `autoCommit` is enabled the consumer will commit the offsets, the difference is that it will only commit after the whole batch has been processed. With `autoCommitInterval` and `autoCommitThreshold` you can control the frequency of the commits.

[2019-07-26 09:55] pimpelsang opened #447 "eachMessage timeouts and health checks"
Does eachMessage have timeout?

The default session timeout is 30s,

What if my single processing takes longer? Right now I get consumer group rebalance as it seems heartbeat is only sent between messages? Perhaps heartbeat should be independent?

[2019-07-26 09:57] pimpelsang commented on #446
so the vanilla

consumer.run({
    eachMessage: async ({ topic, partition, message }) => {
     ...
    })
});

will try to commit after every message?

[2019-07-26 09:59] Nevon commented on #447
`eachMessage` does not have a timeout. If you want that, you'll need to do it in userland. However, the heartbeat interval is essentially the "timeout", since if your `eachMessage` has not resolved within that time, the commit will be rejected.

The reason that heartbeat is not independent from the message processing is that it is intended as a healthcheck. If your consumer is not processing messa

[2019-07-26 10:01] JaapRood commented on #447
Note that when you use `eachBatch`, which exposes a `heartbeat` method, you'll have to be sure that you're only sending heartbeats when processing is actually still healthy and didn't get stuck.  Setting a `setInterval` for it might keep the session alive, but generally is just disabling the failure detection mechanism completely, allowing your processing to get stuck.

[2019-07-26 10:10] pimpelsang commented on #447
the heartbeat interval is very noisy as timeout as it causes all other partition consumers to rebalance as well. Right now with one bad message that processing takes over default 30s the entire consumer group falls into infinite rebalance loop.

[2019-07-26 10:13] pimpelsang commented on #446
got it, thanks

[2019-07-26 10:13] #446 closed

[2019-07-26 10:15] pimpelsang commented on #447
I can add timeout and Promise.race(), but it like feels something that the existing retry mechanism  should handle first and then maybe cause consumer group rebalance.

[2019-07-26 11:06] ankon opened #448 "'offset' parameter in seek and others is "string" but docs use a number"
I'm trying to work out the typing of the `offset` part of the seek call parameter: The documentation at https://kafka.js.org/docs/consuming#a-name-seek-a-seek shows this to be a number, which intuitively makes sense.

But, looking at the code https://github.com/tulios/kafkajs/blob/cef2676e32e773bbb2fbc0ebca51321dd03af70c/src/consumer/consumerGroup.js#L250-L261 it is annotated as `string`, which se

[2019-07-26 11:16] tulios commented on #448
Good question, the offset is an int64, so technically it is a number. When using `seek` or other methods that receive the offset you can always use the number, but integers in javascript only go up to 2^53 - 1 which is less than the regular 2^63-1, a real int64. KafkaJS will always parse int64 fields from the protocol into strings to avoid any precision loss, it will also convert javascript number

[2019-07-26 11:18] ankon commented on #448
Great, thank you!

[2019-07-26 11:18] #448 closed

[2019-07-26 12:17] JaapRood commented on #447
I'm not sure exactly what you're saying, but I think there might be some confusion about `heartbeatInterval`. This **does not** cause automatic heartbeats, it only prevents heartbeats to happen more than whatever that is set to. You still have to manually call `heartbeat` (exposed in `eachBatch`), that value only prevents from sending hundreds of heartbeats per second. If `heartbeat` is called in

[2019-07-26 12:20] JaapRood commented on #448
FYI: in case you might think you will run out of numbers, so need a string, but also what to do offset arithmetic, consider using [long](https://www.npmjs.com/package/long). It's what KafkaJS does to do so and gives all the basic operators you might need.

[2019-07-27 11:08] Rolandisimo commented on #418
@tulios I solved the issue. Actually, it was nothing more than an honest mistake on our side. All this time I thought it's  `consumer.connect` that causes the issue, whereas in reality it was an unhandled `consumer.subscribe`. I handled that and now everything is fine. Sorry for the confusion.

Part of the reason for this mistake were old types that we had. We had a mix of custom types and types f

[2019-07-27 11:18] Nevon commented on #418
The reasoning behind our release strategy is documented here: https://kafka.js.org/docs/pre-releases

As of yesterday, we publish pre-release versions on every push to master, that you can install via the beta tag.

[2019-07-27 11:29] Rolandisimo commented on #418
@Nevon Thanks for pointing it out. Where can I find a list of exact pre-release versions?

[2019-07-27 11:51] Nevon commented on #418
You can find all versions through npm: https://www.npmjs.com/package/kafkajs?activeTab=versions

[2019-07-27 12:40] Rolandisimo commented on #418
Awesome! Thanks @Nevon and @tulios

[2019-07-27 12:45] Rolandisimo commented on #418
@gygabyte I think your issue is the same as mine i.e. you have `this.consumer.subscribe` that is unhandled and is throwing. Add a `.catch()` or return it in `then` so that the `catch` block of `this._consumer.connect` can handle the error

[2019-07-28 22:21] julienvincent commented on #289
[https://journeyapps.com/](JourneyApps)

We are now using KafkaJS in three areas:

+ To power communication and data-replication between our many micro-services.
+ To power GraphQL subscriptions for real-time communication between client interfaces
+ To power real-time co-editing in our platform IDE

[2019-07-29 09:12] dhessler commented on #376
Also looking for this feature; is this possible with the current kafkajs apis?

In my case each consumer maintains state relative to a single partition, and I'm trying to assign each partition to a dedicated consumer (preferably without unnecessary rebalances).

[2019-07-29 11:43] tulios opened #450 "Raw HTML shows on the documentation right side"
This was caused by the docusaurus update, version `1.12.0` has the issue.

https://github.com/facebook/docusaurus/issues/1703

[2019-07-29 13:50] JaapRood commented on #376
You _can technically work_ around it and sort of get the behaviour you want, but it's not idiomatic Kafka (manual assignments would be, see #373):

- Create a consumer with a random `groupId` (uuid would work well).
- Subscribe to the topic you want to consume. You'll be assigned all the partitions, as you'll be theo only consumer in the group.
- Consume all messages through `eachMessage` or `each

[2019-07-29 16:58] ThisIsMissEm commented on #448
We could also use javascript's new BigInt type: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/BigInt

It's currently in stage 3 of ECMAScript specification, which means that it's being implemented in various javascript engines. It is available for Node.js >= 10

[2019-07-29 17:03] ThisIsMissEm commented on #443
@Nevon for my application, I am writing a CLI to produce messages into a set of Kafka topics. When working on the CLI, I had frequent crashes due to code just not working as expected; I also had some cases where I'd have to exit the CLI with ctrl+c as it'd get into a state where it'd think it was still waiting for kafka messages that it needed to consume in order to be able to produce a new state,

[2019-07-29 17:03] #443 closed

[2019-07-30 07:59] dhessler commented on #376
Thank you for the input @JaapRood,

Processing all partitions is not feasible in my case, so I came up with the follow:
- Create a manual partition assigner that ensures a consumer group is only assigned a single fixed partition
- Create a consumer with a fixed `groupId` for each partition (e.g., `group-0`, `group-1`, etc), configured with the manual partition assigner

At first glance, this imple

[2019-07-30 08:07] JaapRood commented on #448
Cool! Node v8 LTS ends December 2019, so that's not too far away 🎉.

[2019-07-30 08:09] JaapRood commented on #376
@dhessler nice one 👌 Reminds me of actually discussing something similar a while back, when I first ran into this (I didn't actually work around it at the time). Should be  the most efficient way of doing it at the moment, gets rid of all the extra fetching overhead.

[2019-07-30 11:53] tulios commented on #448
I tried `BigInt` some time ago, but it wasn't there yet, I have a branch somewhere here. I should look at it again; we would love to drop `Long` and have no dependencies.

[2019-08-01 07:52] tulios commented on #418
Thanks @Rolandisimo, I am closing the issue. @gygabyte feel free to re-open it if you think it's not the same issue.

[2019-08-01 07:52] #418 closed

[2019-08-02 12:46] IdanAdar opened #451 "Performance transparency"
Can someone publish workload performance for kafka.js compared to other packages?

[2019-08-02 15:11] AsyncLegs opened #452 "Is it possible check that Kafka client is successfully connected?"
For health check status checking purposes for example?

[2019-08-02 15:38] Nevon commented on #452
Just checking that the client is connected isn't really enough to say that it's healthy, but there are events that you can listen to in order to know the state of your consumer. https://kafka.js.org/docs/instrumentation-events#a-name-consumer-a-consumer

What we do for our applications is to check if the consumer has done a heartbeat within the configured `sessionTimeout`. However, this means that

[2019-08-02 15:45] AsyncLegs commented on #452
@Nevon Thanks for explanations! Sounds very useful.
This check just needed as very basic health check for an internal dashboard.
More complex health checks will be done with Kafka JMX exporter on the Kafka server side.

[2019-08-02 16:36] #452 closed

[2019-08-02 18:30] dhessler commented on #267
@Nevon I'm having a related issue in which a consumers will get stuck in this retry loop:
[code]

Manually restarting the app fixes the issue; I would like for the app to crash and exit if a number of retries fails.

PR https://github.com/tulios/kafkajs/pull/269 adds retry logic, but `retryCount` (from [here]( https://github.com/tulios/kafkajs/pull/269/files#diff-e10da800ffb75dc65a6f5c59205a5705R2

[2019-08-03 08:51] Nevon commented on #451
Duplicate of #398.

[2019-08-03 08:51] #451 closed

[2019-08-05 20:27] eliw00d opened #453 "IPs resolved from *.service.consul URLs seem to be cached"
We use *.service.consul URLs so that the IPs can be resolved during runtime to the correct Kafka brokers. However, we started noticing stale IPs whenever KafkaJS tried to connect. If we deleted the pods in k8s and created new ones, the IPs were correct.

I haven't really dug too deep into the source yet to know exactly where this happens, but maybe a configuration option would be nice to disable t

[2019-08-05 20:37] Nevon commented on #453
I haven't done any testing yet, so don't take this as an authoritative answer, but I would suspect that there's something in your environment that is caching the IP.

KafkaJS uses the Net and TLS modules to create sockets, which defaults to using the `dns.lookup` method to resolve domains. By default, that has no caching mechanism and just delegates to the OS.

[2019-08-05 20:55] eliw00d commented on #453
So, when we provide
[code]
where `process.env.BROKER` is something like `kafka-broker.service.consul:9092`, we then get error messages like:
[code]
But, when we remote into the pod and ping kafka-broker.service.consul:9092, we get the correct IP. The incorrect IPs having been valid at some point previously but are now stale.

It could very well be something else in our environment, but I'm not sur

[2019-08-05 21:12] eliw00d commented on #453
When you `.connect()` using something like `'kafka-broker.service.consul:9092'`, would it do a lookup at the time of connection and then only ever know about the resolved IPs from that initial connection?

[2019-08-06 05:51] Nevon commented on #453
The lookup would only happen when it tries to establish a connection, yes, so if the broker is replaced and the resolved IP changed, my assumption would be that the existing connection is closed and KafkaJS would try to reconnect, which _should_ mean that a new lookup is done - but this is only an assumption at this point (the lookup is done internally by Net/TLS.Socket, not by us, so I'm not 100%

[2019-08-06 07:37] tulios commented on #453
@eliw00d it works like this:

1) when the client connects the first time, it uses the brokers in the list to fetch metadata about the cluster
2) The metadata includes the ips of all nodes in the cluster, this information is cached and expires according to `metadataMaxAge`, which by default is 5 minutes. We also re-fetch metadata on some errors
3) The library will fallback to the original brokers (

[2019-08-06 07:40] tulios commented on #442
@ThisIsMissEm feel free to re-open the issue if you need.

[2019-08-06 07:40] #442 closed

[2019-08-06 07:40] tulios commented on #431
@gilesbradshaw do you still need help with this issue?

[2019-08-06 07:41] tulios commented on #447
@pimpelsang feel free to re-open the issue if you need.

[2019-08-06 07:41] #447 closed

[2019-08-06 07:41] tulios commented on #415
Fixed on #444, released on `v1.10.0`

[2019-08-06 07:41] #415 closed

[2019-08-06 07:42] tulios commented on #383
Improved on #394, we still have plans to improve the encoder/decoder performance. I will close the issue but feel free to re-open it if you need.

[2019-08-06 07:42] #383 closed

[2019-08-06 07:43] #376 closed

[2019-08-06 13:12] ThisIsMissEm commented on #442
For now we've opted to not go full kappa; the details on practically implement it just aren't there, and it sounds like kafkajs still needs features to make it properly work.

[2019-08-06 14:54] JaapRood commented on #442
@ThisIsMissEm seems like a wise decision, will save you a lot of time until we get better primitives. For my client projects we've developing such a framework, given the great potential the architecture has, but it's been a lot of work to really get a robust system going. I've actually started the extraction of that into an open source library last week here: https://github.com/jaaprood/frolyk (ac

[2019-08-06 15:44] miton18 opened #454 "Better error message when broker list is empty"
When, by a misconfiguration, you try to instantiate a `new Kafka({ brokers: [] })`

The error is not very easy to understand:
[code]

caused by https://github.com/tulios/kafkajs/blob/master/src/cluster/connectionBuilder.js#L24

we can easily check `brokers.length` before doing anything

[2019-08-06 17:35] eliw00d commented on #453
I know that we changed the dns_config to not allow stale reads and I'm pretty sure we don't have KAFKA_ADVERTISED_HOST_NAME configured anywhere.

I will try logging to see if that helps narrow anything down, and try to get some more information for you guys.

[2019-08-07 14:58] eliw00d commented on #453
So, I put some logging in and re-deployed the pod. Then, I deleted the brokers it knew about and tried to do a `producer.send()`. This resulted in connection timeouts for all of the previously resolved IPs (172.23.1.78:9092, 172.23.1.192:9092, 172.23.1.194:9092) but no attempts to do a new lookup (which would result in 172.23.1.110 and 172.23.1.182). One thing I found interesting is this log:
[cod

[2019-08-07 17:17] eliw00d commented on #453
Okay, so I finally dug through the source and found [this](https://github.com/tulios/kafkajs/blob/master/src/cluster/brokerPool.js#L124). So, if the nodeId matches the previous metadata's nodeId, it returns result without any changes. In our case, we reuse nodeIds, so it never gets a chance to check if the host and port match or assign new values to that broker.

Is this something on our end, wher

[2019-08-07 17:42] devshawn commented on #453
@tulios - In response to your points made above:

This should likely refetch metadata if a broker connection fails. Otherwise, if a broker IP changes (such as when hosted in Kubernetes), you could have up to 5 minutes of a missing broker (or more).

This can be dangerous. It should likely fallback to the original bootstrap servers and do another metadata lookup. See https://issues.apache.org/jira/

[2019-08-07 18:09] tulios commented on #453
@devshawn Seed brokers in this case = original bootstrap servers

@eliw00d we can consider this a bug, if `nodeId`, `host` and `ip` are the same we should reuse the broker, otherwise we should replace.

[2019-08-07 18:23] eliw00d commented on #453
I don't know how often rack would change, if at all, but since it's used [here](https://github.com/tulios/kafkajs/blob/master/src/cluster/brokerPool.js#L140) would it be safe to ensure that is criteria for replacing as well?

[2019-08-07 20:09] eliw00d commented on #453
What would be a good workaround for this in the interim?

[2019-08-08 05:09] danielsinai opened #456 "Read from earliest"
Hi,  thanks for this great lib.
Recently I wanted to reflow all the messages with the same consumer group from a topic.
I saw this question in #139 , but the solution isn't really stable in case of adding more parttions for example.
Would love to hear maybe there's any other way I can do it, thanks :)

[2019-08-08 07:31] JaapRood commented on #456
With "reflow" do you mean "consume from the beginning"? If that's the case using `consumer.seek`, as mentioned in #139, is the only way of doing so while a consumer is already running. Can you maybe explain with what you mean by "the solution isn't really stable in case of adding more parttions for example", I'm not sure what problem you're running into exactly.

[2019-08-08 08:18] danielsinai commented on #456
Yea of course, what I meant is that partitions may grow during my consumer is running, so I cant foreach on all of the partitions. Because I dont know the IDs of the new ones

[2019-08-08 08:33] tulios commented on #456
@danielsinai that's not a problem, you can get the low offsets of the topic and seek to the beginning.

[2019-08-08 09:44] miton18 commented on #454
Proposal #458

[2019-08-08 10:32] JaapRood commented on #456
This seems to be a problem in timing of _when_ to call `consumer.seek`, which is hard to reason about for me with any more information.

If you're just trying to reset the committed offsets once, but are just concerned about not hardcoding in which partitions to do that for (as that might be different from cluster to cluster, or within a single cluster at different points of time), you can use `aw

[2019-08-08 11:48] #453 closed

[2019-08-08 11:57] tulios commented on #453
@eliw00d we have the pre-release `1.11.0-beta.1` with the fix (PR #457), give it a try.

[2019-08-08 16:22] eliw00d commented on #453
@tulios
It works! Thank you! With idempotent on it actually times out our request, but succeeds in the background. So, we'll just have to figure that out separately. Thanks again!

[2019-08-08 16:48] danielsinai commented on #456
That's helps alot, thanks !

[2019-08-09 06:58] gilesbradshaw commented on #431
Hi - I need to do a few experiments - basically to reassure myself that it's impossible for messages to be auto committed without them having been handled.  For instance if they were queued up waiting to be handled.  The crucial issue is whether I can guarantee all messages are handled.  I'll get back to you if I find any issues - thanks for your help.

[2019-08-09 07:39] Nevon commented on #456
This seems to be resolved, so I'm going to close this. Feel free to re-open the issue if you run into problems.

[2019-08-09 07:39] #456 closed

[2019-08-09 07:40] Nevon commented on #431
This seems to be resolved for now, so I'm going to close this. Feel free to re-open it if you run into any issues.

[2019-08-09 07:40] #431 closed

[2019-08-09 22:00] talam opened #461 "fetchTopicOffsets throws error when destructuring"
I had a simple publisher/consumer setup running using a similar docker compose file setup to the one found in this repo and noticed that this [code threw ](https://github.com/tulios/kafkajs/blob/dc0a942e4ce38bf37dfb95c369c6fdee4b91c08e/src/admin/index.js#L209) a destructing error. I don't have the exact error as i didn't copy it before my consumer's stdout log overwrote it in my terminal window du

[2019-08-10 08:16] Nevon commented on #454
Fixed in #460.

[2019-08-10 08:16] #454 closed

[2019-08-10 08:16] #375 closed

[2019-08-11 10:24] Borewit commented on #311
This related to feross/buffer#237, maybe caused by webpack/node-libs-browser#93

[2019-08-11 10:36] Borewit commented on #307
The error thrown if the offset is not provided is most likely related to feross/buffer#237

[2019-08-12 15:58] LakhsmiC opened #463 "Incompatable protocol issue"
Hello Team , i am unable to connect to consumer groups from Java . Is there any incompatable issue with Java?
I am seeing this issue when i first connect to the consumer group with Nodejs client and then if some one uses the same consumer group and conencts with Java we are seeing these issues. I a way 1 consumer group is unable to consume from 2 different clients Java and Nodejs at the same time.

[2019-08-12 16:31] JaapRood commented on #463
I'm not sure which protocols KafkaJS doesn't support (@tulios will) that the Java consumer does, but just more overall seen can't imagine it's a wise idea of have clients from 2 different sources join the same consumer group.

_ConsumerGroup_s are meant as a way to split up the processing of certain topics between multiple nodes, assigning a bunch of partitions to each one. It's for the coordinati

[2019-08-12 16:32] Nevon commented on #463
First: I've never heard of someone joining the same consumer group with consumers implemented in different languages, though. It sounds _extremely_ unusual to me. Theoretically it should be possible to have members in different languages, but I don't see any reason why you would want to.

--

Now, to the actual issue.

Whenever a new member joins a group, it needs to support the same assigner prot

[2019-08-13 09:25] ankon opened #464 "RecordMetaData type vs Kafka protocol versions"
https://github.com/tulios/kafkajs/blob/bb0e9fa9fe54adfd7aec22daa4c5a61358eeb424/types/index.d.ts#L408-L414 has `RecordMetaData` with a `offset` field.

When testing KafkaJS I noticed that I didn't get that field, and instead I saw this:
[code]

I now went through KafkaJS to figure out where that came from, and it's basically a result of different Kafka protocol versions (see https://github.com/tul

[2019-08-13 10:05] tulios commented on #464
This issue is related to #43; the better approach is to abstract the Kafka result and return a different entity. We can have the union, for now, I would say keep the types in the `index.d.ts`, we can always break them later.

A PR would be awesome, thanks.

[2019-08-14 09:42] funduck commented on #398
## Write
I made a comparison
[bench_kafka_drivers.txt](https://github.com/tulios/kafkajs/files/3500573/bench_kafka_drivers.txt)

### Usage difference
#### node-rdkafka
Config
[code]
And you cant just produce as much as you want, you will catch an error, when internal queue is full - it means you need to `poll()`
[code]
#### kafkajs
[code]
### Runs and results
`HP laptop core i-5 with Linux mint 18

[2019-08-14 10:42] IvanovOleg commented on #370
Any updates?

[2019-08-14 11:23] Nevon commented on #398
Interesting results! I'm quite sure that serialization and deserialization is a huge bottleneck for us, that could be improved _relatively_ easily by utilizing buffers in a less wasteful way.

I'm very surprised to see that we are reading messages equally as fast as node-rdkafka. I would suspect that actually it's due to limitations on the broker side, rather than on the consumer side.

[2019-08-14 12:23] JaapRood commented on #398
Having a bit of experience with producing messages in _node-rdkafka_: the producing API is fully asynchronous and batched, with no promises or callbacks to indicate whether producing was successful. Although I'm sure there's other bottlenecks in KafkaJS, this fire and forget strategy wins you a lot (as described in [the reasoning for it it here](https://github.com/edenhill/librdkafka/wiki/Sync-pro

[2019-08-14 13:30] funduck commented on #398
Well.. producing 10000 messages and then waiting for delivery callbacks for all of them works like this (node-rdkafka producing became 2 times slower)
[code]
Making this king of benchmark is not really correct because `poll interval` has a huge impact, small batches of messages are delivered almost as fast as big batches, and delivery time almost equals `poll interval`.
So to receive delivery call

[2019-08-14 14:04] Brazier85 opened #465 "Add ACL functions to admin client"
Hello, following up from #111. Can you add the following functions to the admin client?
- CreateAcls
- DeleteAcls
- DescribeAcls

This would really help me administrating my secure kafka cluster.

[2019-08-14 15:08] bobzsj87 commented on #370
I switched to kafka-node

[2019-08-14 15:36] eliw00d commented on #384
@JaapRood What are the other issues with exactly-once producing?

[2019-08-14 19:34] StevenLangbroek commented on #289
We ([Quandoo](https://www.quandoo.com/) are writing our first service with it now.

[2019-08-15 09:43] JaapRood commented on #384
@eliw00d I only tried it once, while there were also some other bugs in our own processing framework and kafkajs (that since have been resolved), so I could never pin it down to something specific I could recreate. That said, I also never tried again, with priorities going elsewhere. [This thread on the KafkaJS Slack has the few details:](https://app.slack.com/client/TF528A1BJ/CF6RFPF6K/thread/CF6

[2019-08-15 19:32] eliw00d opened #469 "The producer attempted a transactional operation in an invalid state"
So, using the example given [here](https://kafka.js.org/docs/transactions), I tried to set up a transactional producer.

client:
[code]
transaction:
[code]
As long as I send and commit without issue, it works. However, if any error is thrown, and abort is called, I get the following error:
[code]
[code]

To better illustrate the issue, I even tried:
[code]
with the same result.

Is this a bug or a

[2019-08-16 15:38] eliw00d commented on #469
Actually, I realized that this is probably intentional since there would be nothing to abort if send was never called. However, in our case, the try/catch wraps a database transaction and we want to ensure that if the database transaction fails we abort or cancel the producer transaction as well.

Maybe this could be a feature request for something like `transaction.isAbortable` that we can call b

[2019-08-17 18:49] ThisIsMissEm opened #472 "Authenticating with SASL PLAIN results in ILLEGAL_SASL_STATE error from kafka"
I think I've properly configured kafka to use SASL, and the credentials are correct; however, kafkajs fails SASL authentication at the handshake stage. The logs are as follows:

[code]

Any ideas what could cause this?

My kafka server is setup with the follow environment variables (docker):

[code]

[code]

I've tried connecting with both admin/admin-secret and alice/alice-secret, neither gets pa

[2019-08-18 02:46] ThisIsMissEm commented on #450
Hopefully, my patch to Docusaurus will be accepted and then we can have this:

<table>
  <tr>
    <th>Before</th>
    <th>After</th>
  </tr>
  <tr>
    <td><img width="290" alt="Screenshot 2019-08-18 at 04 35 36" src="https://user-images.githubusercontent.com/30827/63219405-b1cd5580-c171-11e9-8ec3-7dda7878ac3d.png"></td>
    <td><img width="291" alt="Screenshot 2019-08-18 at 04 35 26" src="https:/

[2019-08-18 02:47] ThisIsMissEm commented on #450
Though, also, we may not actually need those `<a name="..."></a>` tags anymore

[2019-08-18 04:52] ThisIsMissEm commented on #472
Turned out that I hadn't configured kafka in docker correctly, and as such, it literally wasn't expecting a saslHandshake 🤦🏻‍♀️

[2019-08-18 04:52] #472 closed

[2019-08-18 07:44] Nevon commented on #450
The only reason we want to keep them is that some error logs that we output contain links to help sections, so we need the anchors to be stable. We don't have that guarantee with the autogenerated ones, especially since we'd want the anchor to stay the same even if we change the actual title text.

[2019-08-18 13:14] ThisIsMissEm commented on #450
@Nevon okay, this totally makes sense. In which case, my patch will fix the issue. Perhaps you'd like to give it a review?

[2019-08-19 07:57] ankon opened #476 "Changing subscriptions for a running consumer"
Based on a short slack exchange (https://kafkajs.slack.com/archives/CF6RFPF6K/p1565968461032400), it seems desirable to change the subscriptions of a running consumer.

In our case we want do that because:
a) for historic reasons we share the consumer group between otherwise independent topics that are only discovered over time
b) it should require less resources (connections, buffers, ...) overal

[2019-08-19 08:00] JaapRood commented on #476
I imagine the changes required for this would be pretty similar to #373, as both basically require the consumer being able to deal with changing assignments (wether manually assigned or received through subscription). Good thing to keep in mind and prevent a duplication of efforts :)

[2019-08-19 08:02] ankon commented on #476
I could probably share our piece of code of handling this, but it's likely easier to just describe it :)
We have a small wrapper around per-topic consumers sharing a single KafkaJS consumer reference. Changes to subscriptions are handled by enqueuing a request for that ('subscribe' + topic/'unsubscribe' + topic), and then accumulating these requests for 0.5s (smaller time than the cost for re-join

[2019-08-19 10:17] JaapRood commented on #476
@ankon just for my understanding, would it be fair to summarise your approach as the pooling of consumers?

[2019-08-19 16:28] gygabyte commented on #418
sorry for the delay, but only had time now to look into this again.
I have refactored this code to catch all exceptions, but I am still seeing this issue. but again, only if I have multiple consumers trying to connect simultaneously.

also, this notation
[code]

is already returning the promise. the one liner lambda-like function implicitily returns the result.

I believe it is not the same issue

[2019-08-20 09:06] ankon commented on #476
@JaapRood yes, that's a fair description.

[2019-08-21 16:08] ThisIsMissEm commented on #298
You can fairly easily wrap the Consumer with a stream — I did similar but with events here, to build an RPC over Kafka thing (which you absolutely shouldn't use): https://gist.github.com/ThisIsMissEm/bacfa4b3b116f9d90e778d19ac6ccaaf

[2019-08-22 06:01] Rolandisimo commented on #418
Try this @gygabyte and let me know if it works:
[code]

[2019-08-22 10:16] gygabyte commented on #418
@Rolandisimo this exception is occurring before subscribing.

I now have the connect step like this:

[code]

and I am still getting the same exception I reported, but only for one of them. and again, this only occurs if I have multiple consumers trying to connect.

I also the subscribe step now implemented the same way as it wasn't recovering if the topic didn't exist.
I have in fact uncovered a

[2019-08-22 12:40] Rolandisimo commented on #418
I can't be sure about the whole repository you have, but from the code example above, I'd say it's because of `this._consumer.connect()` not having a `then.catch`. In fact, I'd try to add `then().catch()` to every async operation you do and see at what point the issue is solved.

[2019-08-22 16:03] gygabyte commented on #418
@Rolandisimo I've already tried that, same result as expected.

Node.js promises don't require the .catch to be like that. As long as there is a .catch on the chain, the exception will be caught.

The code I have there, I am returning the Promise from connect and pass it down the chain. Then there is a .catch issuing a retry if the Promise is rejected.

The issue here, the Promise is correctly rej

[2019-08-22 16:18] eliw00d commented on #469
Update
---
I noticed this in the logs:
[code]
Somehow it went from TRANSACTING to COMMITTING but I never called `await transaction.commit()`...

[2019-08-22 21:57] Rolandisimo commented on #418
@gygabyte Do you think you could make a small demo repo with this issue? I believe that would also help the contributors

[2019-08-23 07:25] crapthings opened #479 "can't connect to broker"
i just copied the code from readme.md

and change the broker address to localhost:9092

but why the server address like this ?

broker":"f43be2dafb3b:9092",

btw i use this one to start kafka
https://hub.docker.com/r/bitnami/kafka

[code]

[code]

[code]

[2019-08-23 07:28] tulios commented on #479
Hi @crapthings, your setup is advertising the docker hostnames. Kafka has a configuration for that, so it can correctly pick up the host IP. Try setting the `KAFKA_ADVERTISED_HOST_NAME` to the host IP.

[2019-08-23 07:32] tulios commented on #418
@gygabyte a small demo would help us a lot, and I had a hard time reproducing this issue. We have a lot of projects using multiple consumers in production, and we can't see the issue there.

[2019-08-23 09:14] crapthings commented on #479
for now i can make the example code working with the docker-compose file from this repo.

https://github.com/tulios/kafkajs/blob/master/docker-compose.2_2.yml

![image](https://user-images.githubusercontent.com/1147704/63581268-40eec900-c5c9-11e9-9a4c-a800f27c1b70.png)

but why it takes such long time to receive message?

[2019-08-23 12:08] tulios commented on #479
The consumer was rebalancing, so I guess that the group was already active when this instance joined. It's fast if it's a stable group. Maybe you had previous attempts and the consumer never properly left the group.

[2019-08-23 14:43] tulios commented on #469
Yeah, sorry. Github closed it after the merge.

[2019-08-24 16:46] ThisIsMissEm opened #480 "When using Promise.all to start connections, Kafka Broker times out"
I had some code that essentially started two Kafka consumers (each for different topics), when doing:

[code]

I'd receive errors (via logs) about the Kafka broker being unable to be connected to, but only for one of the consumers.

Finally, I changed it to:

[code]

And everything worked as expected.

The consumer start() code is essentially just:

[code]

My gut feeling on this is that there's s

[2019-08-24 16:50] ThisIsMissEm commented on #480
Perhaps further on this, what's the difference between `await consumer.run({` and `consumer.run({` — the docs use both, but aren't clear as to why you wouldn't want to `await` the promise from `consumer.run()`

[2019-08-26 07:38] JaapRood commented on #480
Sounds like it, right? The first thing I wondered after this suggestion is whether the consumers are identical (subscribe to the same topics, etc.). That might be some useful info for whomever is going to dig into this.

[2019-08-26 08:32] ThisIsMissEm commented on #480
Nope, totally different consumers (different topics & group-id's). I could probably try digging into it further, initially I thought it was an issue with my local kafka only having one broker (docker) so I added another, still didn't fix the issue: one consumer still failed repeatedly.

I also thought maybe it was due to a topic not existing, so I added admin code to ensure the topics existed, sti

[2019-08-26 15:47] Sudheer312 opened #481 "How to tweak the consumer fetch interval"

[2019-08-26 15:48] tulios commented on #481
Hi @Sudheer312 , what is the issue?

[2019-08-26 15:49] Sudheer312 commented on #481
Hi @tulios  ,  How can i control fetch interval as i cannot poll when ever i want like in java clients??

[2019-08-26 16:54] tulios commented on #480
@ThisIsMissEm we have a similar code running, and so far we haven't seen any issues. KafkaJS establishes a connection with each broker it has to interact, and due to the way the authentication mechanisms work it has to syncronize the connection.

So following your code:
1) `connect` will lock the connection to the specific broker, establish the TCP connection, fetch the available versions and exec

[2019-08-26 16:55] tulios commented on #481
@Sudheer312 the API different than the Java API. You can use `eachBatch` and then `pause` the consumer after you receive the batch. After processing the batch, you can call `resume` to unblock the consumer. KafkaJS doesn't have a `poll` or `fetch` API, although we are considering adding such a feature at some point.

[2019-08-26 17:02] Sudheer312 commented on #481
How to control the batch size? is there any parameter like no of messages per batch that i can recieve?

[2019-08-26 21:28] tulios commented on #481
Take a look here: https://kafka.js.org/docs/consuming#a-name-options-a-options

You can configure `maxBytes` and `maxBytesPerPartition`, so if you know more or less the size of your messages, you can control the size of the batch. The Java client uses the same constraints to fetch data, but it discards the overflow and returns the number you requested.

If you care about the number of messages, yo

[2019-08-27 21:32] ThisIsMissEm commented on #480
Here's what the full log looks like (I've just changed a few names/verbs to redact internal information, the log is still consistent with what I see)

[code]

[2019-08-27 21:35] ThisIsMissEm commented on #480
That was with the `await` on `consumer.run` removed. Even increasing the authenticationTimeout to 10,000 has no effect. We're usually operating against a single broker (development + staging environments, in production, we do have more brokers, but we still would like to see things reliable in our non-production environments.

[2019-08-28 08:43] tulios commented on #480
I can see that you are not using authentication in your test environment, so the `authenticationTimeout` won't be used. It's common for a single broker to delay things a bit, try to increase the `connectionTimeout`, the default value is 1s.

[2019-08-28 09:00] ThisIsMissEm commented on #480
Aha! Okay, yeah, increasing the connectionTimeout up to 10,000 helped, and the service started as expected. What’s a generally good amount of time to allow here? 1 second seems too low

[2019-08-28 11:12] tulios commented on #480
I don't know how to answer that :D
We have our services colocated with the Kafka cluster on AWS, so they have minimal latency. Since KafkaJS have long-lived connections, I would say that more significant value is not the problem, we need a timeout to catch connectivity errors or machines going down.

I think `10s` looks good, we keep the defaults small so you have to think about your setup, but ma

[2019-08-28 11:19] JaapRood commented on #480
Having worked with time-outs before in previous deployments with other kafka clients: it should be less than the session timeout to prevent big issues, but network latency is definitely something to be tolerated too. We actually found `10s` to be a good trade-off as well!

[2019-08-28 15:36] Sudheer312 commented on #481
hi @tulios ,
tried the way you suggested . But it is running into infinitely consuming the same messages. this code is deployed in 2 server (2 consumers).

function sleep(time) {
  return new Promise(resolve => setTimeout(resolve, time));
}

const run = async () => {
  await kafkaConsumer.connect();
  await kafkaConsumer.subscribe({ topic: consumingTopic });
  await kafkaConsumer.run({
    autoCom

[2019-08-28 16:52] tulios commented on #481
Hi @Sudheer312 , take a look at the docs for `eachBatch`. There are a couple off issues with this code:

1) `await commitOffsetsIfNecessary()` you probably want to do this after you have processed the batch
2) When using `eachBatch` you have to resolve your offsets, otherwise, they don't advance and the client won't fetch the next batch

something like:

[code]

but given your example, I think `ea

[2019-08-28 18:56] eliw00d opened #485 "UNKNOWN_PRODUCER_ID error non-retriable"
So, we started running into this error:
[code]
which is set to a non-retriable error. However, according to https://issues.apache.org/jira/browse/KAFKA-7190, this should be a retriable error.

Other than changing [this](https://github.com/tulios/kafkajs/blob/master/src/protocol/error.js#L381) to true, what can be done to remedy this from the client's/producer's perspective? Disconnect, reconnect,

[2019-08-29 15:10] syncush opened #486 "[Question] Can I assign a consumer to a specific partition ?"
We would like to ditch kafka-node in favor of kafkajs, is it possible to assign a consumer to a specific partition?

I would like to be able to write something like this:

[code]

#373 Found a related issue, I couldn't find the project which indicates the progress of the feature request

[2019-08-29 19:43] ThisIsMissEm commented on #298
That said, I think it'd be very interesting to have a `consumer.runBatch` and `consumer.runEach` which return an [async iterable](https://jakearchibald.com/2017/async-iterators-and-generators/), as then you could write code like:

[code]

[2019-09-06 01:48] irissoftworks commented on #260
I actually stumbled across this in a funny scenario - as pointed out by @tulios this is related to old consumers not acknowledging the rebalance.

The slow rebalancing occurred to me while using nodemon because I was missing the consumer.disconnect code below on process exit, and consumers were being left behind unresponsive, instead of gracefully disconnecting.

This code is from the consumer exa

[2019-09-06 02:23] jasine commented on #403
any progress on this issue?

[2019-09-06 07:38] Nevon commented on #260
Indeed. During testing, you also need to disconnect your consumers. You can also make sure that you use unique groupIds during each test run, so that even if you forget to disconnect it shouldn't impact the other tests.

Sure. A section on disconnecting could be useful. Feel free to open up an issue and someone will get to it eventually.

[2019-09-06 15:29] gimbalgambit opened #488 "Unable to react to errors during consumer disconnect"
The Consumer `disconnect()` method (and the `stop()` method it calls) swallows errors, making it hard to know when a consumer hasn't cleaned disconnected. Instrumentation in the catch-blocks and/or resolving the promise with the error have both been [mentioned in slack](https://kafkajs.slack.com/archives/CF6RFPF6K/p1567714646042700) as options for bubbling these errors up.

[2019-09-06 20:16] jkerivan opened #489 "Unable to build Producer crypto.getRandomValues is not a function"
When following the Getting Started section I am getting the following error and I am not sure why?  I have tried both node v10.16.0 and node 8.

Error occurred:  TypeError: crypto.getRandomValues is not a function
    at Object.randomBytes (/Users/me/workspace/test-project/node_modules/kafkajs/src/producer/partitioners/default/randomBytes.js:4:31)
    at module.exports.size (/Users/me/workspace/te

[2019-09-07 14:32] irissoftworks opened #490 "Documentation around disconnects is vague"
There are a few use cases in which not handling process exit signals and / or not correctly disconnecting consumers will cause undesirable side effects.

As discussed in https://github.com/tulios/kafkajs/issues/260 slow group rebalancing can occur when running integration tests, or when using nodemon or other process managers such as pm2, which will leave behind unresponsive consumers who won't ac

[2019-09-09 06:38] Nevon commented on #489
Are you perhaps running in the Node REPL? If so, this was fixed in #462. You can try running the pre-release version `1.11.0-beta.10` to see if that fixes it.

[2019-09-09 15:48] yunfan opened #491 "value of `offset` out of range while acting as producer"
hi i got a strange problem while acting as producer

my code hasnt changed, while now i cant send as producer, it will throw errors like
[code]

and here is the code snips

[code]

[2019-09-09 16:07] yunfan commented on #491
btw, the same kafka server and topic works on python with confluent_kafka lib

[2019-09-09 18:36] jkerivan commented on #489
That was it thank you for your help

[2019-09-09 18:36] #489 closed

[2019-09-10 09:18] Nevon opened #492 "Allow SASL Connections to Periodically Re-Authenticate"
#445 aims to introduce a way to get the SASL credentials dynamically, but it doesn't address the issue of knowing _when_ to re-authenticate.

[KIP-368](https://cwiki.apache.org/confluence/display/KAFKA/KIP-368%3A+Allow+SASL+Connections+to+Periodically+Re-Authenticate) introduces a new version of the SASL_AUTHENTICATE API that includes a new `session_lifetime_ms` field, indicating how long the auth

[2019-09-10 15:12] tulios commented on #491
Hi @yunfan, can you set the log level to `debug` and share some of the buffers with us?
You can take a look here: https://kafka.js.org/docs/testing#logging

[2019-09-10 20:35] jasontobsec opened #493 "Downgrade some error messages to warning"
Some interactions between the consumer and Kafka are expected/normal behaviors.  For example, adding or removing a consumer from a consumer group would require a rebalance.  This is a normal behavior and we should not log an error, which may set off unnecessary alarms.
for example: https://github.com/tulios/kafkajs/blob/master/src/consumer/runner.js#L324-L331
`
        if (isRebalancing(e)) {

[2019-09-11 02:29] yunfan commented on #491
@tulios sorry here comes the logs after enable debug
[code]

[2019-09-11 06:30] tulios commented on #491
Hi @yunfan, you need to run with the environment variable `KAFKAJS_DEBUG_PROTOCOL_BUFFERS=1` for KafkaJS to log the protocol buffers, but looking at the error I believe that you are running a version of Kafka that we don't support. Are you running Kafka 0.9 or earlier?

[2019-09-11 08:00] tulios commented on #488
Thanks @gimbalgambit

[2019-09-11 08:03] tulios commented on #486
Hi @syncush, not yet. We are planning to support manual assignment soon. You can write your own assigner to do that, but I would wait for the manual assignment feature.

[2019-09-11 12:33] yunfan commented on #491
@tulios yes, its kafka 0.10+

[2019-09-11 12:44] tulios commented on #491
Do you know if you run `0.10.2`, because the API version protocol was introduced in `0.10.2`. We should update the docs and mention that. Can you also provide the protocol buffer logs? it will be easier to debug the problem

[2019-09-12 01:53] yunfan commented on #491
@tulios sorry for the lately reply here comes the buffers enabled log
[code]

[2019-09-13 21:40] yangshun commented on #450
I see. I was wondering why you didn't use the autogenerated anchors and instead manually wrote your own. As a suggestion I think it'll be better to shift those anchors to the end of the heading to prevent it from taking up space. Currently by putting it at the start it takes up some one letter space (the pink highlighted "text"):

<img width="479" alt="Screen Shot 2019-09-13 at 2 39 50 PM" src="ht

[2019-09-13 21:56] ThisIsMissEm commented on #450
Oh! Good point, we could do thar, but we'd still see anchors in the page's ToC without the docusaurus patch linked above

[2019-09-13 21:57] yangshun commented on #450
Yep, just merged your PR. Thank you! 😄

[2019-09-13 22:00] ThisIsMissEm commented on #450
Amazing! Thanks ✨

[2019-09-13 23:06] tulios commented on #450
Fantastic! Thanks @ThisIsMissEm @yangshun

[2019-09-15 06:50] dhineshpandiyan opened #499 "Add listConsumerGroup method in Kafka admin"
We need method to check whether consumer group is already exist or not before creating consumer group instance using kafka consumer.

[2019-09-16 05:57] appsolutegeek opened #500 "Consumer Events - knowing which are fatal to expose the data to a health endpoint?"
Hi,

I am currently exposing a health endpoint which returns a boolean if kafka is healthy, i use the heartbeat event here to detect if the last heartbeat was greater than the session timeout.

If i class it as being healthy, i would like to expose the last event of the issue.

I am seeing the following events

I think CRASH is obvious, and this is an ERROR, Connect and Disconect,  i presume can h

[2019-09-16 10:00] Nevon commented on #500
Stop happens when you call `consumer.stop` or when the consumer is disconnecting (such as when you call `consumer.disconnect`).

The crash event is triggered whenever there is an unhandled error. It should always be triggered when there is something that KafkaJS cannot deal with and has to restart. That doesn't mean that this is the only scenario in which your consumer is unable to do its job. For

[2019-09-16 10:20] appsolutegeek commented on #500
Great! Thanks for the prompt reply.  Much appreciated. I will look into describeGroup.

[2019-09-16 10:20] #500 closed

[2019-09-16 12:36] #492 closed

[2019-09-16 12:57] OlegPoberegets opened #501 "Kafka client reconnection failed"
Hello!!!

We had a problem with consumer reconnection after a network shutdown.
We use `"kafkajs": "^1.10.0"` with consumer configuration:
[code]

We have a listener for CRASH event and a reconnection logic.
[code]

And we have wrapped internal KafkaJS logs, but only WARN level:
[code]

After `[RequestQueue] Response without match` we didn`t receive any logs from client and any events.

Can you he

[2019-09-16 13:03] Nevon commented on #501
You should not be changing the connection state from within the crash event handler. We already take care of restarting the consumer in the event of a crash. The crash handler is only for doing things like logging or other cleanup work that you need to do.

[2019-09-16 13:17] OlegPoberegets commented on #501
Yes, but I had a few cases when a restart wasn't running.
Then I find this line https://github.com/tulios/kafkajs/blob/master/src/consumer/index.js#L257

[2019-09-16 13:51] tulios commented on #501
@OlegPoberegets can you share one of these cases? Because if the error is not retriable, there is nothing KafkaJS can do to recover, it has to bubble up to userland. KafkaJS already cover all the cases for non-retriable but within the consumer life-cycle.

[2019-09-16 14:14] OlegPoberegets commented on #501
@tulios sorry, but logs with a non-retriable error was lost.
I remember that it was an error in lock.js. But I don`t 100% sure

I found a bug in my restart method because do `await this._vssMessageConsumer.connect();` after
`await this._vssMessageConsumer.disconnect();` is not enough

[2019-09-17 16:01] jasonr44 commented on #469
Hey all,

Anyone actively working on this? Trying to look into it a little on my end as it as become an issue in a current project.

[2019-09-17 16:08] konapun commented on #469
(Disclaimer: I'm not a kafkajs maintainer) I've looked into this a bit and it looks like the error is caused by the kafka backend not transitioning to a transacting state until `producer.send` is called so if the kafkajs client attempts to abort a transaction before the send is attempted you'll receive that error.

To get around this I'm wrapping the abort in a try/catch and swallowing the error i

[2019-09-17 22:10] tulios commented on #469
Hey @ankon thanks very much for the workaround. @jasonr44 we will work on this in October, right now the whole team is off on vacation.

[2019-09-18 13:11] Durairaj commented on #481
@tulios Is someone working on the above feature? Let me know if u welcome any PR on the issue?

[2019-09-18 20:32] #450 closed

[2019-09-18 21:49] ThisIsMissEm commented on #450
@Nevon ha, you beat me to it; Had doing that PR to update docusaurus on my todo list for this week :D

[2019-09-19 01:40] yunfan commented on #491
@Nevon thanks, and yes, the target server is not the origin kafka server but they claimd they had compatibles with the origin, i think you had catch their tail

[2019-09-19 07:19] Nevon commented on #450
Seeing that messed up sidebar had annoyed me greatly. Thanks for taking care of it!

[2019-09-19 07:34] Nevon commented on #481
No one is currently working on that, and it's not something that we've planned to work on in the near future.

Before receiving a PR, I would prefer that we discuss the use case and proposed API. We are not interested in just reproducing whatever the Java API does, unless there's a use-case that we currently don't solve for and their API solves the problem in a usable and idiomatic way. So far I d

[2019-09-19 09:14] Durairaj commented on #481
Right, makes sense. Is there any way how to consume next messages in offset? I think java has that API right? I want to replicate the same behaviour as in Java client to port something to Nodejs. what u think?

[2019-09-19 09:49] ThisIsMissEm commented on #450
Ha, same here Tommy, same here 😊

[2019-09-19 18:46] JohnCMcDonough opened #503 "SNI Support by Default"
It seems like by default, TLS/SSL connections don't use SNI when connecting to the Kafka Brokers.

I know that we could create a new Socket Factory as done below, but it seems like the TLS `servername` should be set by default when connecting to any of the brokers. Is there any downsides to just assuming the `servername` from the host and using that?

For example, changing the socketFactory.js to

[2019-09-20 06:20] hoanghiep1x0 opened #504 "kafka not working with consumer subscribe multi topic"
I cannot listen to many topics at the same time

`const { Kafka } = require('kafkajs')

const kafka = new Kafka({
    clientId: 'my-app',
    brokers: ["localhost:9092"]
})

const topic = 'topic-test'
const consumer = kafka.consumer({     groupId: 'email', })

const run = async () => {
    await consumer.connect()
    // await consumer.subscribe({ topic })
    await consumer.subscribe({ topic: 're

[2019-09-20 06:45] hoanghiep1x0 commented on #504
Sorry, I seem to have found an error because another consumer was listening to the same topic.

[2019-09-20 06:45] #504 closed

[2019-09-23 05:56] ramesius opened #506 "Incorrect normalisation of SASL SCRAM password"
Stumbled across this when trying to authenticate with kafka using SASL SCRAM. It took quite a bit of debugging but narrowed down some problematic characters that were common across broken password. The characters being `,` and `=`.
Turns out KafkaJS incorrectly normalised the password using along with the username. However the RFC referenced in the source code https://tools.ietf.org/html/rfc5802#s

[2019-09-23 07:16] #506 closed

[2019-09-25 12:41] manjabes opened #507 "How should one perform orderly shutdown with committing offsets?"
I'm experimenting with kafkajs and was wondering if there is a "built-in" way of shutting down the consumer and committing offsets.

So, suppose I'm doing something like this:

[code]
and then want to add a signal handler for orderly shutdown

[code]

there the disconnect() will stop the consumer, leave the consumer group and disconnect from the broker. But not commit the offsets.

Theoretically I

[2019-09-25 12:58] tulios commented on #507
Hi @manjabes , you don't have to do anything manually. The library will constantly commit the offsets and `disconnect` will wait for your consumers to finishing processing and then it will commit the offsets, leave the group and close the connection. You just have to `await` for disconnect.

[2019-09-25 13:02] JaapRood commented on #507
@tulios is that behaviour dependent on `autoCommit` having been enabled?

[2019-09-25 13:10] tulios commented on #507
Yes @JaapRood , only if `autoCommit` is enabled, but it is enabled by default.

[2019-09-25 13:13] manjabes commented on #507
@tulios note that I've disabled `autoCommit` because normally I wouldn't want to commit after each message. In that case (only relying on `autoCommitInterval`) the offsets will not automatically be committed (I've verified this by consuming the  `__consumer_offsets` topic).
The debug log of kafkajs from the shutting down process:

[code]

the code for which is:

[code]

As can be seen, no offset c

[2019-09-25 13:23] tulios commented on #507
@manjabes the client doesn't commit after each message, if you don't have a clear use case for disabling the auto commit I would recommend you to.keep it enabled. This process is already optimized from the client perspective and it give you control over the frequency. If auto commit is on, when disconnecting, the consumer will commit even if the interval doesn't match your configuration.

If you w

[2019-09-25 13:28] tulios commented on #507
Actually I'm wrong, you can't call `consumer.commitOffsets` without arguments, you will need to either keep track of the offsets yourself or use `eachBatch` and keep a reference of `commitOffsetsIfNecessary`, which you can call without arguments to commit already resolved offsets.

[2019-09-25 13:34] manjabes commented on #507
How should the automatic commits work when using the `eachMessage `callback? Because in my experiments with a low-volume topic, it certainly seemed to me (based on consuming the `__consumer_offsets` in another client) that when `autoCommit `was set to `true `(or not configured explicitly at all) then the library would commit offsets after each message (irrespective of the `autoCommitInterval `sett

[2019-09-25 16:06] nervouscat opened #508 "Is it possible to use kafkajs via chrome extension/ browser"
Hi there,

I managed to load the kafkajs library on a sample chrome extension unsing webpack, though got the follwoing errors:

[code]
error is being thrown by socketFactory.js

would it be possible to use the chrome extensions native tools, or any other third party tls or net libraries?
UPDATE:
After some extensive research the chrome-extension docs were misleading and there is no way to connect

[2019-09-25 18:46] brandonl commented on #403
I just wanted to chime in and confirm a possible situation @drojas mentioned above. It is indeed possible to get a complete batch of control messages and causes the consumer to get stuck reprocessing the same control batch indefinitely. Using `eachBatch` with `eachBatchAutoResolve: true` and
[code]

[2019-09-26 07:46] Nevon commented on #508
KafkaJS currently only supports NodeJS as a runtime environment. To my knowledge, there are no Kafka clients that support running in a browser context. This comes up every now and then, you can see for example #36 for some of my previous answers.

Websockets and TCP sockets are not equivalent. Websockets is one layer up in the stack, as it contains a handshake protocol that the server would need t

[2019-09-26 08:44] nervouscat commented on #508
Thank you very much for that answer, its funny that i was the one asking on #36  hahaha! you've got a great tool, i'm currently investigating to see if I can use it as a proxy between the chrome-extension and the kafka server.

[2019-09-26 08:44] #508 closed

[2019-09-26 09:38] snirad32 opened #509 "Support for Multiple A Records"
Hi,

I'm trying to understand if this client support one record of a broker that contains multiple A records.

Will it work in the same way as it would If I added all the brokers Ip to the brokers array in initialization?

consider: kafka-broker:9092  contain A records  for kafka-broker  1-3

Will:
const kafka = new Kafka({
  clientId: 'my-app',
  brokers: ['kafka-broker:9092']
})
     ===
const k

[2019-09-26 09:41] tulios commented on #509
@snirad32 it works just fine, these brokers are only used to discover the cluster. We used to use a load balancer instead of providing a list of brokers.

[2019-09-26 10:39] manjabes commented on #507
So, I experimented with a higher-volume topic, `autoCommit `undefined (which should effectively be ==true), `autoCommitInterval: 30000` and when the consumer started from the beginning and was chewing through the backlog, it indeed did not commit after every message ( https://pastebin.com/3jKUfmq2 ), but when the consumer group lag was in single digits, it still hammered the __consumer_offsets top

[2019-09-30 15:55] tulios commented on #503
Hi @JohnCMcDonough, sorry for the delay. It makes sense; I will do some testing and create a PR with the change. Thanks.

[2019-09-30 15:56] tulios commented on #501
@OlegPoberegets any news on this?

[2019-09-30 15:58] tulios commented on #499
We want to make the describe group method available in the admin client; for now, you can use `fetchOffsets` to check if the consumer group exists.

https://kafka.js.org/docs/admin#a-name-fetch-offsets-a-fetch-consumer-group-offsets

[2019-09-30 15:58] #499 closed

[2019-09-30 15:59] tulios commented on #499
I will create a new issue later with the "list consumer group" feature request.

[2019-09-30 16:01] tulios commented on #486
This issue will be covered by the manual assignment feature #373

[2019-09-30 16:01] #486 closed

[2019-09-30 19:01] OlegPoberegets commented on #501
No((
I will close issue

[2019-09-30 19:01] #501 closed

[2019-09-30 20:00] tulios commented on #403
I started to look at this now, and I have a unit test that can reproduce the problem (a.k.a control record at the end of the batch).

The Java client auto increments the fetch offset:
https://github.com/apache/kafka/blob/9aa660786e46c1efbf5605a6a69136a1dac6edb9/clients/src/main/java/org/apache/kafka/clients/consumer/internals/Fetcher.java#L1499-L1505

KafkaJS will have to do a similar thing, where

[2019-09-30 20:31] LibanAbukar opened #510 "SSL servername needs to be set to leader broker host before connecting"
Whenever I tried accessing my SSL configured Kafka cluster externally, I always ran into a NotLeaderForPartition error. It looks like even though the correct host for the leader broker was found, the servername on the TLS socket established with the leader always remained the same one I originally set it to in the sslOptions:

[code]

I was poking around and found that I could solve this by settin

[2019-09-30 20:34] tulios commented on #510
I think issue #503 would solve your problem, can you try the solution described in the issue and check if it works for you?

[2019-10-01 13:06] #480 closed

[2019-10-01 13:06] #479 closed

[2019-10-01 13:46] tulios commented on #403
Pre-release `1.12.0-beta.0` was published with the fix

[2019-10-01 13:51] LibanAbukar commented on #510
Thanks @tulios this worked for me. Is there a PR in the works?

[2019-10-01 13:59] tulios commented on #510
Not yet, but now that you tried I will create one.

[2019-10-01 14:00] tulios commented on #510
I am closing this issue now; you can follow #503. Feel free to re-open if you need it.

[2019-10-01 14:00] #510 closed

[2019-10-01 19:06] tulios commented on #469
@eliw00d I like your proposal of a `transaction.isAbortable()`, I will check how the Java client work with this use-case and I can start a PR.

[2019-10-01 19:15] tulios commented on #485
I read the issue, and I can't see where it mentions that the error is retriable. I think the discussion is about changes in the broker. In the errors list, it shows a non-retriable (https://kafka.apache.org/protocol.html#protocol_error_codes).

I can do some investigation, but this seems like something for the Kafka broker. It appears that reconnecting should make it work.

[2019-10-01 19:20] Awatatah opened #513 "How to get standard console logs"
HI, currently we are getting logs in JSON format like so:

How can we get standard console outputs, e.g.

throw Error('this is just a test');
      ^
Error: this is just a test
    at Object.<anonymous> (/.../src/server.ts:63:7)
    at Module._compile (internal/modules/cjs/loader.js:936:30)
    at Module.m._compile (/.../node_modules/ts-node/src/index.ts:493:23)
    at Module._extensions..js (inte

[2019-10-01 19:22] tulios commented on #513
Hi, you can replace the default logger. Take a look at this:

https://kafka.js.org/docs/custom-logger

You have some examples in the website, pasting a simple one here:

[code]

[2019-10-01 19:26] #513 closed

[2019-10-01 19:58] tulios commented on #430
Hi @gilesbradshaw, I have investigated this problem, and I can't reproduce it on the latest version. Can you try version `1.12.0-beta.0`?

[2019-10-01 19:59] #403 closed

[2019-10-01 20:26] tulios commented on #370
Sorry for the delay, we had quite an unusual summer.

@bobzsj87 I think your explanation makes sense, I checked `kafka-node` and they make the requests in series, so the approach might work better when you have brokers idling. I think the model is correct, but I will investigate if we can change some things to make the parallel requests yield the results instead of waiting for all the requests to

[2019-10-01 22:02] tulios commented on #370
I managed to write the async generator to `yield` the results over time, so I think I can update the fetch loop to use the generator. The only problem is that this feature competes with `partitionsConsumedConcurrently`, which requires the data to be available. I will discuss this with @Nevon, but I think the new implementation has benefits over the `concurrently` option.

[2019-10-02 06:43] #503 closed

[2019-10-02 07:19] Nevon commented on #370
We had a discussion regarding this change in the concurrency model, and it looks like it will work perfectly fine with the `partitionsConsumedConcurrently` functionality, as they take care of different aspects. This makes it so that the requests themselves yield their results before all have finished, and `partitionsConsumedConcurrently` makes sure that the userland code is only called with a conc

[2019-10-02 07:20] tulios commented on #503
@JohnCMcDonough  pre-release `1.12.0-beta.1` was published with the change, thanks for reporting.

[2019-10-02 07:21] tulios commented on #510
@LibanAbukar pre-release `1.12.0-beta.1` was published with the change; you can update.

[2019-10-02 19:57] Awatatah opened #514 "Property 'info' does not exist on type 'Logger' and duplicate outputs"
HI I am getting this error with below code. Seems I cannot access logger
[code]

I also noticed if I use `comsumer.logger().info('Subscriber 'testSubscriber1' successful request. {}')` the logs work but I am seeing multiple outputs:

2019-10-02T20:06:50.510Z INFO [Consumer] Subscriber 'testSubscriber1' successful request. {}

[2019-10-03 12:49] edwmurph opened #516 "Does this library have a good way to consume topics windowed by time?"
I am trying to reduce the resolution of my input data to aggregations of 5s intervals for analysis.

I believe this could be accomplished using [streams](https://kafka.apache.org/documentation/streams/) but this library doesn't seem to have an implementation for that kafka api?

related https://github.com/tulios/kafkajs/issues/298

[2019-10-03 14:05] JaapRood commented on #516
Kafka Streams is definitely how you would do that in Java, where the Streams library comes bundled with the Kafka client. KafkaJS, however, is and aims to be just the client. Any Streams logic could be implemented on top, just like Kafka Streams was.

I've started [an implementation](https://github.com/jaaprood/frolyk) of such a Stream processing library built on top of KafkaJS, but the base isn't

[2019-10-04 13:53] tulios commented on #370
We have a branch with the new code working, we will refactor some of that next week and give it a try

[2019-10-04 15:53] angelsvirkov commented on #479
@tulios , I am getting the same problem.

I provide a host and IP as `brokers` in the config but then I get the error `getaddrinfo ENOTFOUND <someDomain.com>`. Would you please elaborate on what you actually are doing? Are you replacing the brokers? I also saw that in another issue #453. I am not sure it is related but it really seems that you are trying to pick another broker.

The way I connect

[2019-10-04 15:59] edwmurph commented on #516
Could windowing be accomplished using [`eachBatch`](https://kafka.js.org/docs/consuming#a-name-each-batch-a-eachbatch)?

In other words, when processing a batch could `resolveOffset` be used to only commit the offsets for the messages in the current desired time window? Then subsequent batches would start from the beginning of the subsequent desired time window right?

[2019-10-07 12:58] JaapRood commented on #516
I'm pretty sure that won't work. But even if it did, I'm really doubt it's a good idea. Committing offsets in Kafka (generally, not just KafkaJS) is purely meant as a fault tolerance mechanism, to continue processing where you left off before.

It's definitely possible, just like it is with any other Kafka client! Remember, _Kafka Streams_ is a library built on top of the base Java Kafka client. H

[2019-10-07 13:24] marghidanu opened #517 "How to get a list of consumer groups?"
Is there a way to obtain a list of consumer groups using the current Admin API?

[2019-10-07 13:38] chainhead opened #518 "NOT_LEADER_FOR_PARTITION error when connecting over TLS with Strimzi (Apache Kafka on OpenShift)"
# Problem
Producer or consumer clients using `kafkajs` cannot connect with [Strimzi](https://strimzi.io/quickstarts/okd/) over TLS.

# Reproduction
The steps to reproduce this error are listed as follows.

## Install Strimzi on an OpenShift cluster
- Follow instructions to install [here](https://strimzi.io/quickstarts/okd/) upto **Applying Strimzi installation file**.
- To set-up access for extern

[2019-10-07 13:52] edwmurph commented on #516
thank you

[2019-10-07 13:52] #516 closed

[2019-10-07 13:54] chainhead commented on #335
https://github.com/tulios/kafkajs/issues/518

[2019-10-08 02:00] chainhead commented on #518
Another observation I made is as follows.

1. Set-up subscription with the Kafka console client for a topic e.g. `mytopic`.
2. Publish a message with `kafkajs` based producer client to a topic e.g. `mytopic`.
3. Works.

The other way round i.e. consumer with `kafkajs` and producer with console client does not work.

[2019-10-08 07:25] tulios commented on #518
Do you have different hostnames for each broker? (`messaging-kafka-2-messaging.192.168.99.100.nip.io`)

[2019-10-08 07:27] tulios commented on #517
We currently don't have a way to list of consumer groups, but this is a feature we want to add at some point.

[2019-10-08 07:29] tulios commented on #514
Hi @Awatatah, I think your custom logger is wrong. From the error message (`Property 'info' does not exist on type 'Logger'`), I can see that it tries to access an object called `Logger`.

[2019-10-08 08:45] marghidanu commented on #517
Thanks! That would be great, I'm currently writing a lag monitoring application for our project and this would be a nice feature to have. Currently I have to manually provide the consumer group id, but it would be nice to be able to retrieve it via the Admin API.

[2019-10-08 12:09] JaapRood commented on #517
For anyone who's keen, this would actually be a pretty good start to contributing (beyond something like documentation, etc). It's pretty much a [one off request with the Kafka protocol](https://kafka.apache.org/protocol#The_Messages_ListGroups), all the utilities of which are already in place!

[2019-10-09 13:57] tulios commented on #518
@chainhead can you try the pre-release version `1.12.0-beta.1`?

[2019-10-10 00:11] jarcodallo opened #520 "Kafka.js support kafka v2.3.0 protocol?"
Hi Guys,

Nice work's with this library, we are currently testing this library for replace kafka-node. So far all works great! :D

But i have a concern about the kafka protocol support. Do you support for kafka +v.2.3.0 protocol?

[2019-10-10 06:58] tulios commented on #520
Hi @jarcodallo, KafkaJS doesn't support protocol 2.3 yet, it fully supports protocol 1. Kafka protocols are backward compatible, so you won't have problems using a new version of Kafka. Are there any features in 2.3 that you are particularly interested in?

On a side note, we have plans to update the protocol continually, so we will eventually catch up. KafkaJS also has a modular implementation of

[2019-10-10 08:38] snirad32 commented on #509
@tulios, I  noticed that this feature is somewhat new this is why i asked:

I mean librdkafka start support it from verision 2.1:
https://cwiki.apache.org/confluence/display/KAFKA/KIP-302+-+Enable+Kafka+clients+to+use+all+DNS+resolved+IP+addresses

[2019-10-10 09:03] snirad32 commented on #509
let me know if I can be of help

[2019-10-10 12:43] snirad32 commented on #509
you can point me to the place that needs fixing and I can do it myself if you want :)

[2019-10-10 14:09] jarcodallo commented on #520
Hi @tulios, thanks for reply. That's sounds good. You have an example or documentation about, how we can extends protocol module?

[2019-10-10 18:38] capucho opened #522 "Information regarding the consumer being able to read messages"
When creating integration tests using kafkajs, I ran into some issues were I did awaited for the connection to send a message from my producer. However, I was not aware that the consumer would only be able to actually read messages from a topic, after the consumer event `GROUP_JOIN`. I'm sending a PR that might help people with the same issue :)

Here's a PR with the information: https://github.co

[2019-10-11 08:39] JaapRood commented on #522
Could you maybe explain the issue a bit more? A producer should be able to produce messages completely independently from a consumer being ready or not. Kafka logs being persistent, a consumer can connect and read messages from the log at any time after they were produced (or until they are garbage collected through time-based retention or key-based compaction).

[2019-10-11 09:23] tulios commented on #522
I think this was in an integration test, right @capucho?

[2019-10-11 14:15] capucho commented on #522
Yes, sorry for the lack of context.

Imagine I have the following test to see if I consume a single message in my consumer.

[code]

If I don't have the waitForConsumerToJoinGroup, what would happen is that I could end up in a situation where the kafkaConsumer.subscribe() would return the result, even though it didn't actually join the consumer group yet. Then my producer would run, send the messa

[2019-10-11 18:06] gilesbradshaw commented on #430
Hi nope I'm still getting it with 1.12.0-beta.2

[2019-10-11 18:23] gilesbradshaw commented on #430
however - if I create a new producer every time the problem does not occur...

[code]

[2019-10-14 08:39] tulios commented on #509
Hi @snirad32, you might need a new property to enable this behavior, but I think the change should happen in `connection#connect` - https://github.com/tulios/kafkajs/blob/master/src/network/connection.js#L97

Another option is to add the information about multiple IPs to the connection and handle the error in the `broker#connect` - https://github.com/tulios/kafkajs/blob/master/src/broker/index.js#

[2019-10-14 21:41] sean256 opened #523 "I'm getting `ETIMEDOUT` and `authentication failed` on the 2nd topic only. How can I better troubleshoot this?"
I'm having an issue subscribing a consumer to multiple topics. Usually the first topic or 2 will succeed nearly instantly, then it hits a wall. It will hang for several minutes then output 3 error messages. If I continue waiting it will throw the same 3 error messages.

I'm having a hard time figuring out if this is an issue on my end, kafkajs, or my company's Kafka instances. I'm leaning towards

[2019-10-15 08:17] JaapRood commented on #523
Hmm, seems like a networking issue 🤔. It can't make a connection to one of the Brokers inside the Kafka Cluster. Seeing this only for a single topic while the rest works is totally plausible, as the partitions of certain topics are spread throughout the various brokers in the cluster. That's not to say it's not some other kind of issue, though, like over saturating I/O. Your use case of subscribin

[2019-10-15 11:14] iangregsondev opened #524 "Setting the offset to latest ONLY on new groupIds ?"
Hi,

I would like to autoscale my consumers, I use a groupID with a numeric suffix i.e. -1, -2, -3 etc.

Can anyone tell me if its possible to automatically set new consumer groups to the latest offset.

I am worried about scaling and adding new consumer groups, these new instances of my consumers are going to try and consume from the beginning of time :-(

Does anyone know a good way of doing thi

[2019-10-16 02:31] sean256 commented on #523
So far yes. I am also now running into issues where it may subscribe then timeout / start throwing errors after `consumer.run`

Are there any options for more details logs?
Does the retry option in `kafka.consumer` apply to `.subscribe` as well? It's hard to tell if tweaking that is making any difference.

[2019-10-16 08:42] JaapRood commented on #523
The retry options passed to the consumer are used throughout the subscription process. It might be worth knowing that `consumer.run` is actually the thing that triggers the joining of the consumer group. `consumer.subscribe` is basically just a configuration method, so I wouldn't expect any network errors from there.

There's a bunch of instrumentation events you can listen for: https://kafka.js.o

[2019-10-16 08:48] JaapRood commented on #524
By 'autoscale my consumers', do you mean to subdivide the same message processing between multiple instances of the same consumer? If that's the case, you'll actually want them to all have the same group id! A common group id is what identifies identical instances of a consumer to Kafka, allowing it's group protocols to divide up the work (partitions).

In case that's not what you meant and actual

[2019-10-16 16:27] sean256 commented on #523
@JaapRood

I am getting the network errors between `consumer.subscribe` calls so this can't be right. It's also an async method, which implies it's doing some sort of IO.

[2019-10-17 09:28] JaapRood commented on #523
Sanity checking myself, we're both right, and your comment actually helps narrow things down 😅.

`consumer.subscribe` doesn't trigger actually joining (subscribing) the consumer group, `consumer.run` does that. However, it _does_ attempt to refresh the metadata for said topic, for which it needs to a connection to the appropriate broker.

I suspect one of the brokers is just unreachable. `consumer

[2019-10-17 16:58] sean256 commented on #523
I should have mentioned this earlier, but yes, `kafkacat` always works.

I will look into this. My company documentation says to use `9093` with SASL, maybe they are mistaken. If this was the problem, wouldn't it NEVER work? I see now that I wasn't super clear on this, but it *usually* fails but does occasionally work.

[2019-10-18 08:33] JaapRood commented on #523
A broker known to the client is *randomly* selected to request the metadata for the specific topic. If that broker also doesn't hold the partitions you're trying to access, it's conceivable how that particular broker just isn't used.

[2019-10-18 18:00] sathibault opened #526 "Out of memory issue"
I have a consumer that is consuming massive amounts of memory and being killed by the OS.

I've commented actual processing out, so the consumer is empty:
[code]

From strace I see the following:
[code]
This are between two successive log messages, so the process size is growing from 0x57e4000 to 0x1610dc000 between these two messages.

Any leads on how I can further troubleshoot this?

[2019-10-18 18:01] sathibault commented on #526
I'm using kafkajs 1.11.0 with kafkajs-lz4 1.2.1

[2019-10-21 08:10] JaapRood commented on #526
Normally I'd say any out of memory issues are through breaking back-pressure, but that doesn't hold up where memory grows 100x between 2 messages 😅. I don't really have any useful intuition about where else this might be coming from, but here's some suggestions on how I might try to narrow down on the root cause:

- I'd try to create a memory profile through Chrome DevTools (by running `node --ins

[2019-10-21 08:33] vinaykhebbar opened #527 "Modify broker.address.ttl property on the client"
Hi,

Is there any to set property "broker.address.ttl" while creating the client. Currently the default value is 300000 based on kafka documentation. But we want to reduce it to 120000. This will help in resolving the dns changes quicker if there any changes to the kafka endpoint.

Thanks,
Vinay

[2019-10-21 08:36] Nevon commented on #526
I would strongly suspect `lz4` being the culprit. We are running the same version in production (without compression) with stable memory consumption. While it's not impossible that it's something on our side related to perhaps some specific node version, it feels more likely to be `lz4` given that it's a native lib with [known memory leaks](https://github.com/pierrec/node-lz4/issues/73).

It would

[2019-10-21 08:47] Nevon commented on #527
The default network implementation in KafkaJS uses `dns.lookup` to resolve broker addresses, [which uses the underlying OS implementation](https://nodejs.org/api/dns.html#dns_dns_lookup). There is no special handling of TTL within KafkaJS, and by default NodeJS doesn't do any caching of DNS resolutions (but the OS layer probably does).

If you want to control TTL yourself, either configure it in y

[2019-10-21 08:47] #527 closed

[2019-10-21 08:50] JaapRood commented on #527
I've done this in the past, looking for config parameters that seemed to be a general Kafka thing, but turned out to be specific to the client, environment, etc. 🙂

[2019-10-22 18:03] sathibault commented on #526
Thanks.  Unfortunately, I'm unable to disable lz4 on the topic and was unable to spend any more time debugging this.  I've migrated to `node-rdkafka`.

[2019-10-22 18:03] #526 closed

[2019-10-23 12:48] rubiin opened #529 "connect to remote kafka instance"
i have a kafka running on a google instance. However when i add
brokers: ["ip-address:9092"] , it is not connecting. Also in the logs it shows to connecting to localhost. Any idea

[2019-10-23 13:03] rubiin commented on #529
@tulios

[2019-10-23 14:39] rubiin commented on #529
pinpointed the problem in broker.js . Its not accepting the connection

[2019-10-23 14:42] rubiin commented on #529
https://github.com/tulios/kafkajs/blob/master/src/broker/index.js

[2019-10-23 14:53] tulios commented on #529
Hi @rubiin , KafkaJS works with remote servers, the problem is.most likely in your broker setup. How the cluster was configured? A common mistake is to forget to configure the advertised host in the cluster, without the configuration the cluster usually broadcast local ips.

[2019-10-23 14:57] rubiin commented on #529
@tulios can you point me to an example

[2019-10-23 14:59] rubiin commented on #529
I am using this docker image with the command . It works well on localhost but when i try to set it up on google cloud it wont connect although the port and host are up. ```docker run --rm -it -p 2181:2181 -p 3030:3030 -p 8081:8081 -p 8082:8082 -p 8083:8083 -p 9092:9092 -e ADV_HOST=127.0.0.1 landoop/fast-data-dev  ```

[2019-10-23 15:02] tulios commented on #529
`ADV_HOST` looks like the advertised host that I mentioned, and it is pointing to localhost, try to use the host name or your public IP.

[2019-10-24 12:35] pekkalaaksonen opened #531 "Proper way of reading messages in a topic and then stopping/disconnecting consumer"
What is the correct way to read all messages from (that have not been consumed yet) and then stop the consumer from reading new messages? Do I need to check after each message if the last offset of last partition has been reached and if yes, then call consumer.disconnect() or is there a simpler/better way of doing this?

[2019-10-24 12:49] Nevon commented on #531
That's a little tricky actually. Within `eachBatch` you get the `highwaterMark` for each partition. So you could see if the last message in the batch has an offset equal to the highwater mark, and once you're at the highwater mark in every partition, that would mean that you've consumed everything in the topic.

It's not a super common use-case, as most of the time you'd want to continue consuming

[2019-10-24 13:13] chainhead opened #532 "ENOTFOUND: Unable to connect to external broker from a container."
I have a Kafka cluster running on a Ubuntu machine. I have a `kafkajs` consumer client, hosted on my Mac (same network as the Ubuntu machine), that successfully connects and consumes messages from Kafka cluster on the Ubuntu machine.

When I publish the `kafkajs` client to a `minishift` cluster running on my Mac book, the connections keep on failing with `ENOTFOUND`. In both cases, the connection

[2019-10-24 13:22] ankon commented on #532
You need to configure how the Kafka brokers advertise themselves. The IP addresses you provide to KafkaJS initially will be used to connect to the brokers, and then query them for other members of the cluster.

[2019-10-24 14:21] Nevon commented on #532
Closing this, as it's an issue with operating Kafka, rather than anything to do with KafkaJS. You can take a look at [how we run Kafka with docker-compose](https://github.com/tulios/kafkajs/blob/master/docker-compose.2_2.yml), although it's a bit more complicated because we're setting up SASL, which you may not need.

[2019-10-24 14:21] #532 closed

[2019-10-24 23:02] LYHuang opened #534 "How to timeout the producer.send when the messages payload is large?"
When the producer.send a large message payload, it just block and don't timeout, is there any way to listen the error or terminate the send request?
Here is the code I am using:
[code]
All of the message seems blocked at producer and none of these made to the broker. Any help would be appreciated.

[2019-10-25 09:45] pekkalaaksonen commented on #531
Ok, thanks. I'll look into what you suggested.

My use case here is that as a learning exercise I'm building a simple API which returns new messages from kafka topic when the API is called. This requires that once an API call is made, messages that have not been consumed are consumed and returned to requester. Therefore the consumer cannot remain consuming new messages as they are being sent to th

[2019-10-25 09:54] Nevon commented on #531
A simpler solution might be to constantly consume messages and push them into an array, and then whenever your endpoint is called, you just return whatever is in the array and then empty it.

[2019-10-25 09:56] pekkalaaksonen commented on #531
Very true.. why didn't I think of that...

[2019-10-25 09:57] Nevon commented on #531
I'm gonna close this issue. Feel free to open another if you run into issues, or [join us on our Slack](https://kafkajs-slackin.herokuapp.com/).

[2019-10-25 09:57] #531 closed

[2019-10-26 12:49] #529 closed

[2019-10-28 09:34] stychu opened #537 "Producer connection error crashes app"
Hello, I'm trying to implement a simple producer for pushing messages to Kafka from my application. but whenever the producer can't connect it throws an error that crashes my app and I can't seem to catch the on connection error from kafkajs. How to properly handle connection error

[2019-10-28 12:03] Nevon commented on #537
Everything will be propagated up to `producer.connect` and `producer.send`, so essentially:

[code]

You have a more complete example here: https://github.com/tulios/kafkajs/blob/master/examples/producer.js

[2019-10-31 16:53] shreeramk opened #539 "On creating new customer, old data not being read by it."
Streamed data for a topic, and existing consumers are able to read. Then created new consumer but it is not able to read existing data(1min old), if new data is produced then it is able to read.

[2019-11-01 09:32] ankon commented on #539
If your consumers are in the same group, and you store offsets, then that would be somewhat expected, no? Check your consumer group configuration and partitioning.

[2019-11-02 13:25] shreeramk commented on #539
The consumers are in different group.  Basically I'm creating a consumer and assigning a group Id to it.

Consider a topic 'abc'. Data has been produced and existing consumer(ex: grp Id - Test1) was able to consume. And now adding a new consumer with different group Id(say Test2) is not able to read from existing topic 'abc'.

[2019-11-02 13:31] jaysequr opened #540 "When auto commit false commit offset not working proper way"
Environment
=========
- Node version : 8.16.2
- Npm version : 6.4.1
- Kafkajs version : 1.11.0

Bug Reproduce Code
=========
- Producer script
[code]
- Consumer script
[code]
Issue Description
=========
- When starting consumer script old message received which has already consume that message in past.
- I try to manual commit to messaging so it auto-commit false in consumer-run.
- Can I achieve m

[2019-11-04 10:25] #537 closed

[2019-11-04 11:56] stychu opened #541 "SSL-SASL connection"
Hello there,
I've some problems understanding how to configure Kafkajs with sasl-ssl.
We have Kafka configuration with Truststore Keystore sasl-ssl authentication. [Kafka security](https://docs.confluent.io/2.0.0/kafka/security.html) and I don't quite understand how this configuration relates to the Kafkajs ssl {ca, key, cert}.

[2019-11-04 12:02] ankon commented on #539
What did you set `fromBeginning` to? See https://kafka.js.org/docs/consuming#a-name-from-beginning-a-frombeginning for details.

[2019-11-05 08:50] t-d-d commented on #315
I'm a little surprised by this behaviour.  As @posquit0 points out, if eachMessage throws, then it _is_ indeed subject to the retry mechanism as set on the main client object.
Is this the intended behaviour?  I actually want different retry logic for my eachMessage code.

[2019-11-05 09:39] shreeramk commented on #539
I haven't set fromBeginning which means it is taking default false. So, since it's a new consumer(with a new group id), it should automatically read from offset 0. Isn't?

[2019-11-05 09:58] ankon commented on #539
Actually, no :)

'fromBeginning' is looked at when there is no known saved offset (i.e. the situation you have with a new consumer group), and in that case 'true' means "use the earliest offset _known to kafka_", while 'false' means "use the newest offset _known to kafka_". With the default setting 'false' therefore you end up with your behavior, where you see all messages that came into the topic

[2019-11-05 11:40] AlexKonstantinov1991 commented on #373
Hello guys!
Is that in progress?

[2019-11-06 13:29] Vuksan commented on #540
I think that you need to call `consumer.commitOffsets` function after `consumer.run`, as stated [Here](https://kafka.js.org/docs/consuming#a-name-manual-commits-a-manual-committing).

If you want to manually commit, with auto-commit turned off, and you want to do it inside the `consumer.run` function, you need to use a combination of [eachBatch](https://kafka.js.org/docs/consuming#a-name-each-batc

[2019-11-06 13:32] #541 closed

[2019-11-06 14:37] TheZwieback opened #546 "Header cannot be written in producer message"
Hi,
The header and message types are defined as:

[code]

This excludes writing headers as key value pairs as described in the documentation, see https://kafka.js.org/docs/producing#message-headers . Is there a way to fix this currently?

Thanks,
Christian

[2019-11-06 15:08] tulios commented on #546
Hi @TheZwieback we should accept strings as well, can you create a PR and fix the `IHeaders` type? The Typescript definitions arrived late in the project and are still not quite right.

optionally you can `Buffer.from('string')` the values for now.

[2019-11-06 15:21] TheZwieback commented on #546
Thanks for the quick reply. I changed the type definition and created a pull request.

[2019-11-07 11:27] yarncraft commented on #289
As a data engineer at [Charp](http://www.charp.be/), I am using Kafka.js with Confluent to build an IoT streaming analytical layer.

[2019-11-07 13:56] rajjagani021 opened #548 "Subscribe a consumer with Partition Number"
While producing a message we have facility that we can pass the partition number like below and it will produce the message to that partition.

[code]

but do we have any method on the consumer side, so we can subscribe to a consumer with the topic and partition number both? I have tried the below things but it's not working

[code]

[2019-11-07 13:58] lafeuil opened #549 "fetchTopicMetadata generates Cannot read property 'topicMetadata' of null"
When I call twice the `fetchTopicMetadata` function of admin client, I get the following error :
[code]

To have this error, the first call of `fetchTopicMetadata` must be on an existed topic and the second call on a non-existent topic.

To reproduce :

[code]
Normally, the `fetchTopicMetadata` function generates a KafkaJSProtocolError error with type `UNKNOWN_TOPIC_OR_PARTITION` if topic does not

[2019-11-07 14:26] lafeuil commented on #549
The issue is due to this silent try/catch in `withBroker` function :
https://github.com/tulios/kafkajs/blob/v1.11.0/src/cluster/brokerPool.js#L229
[code]

[2019-11-07 14:58] ankon commented on #548
I guess this is a duplicate of #373

[2019-11-07 15:02] lafeuil commented on #549
I think the problem is in the `refreshMetadataIfNecessary` function. If I force the refresh like this by checking if the requested topics are in the cache, it works !
[code]

[2019-11-07 21:23] plameniv commented on #469
Has there been any movement on the `transaction.isAbortable()` idea?

[2019-11-07 21:28] ankon opened #550 "RangeError in consumer group syncGroup response processing for member without assignment"
[code]

From my logs it seems that at that point this member didn't receive an assignment, so this piece of code fails:
https://github.com/tulios/kafkajs/blob/34824cbcb2d9721441518ad6875e48f604fd3864/src/consumer/assignerProtocol.js#L71

I think there needs to be a check in any of these places, I'm just not sure which one:
1. Check in ConsumerGroup.sync whether the memberAssignment is empty
2. Che

[2019-11-07 21:57] ankon commented on #550
FWIW, The reason I'm getting this now is that I changed my assigner to no longer pre-fill the assignments:
https://github.com/tulios/kafkajs/blob/34824cbcb2d9721441518ad6875e48f604fd3864/src/consumer/assigners/roundRobinAssigner/index.js#L41-L43

[2019-11-08 15:52] Nevon commented on #548
Indeed. I'm closing this as a duplicate of #373.

[2019-11-08 15:52] #548 closed

[2019-11-08 15:57] Nevon commented on #546
Fixed by #547

[2019-11-08 15:57] #546 closed

[2019-11-10 17:43] Nevon commented on #469
I don't think anyone is actively working on implementing `isAbortable`. Personally I don't really like the idea of `isAbortable`, and would rather just make `abort` not make the abort request if no sends have been made, or handle the error internally. I don't think userland code should have to worry about that.

I tried looking into what the Java client does, but I haven't been able to find any sp

[2019-11-11 07:11] ashercoren opened #553 "`Response Fetch` error messages"
Hi,
I have a Kafka consumer listening on one topic.
Occasionally I see this error message in my logs: `Response Fetch(key: 1, version: 7)`.
What does it mean? Should I be bothered by it?

[2019-11-11 08:00] Nevon commented on #553
If you look at the full log line, you'll see that the log level of the line is `info`, meaning that this is not  an error log. That particular log is likely just a response log in regards to a `Fetch` request.

If you don't want to see info logs, you can [set the log level to for example `WARN`](https://kafka.js.org/docs/configuration#logging).

[2019-11-11 08:00] #553 closed

[2019-11-12 11:15] manjabes commented on #507
So, the "commit after each message" behaviour that I observed is because of this

https://github.com/tulios/kafkajs/blob/master/src/consumer/runner.js#L316

which causes the commits to be done after each fetch, contrary to what the API docs state:

(emphasis mine).

The configured intervals have no effect unless `autoCommit` is explicitly disabled.
If this behaviour cannot be changed, is it at lea

[2019-11-12 15:42] ashercoren commented on #553
Thanks @Nevon for the reply.
I looked at the full log line, and the log level is `ERROR`.
The same goes for the following log messages:
`Response JoinGroup(key: 11, version: 2)`
`Response SyncGroup(key: 14, version: 1)`

Shouldn't all the log messages have a log level of `info`?

[2019-11-12 18:09] LakhsmiC opened #554 "KafkaJSLockTimeout: Timeout while acquiring lock"
Hello Team

We  are seeing below KafkaJSLockTimeout error while acquiring lock.

{"level":"ERROR","timestamp":"2019-11-08T10:35:20.646Z","logger":"kafkajs","message":"[BrokerPool] KafkaJSLockTimeout: Timeout while acquiring lock (29 waiting locks): \"connect to broker <brokerIP>\"","retryCount":2,"retryTime":1260,"stack":"KafkaJSLockTimeout: Timeout while acquiring lock (29 waiting locks): \"conne

[2019-11-12 18:31] tulios commented on #554
Hi, you are not connecting the producer, it is connecting on demand, that's why you are getting lock errors

[2019-11-12 18:59] LakhsmiC commented on #554
Actually, i am connecting to the producer as well , missed posting it in the post
await producer.connect()

[2019-11-13 08:08] Nevon commented on #553
I see. Then I apologize for mistakenly assuming that it was an info (we very frequently get people asking why they see some "error" message that's actually just an info log telling them that something succeeded).

Could you post the full log line? There should be some more context if this is an error.

Not if they're not informational. Errors and warnings will of course be logged as err/warn, and

[2019-11-13 18:56] LakhsmiC commented on #554
can you also please share the load KafkaJs can take per second. we observed the above errors when we performed a load test .

[2019-11-15 08:52] rajjagani021 commented on #463
Hello @Nevon , I am getting the same error as above

`{"level":"ERROR","timestamp":"2019-11-15T08:25:32.552Z","logger":"kafkajs","message":"[Consumer] Crash: KafkaJSProtocolError: The group member's supported protocols are incompatible with those of existing members","groupId":"dev_gsuite_consumer","stack":"KafkaJSProtocolError: The group member's supported protocols are incompatible with those of

[2019-11-15 09:27] Nevon commented on #463
I believe that the rdkafka assigner is actually called `roundrobin`, same as the Java one. I haven't verified if it actually behaves exactly the same, but [it does reference the Java one](https://github.com/edenhill/librdkafka/blob/master/src/rdkafka_roundrobin_assignor.c), so I would guess so. Ours is called `RoundRobinAssigner`, not `roundrobin`, which is why it is conflicting. As mentioned abov

[2019-11-15 10:10] rajjagani021 commented on #463
Yes, I have tried that solution. As you can see in the attached screenshot and after that it might be solved that group protocol error but It can't connect with the broker. I am getting a timeout error after consumers joined with the group.  Do I missing something to change?
![connection_timeout](https://user-images.githubusercontent.com/4434991/68935205-3efa6780-07be-11ea-9c7b-f5982b09c031.png)
!

[2019-11-20 07:14] ashercoren commented on #553
I added some more logging to my app so that I could post the full log. Waiting for the errors to happen again...

[2019-11-20 09:52] JaapRood commented on #373
Forces beyond my control (client work) keep pushing this forward on my schedule, so I thought I'd at least share the approach @tulios has helped to outline.

To allow us to ship initial support within a reasonable time frame, the biggest constraint we should add is that _assignments have to be made before `consumer.run` and can't be change while running_.

The API would look as follows:

[code]

F

[2019-11-20 15:06] ashercoren commented on #553
Here is an example for an error log. Should it be an error?

[code]

[2019-11-20 15:20] asiborro opened #558 "Rebalance breaks running consumers"
Hello everyone,

We have a service consuming 2 topics with 32 partitions each. When a rebalance happens in the group we get the following error:

[code]
[code]

The consumer is configured to run 2 concurrent batches.
Thanks

[2019-11-20 16:20] akoenig opened #559 "Consuming a part of a topic"
First of all, thanks for developing `kafkajs` 🙏🏽 It is a great library!

I have one question though, maybe it is also more targeted to Kafka in general. Currently, we are in the process of building mutation functions which are capable of replaying events of one particular aggregate. For this I need a mechanism for replaying a defined subset of events from a stream (a.k.a. `topic`) and exit afterwa

[2019-11-21 10:00] JaapRood commented on #559
Not sure what you're after completely, here's some pointers that might help.

- Each consumed message has an `offset`, to denote it's position in the log.
- [`admin.fetchTopicOffsets`](https://kafka.js.org/docs/admin#a-name-fetch-topic-offsets-a-fetch-topic-offsets) can be used to figure out the offset of the last message in each topic-partition (also called high water in Kafka parlance).
- [`cons

[2019-11-21 10:45] Nevon commented on #553
Yes, it's an error from the broker letting your consumer know that it needs to rejoin the group. This is how group membership in Kafka is communicated. Whenever the group changes in some way (a member left the group or a new one joined), all the members need to sync up by rejoining. The way they find out about this is that they get an error on whatever API call they make to the broker, such as for

[2019-11-21 11:18] ashercoren commented on #553
Thank you for the detailed explanation!

[2019-11-21 11:22] tulios commented on #553
I can also add that you might get some rebalances under normal conditions, maybe the broker elects a new leader, etc. So it's a normal operation but it shouldn't happen all the time.

[2019-11-21 11:59] akoenig commented on #559
Hi @JaapRood, thanks for the pointers. `admin.fetchTopicOffsets` is exactly the function I was searching for.

[2019-11-21 11:59] #559 closed

[2019-11-25 19:32] StevenLangbroek commented on #541
@stychu did you resolve this?

[2019-11-26 12:11] Blaxzter opened #560 "Wildcard finds matched topic but no topic is subscirbed"
Hello i'm trying to subscribe to multiple topics via RegEx.

From this debug output it seems like it worked because it found the correct matched topic.
[code]
After some more logs (attached) that seem like everything works fine. This output comes around.
[code]

The first output is on line 2844 the second one on 3144

No message that gets send through the kafka topic `kms.global.data.5dce8a05f6bb7

[2019-11-26 13:34] JaapRood commented on #560
I've had a look at the code that should power this, using the log to get an idea of what is and isn't working. There definitely seems to be something going wrong. Here's how far I've come in the bit of time I had thus far:

- Topics fetched from metadata
- Topics successfully [matches against regexp and are queued for subscription](https://github.com/tulios/kafkajs/blob/master/src/consumer/index.j

[2019-11-27 07:30] rubiin opened #561 "kafka js not consuming messages"
I have consumer and producer setup in two different node apps.Sometimes the consumer doesnt consume messages even though the producer has successfully published the message

[2019-11-27 08:54] rubiin commented on #561
@tulios

[2019-11-27 09:04] JaapRood commented on #561
That's unfortunate! What have you done thus far to try and diagnose the problem? Perhaps you can run consumer with [logging](https://kafka.js.org/docs/configuration#logging) so we _might_ be able to see what's going on.

[2019-11-27 09:25] tulios commented on #561
@rubiin, can you describe the flow? This is a common misunderstanding where you publish a message and then boot the consumer with the default configuration, which is to start from the latest offset.

[2019-11-27 09:36] jlek opened #562 "Consumer offset "stuck" on log compacted messages"
Hello,

I'm looking for some help with an issue where my consumer is "stuck" at a certain offset. (Or bunch of offsets: one offset for each partition in the topic.)

To break it down:
- I am trying to consume a log-compacted topic with 12 partitions (hundreds of millions of messages).
- I deployed multiple instances of our consumer service.
- The consumers started out great, but after a while, the

[2019-11-27 09:41] JaapRood commented on #562
Thanks for the work on that so far! Could you maybe run one of your consumers with [logging](https://kafka.js.org/docs/configuration#logging) enabled and post that back? Just be careful that it might contain broker ip's / hostnames, topic names and group names, which you might want to redact!

[2019-11-27 10:01] rubiin commented on #561
@JaapRood i will try to add the logger and see what it shows

[2019-11-27 10:37] rubiin commented on #561
I get this log when i add the error log :
[code]

[2019-11-27 11:10] jlek commented on #562
Sure thing @JaapRood , here you go (might look slightly different than you're used to, due to our logging solution):

[code]

It repeats these three logs ad infinitum.

[2019-11-27 11:28] JaapRood commented on #561
That's _something_, but still not that much to go off. If you'd run with `logLevel: logLevel.INFO`, we should be able to get a lot more insight in what the consumer is up to.

[2019-11-27 11:33] JaapRood commented on #562
Thanks!

That seems pretty typical for a consumer that's actively consuming. Perhaps log messages from before it starts repeating those? If it's practical to just dump the whole thing, we might be able to figure out if something in fetching metadata / fetching offsets goes wrong.

[2019-11-27 12:28] noam-worthy commented on #561
@tulios From tests i've made locally, it looks like if I start a consumer with an active consumer group - the consumer will pick up from where the consumer group is at. Not from the latest offset. Or am I missing something?

[2019-11-27 14:18] jlek commented on #562
Hey @JaapRood, here are the logs from start up:

[code]

Does this help?

[2019-11-27 14:27] rubiin commented on #561
@noam-worthy the flow is of pub sub architecture where one of my app is producer and another consumes the produced messages. But sometimes the consumer doesn't consume messages even though they are produced in the topic

[2019-11-27 14:27] rubiin commented on #561
@JaapRood is there a way to set multiple log levels ??

[2019-11-27 14:38] noam-worthy commented on #561
@rubiin what tulios said refers to this part of the documentation: https://kafka.js.org/docs/consuming#a-name-from-beginning-a-frombeginning

My comment was that in local tests i've made i saw different behavior, and I am relying on it. Though I am also experiencing 'stuck' partitions, so perhaps my local test was not performed properly.

I'm trying to debug my issue as well and will update you if

[2019-11-27 14:39] noam-worthy commented on #561
Regarding log levels, If you set the log level to 'info' - you will get all logs of: info, warning, error, critical.

[2019-11-27 14:53] Nevon commented on #561
Yes. If the consumer group has already committed an offset, it will continue from there. If it is a new consumer group, or if it has been inactive long enough for the committed offset to no longer be retained, it will start consuming from either the beginning of the topic or from the latest offset of the topic, depending on how it's configured. The default configuration is to start from the latest

[2019-11-27 15:15] Nevon opened #563 "Allow logging fetch response payload"
https://github.com/tulios/kafkajs/blob/871f75c9a378a84f731958357adcb35266615b26/src/network/connection.js#L312

We always filter the Fetch payload simply because it's often too large and just clutters the log, making it hard to work with, but I think we should make this configurable with an environment variable, similar to `KAFKAJS_DEBUG_PROTOCOL_BUFFERS` to allow you to output it. It would help u

[2019-11-27 15:19] Nevon commented on #562
Thanks for the detailed bug report. What you're saying makes sense. If we indeed request offset N and receive back N-1, N-2, N-3 etc. we would have no way of moving on from N. It reminds me a bit of the issue with control records, where we have to commit the control record offset without the control record even having been handed off to userland code, so that we don't get stuck with a batch full o

[2019-11-27 15:31] JaapRood commented on #562
@jlek Kafka _should_ not care about the message payload (`message.value`, `message.key`), which are the ones that would hold the specific information. Both are just a sequence of bytes, shouldn't be any logic beyond that. So you could filter that out of Fetch response log, and it _shouldn't_ have an effect on our ability to reproduce the problem.

[2019-11-27 17:26] jlek commented on #562
Hey @Nevon,

Here are the logs you asked for (you're right, they do dump a lot of data):

[code]

[2019-11-28 06:59] lzj723 opened #564 "is kafkajs supports kafka@v2.11?"
i always get an error when connect to kafka@v2.1.1:

Code:
[code]

Error:
[code]

[2019-11-28 07:49] tulios commented on #564
Hi @lzj723, since you are using SCRAM you might need to enable SSL, the broker is probably rejecting the call because of that.

Add `ssl: true` to the configuration, or configure with the correct certificates, etc and it should work. KafkaJS works with Kafka 2.1.1, that's the version we use in production.

@Nevon just an idea, maybe we should have an entry on the FAQ about auth mechanisms without

[2019-11-28 08:21] Nevon opened #565 "Create FAQ entry on SASL errors when SSL is disabled"
If `sasl` is configured, but ssl is not enabled, the broker can reject the request with authentication failed, which can be hard to debug.

We should add an entry into the FAQ to state that if the broker is using SASL_SSL instead of SASL_PLAIN, you need to also enable SSL, and then update the KafkaJSSASLAuthenticationError to include a helpUrl linking to that FAQ.

[2019-11-28 08:22] Nevon commented on #564
Created #565 to track.

[2019-11-28 09:05] rubiin commented on #561
@noam-worthy I see in docs , that info log is the default one if no logging is set explicitly

[2019-11-28 15:24] jarcodallo opened #568 "[Suggestion] Emit the event "rebalance in progress" in the consumerGroup"
Hi, Guys

I want to listener the event when the consumer group is rebalancing, because is useful to send metrics and see what is going on with the consumer group.

Maybe this can be added [here](https://github.com/tulios/kafkajs/blob/fcf64350d16bb8af09b1e16706dea85901417cbd/src/consumer/runner.js#L73-L79
), If you thing this is a good idea i can send a PR :D

Thanks,

[2019-11-28 15:40] JaapRood commented on #568
There is [the `GROUP_JOIN` event](https://kafka.js.org/docs/instrumentation-events#a-name-list-list-of-available-events) which is fired for this purpose. Every time the group rebalances, every consumer joins back in with the assignments it received from the leader, which is when this event is fired.

If there's some way where that event is not sufficient, it would be great if you could explain you

[2019-11-28 17:37] jarcodallo commented on #568
@JaapRood Thanks  for you replay, that's exactly what i need. I will try with that event.

[2019-11-28 18:23] ThisIsMissEm opened #569 "Is resolveOffset a promise or awaitable value?"
In the documentation examples, `resolveOffset` is always used as `await resolveOffset(message.offset)`, however, in the typescript definitions, it appears that `resolveOffset` returns `void` instead of `Promise<void>`

Which is correct? The examples or the typescript definitions?

[2019-11-28 18:41] StevenLangbroek commented on #569
I looked at the implementation at the time and it doesn't return a promise so the type is correct 🤔

[2019-11-29 03:37] goriunov commented on #569
If i understand correctly `resolveOffset` is used internally to resolve it and then you have to use `commitOffsetsIfNecessary` to actually commit offset to kafka. `commitOffsetsIfNecessary` relies on `autoCommitInterval` to determine if it should commit now or not.

[2019-11-29 09:08] jlek commented on #562
So, any suggestions on how to fix this? @JaapRood , @Nevon ? I'd be happy to take a stab at making a pull request, but I'm not sure what change needs to be made.

If all messages have an offset less than N, can we make the assumption that the message at offset N was log compacted away, and increment the offset by 1?

Or should we make a change to the way messages are fetched from the broker? I'm n

[2019-11-29 09:24] JaapRood commented on #568
@jarcodallo no problem! Assuming that'll work just fine, I'll close this for now. Feel free to re-open if you find you have use case that isn't covered by this event!

[2019-11-29 09:24] #568 closed

[2019-11-29 09:26] #549 closed

[2019-11-29 10:22] #550 closed

[2019-11-29 10:24] tulios commented on #564
Closing this issue for now, if what I mentioned is not the case feel free to re-open the issue.

[2019-11-29 10:24] #564 closed

[2019-11-29 15:44] jarcodallo commented on #520
Hi @tulios, Yesterday I test KafkaJS with kafka@2.3.0 and works fine :D, so I will close this issue.

Thanks.

[2019-11-29 15:44] #520 closed

[2019-12-02 08:43] goriunov opened #571 "Force kill connection ?"
Is there any way to kill connection to kafka. I have tried using disconnect but it can get in infinity loop if onBatch or onMessage will never complete processing of one single message (which could be triggered by other things/errors). As a solution to my use case i would like to kill kafka connection and reestablish that again to reread uncommitted messages. Unfortunatle when i call disconnect i

[2019-12-02 09:02] Nevon commented on #569
`resolveOffset` is synchronous. The only thing it does is set a value in an object. The examples must be off.

[2019-12-02 09:03] JaapRood commented on #571
Beyond `consumer.disconnect`, there is no way to force the connection to stop.

I would strongly advise against this, as the error that triggered before puts your app in an undefined state. Even if you'd kill the connection and somehow get the consumer to stop consuming (not sure how that would work), you'd run into undefined behaviour as a result of being in an undefined state. That can lead to s

[2019-12-02 09:24] goriunov commented on #571
@JaapRood thanks for suggestion, i have been doing chaos testing (stoping/starting kafka nodes for random amount of time), disconnecting internet for some time and connecting back. As an observation i have noticed that sometimes it can take a while to recover from this kinda situations event thought system is up (do not see any logs in debug as well) (as a work around i thought about the above sol

[2019-12-02 09:27] #569 closed

[2019-12-02 09:47] JaapRood commented on #571
Subjecting your systems to some chaos testing is always an interesting exercise, and theoretically something Kafka should shine in, and so should KafkaJS.

A big part of where you'll see delays in recovery is through how Kafka's `ConsumerGroup` work, which problems are rooted deep in distributed systems theory. Basically, to prevent a system from becoming super over-reactive to any type of fault a

[2019-12-02 11:02] tulios commented on #558
I think this is related to #555; I am currently investigating the issue

[2019-12-02 11:14] zepeto-dev opened #574 "I want to adjust max.poll.interval.ms"
there is a long batch job. It can be processed up to 1 to 2 hours.
I have to do it with 1 eachMessage.
poll one message and not poll the message until the time it is processed.
that's why I have to modify **max.poll.interval.ms**
how should I fix it in kafkajs?
what I want is that rebalancing doesn't happen even if it hasn't been processed for an hour.
**session.timeout.ms
group.min.session.timeou

[2019-12-02 11:22] JaapRood commented on #574
When running processing that's this long and can't be broken up in smaller steps, you'll want to use `eachBatch` instead of `eachMessage`. That's because you'll need to call the `heartbeat` function  it provides at least once within `session.timeout.ms`. [The documentation](https://kafka.js.org/docs/consuming#a-name-each-batch-a-eachbatch) should help you along with how to implement that.

This he

[2019-12-02 11:54] NoahHahm commented on #574
@JaapRood
thank you for the answer.
Distributing messages across partitions from producers In a Consumer Group, instances read and process messages one by one.
for eatchBatch why is it ignored even if I set partitionsConsumedConcurrently to 1?
how can I ensure that I get 1 message from eachBatch?

[2019-12-02 12:21] Nevon commented on #574
You cannot. You can configure how many bytes you want to get in each batch, and how long to wait for getting that number of bytes, but you cannot ask for a specific number of messages.

That's not really an issue, however, as you do get an array of messages in the `eachBatch` handler, so you just need to process them one by one in sequence. The `eachBatch` example in the documentation that @JaapRo

[2019-12-02 15:49] tulios commented on #562
@jlek are you running v1.11.0? I think PR #511 fixed this problem, can you try `1.12.0-beta.0` or the latest beta release (`1.12.0-beta.8`)?

[2019-12-02 15:53] #565 closed

[2019-12-02 16:00] tulios commented on #514
Feel free to re-open this issue if you need

[2019-12-02 16:00] #514 closed

[2019-12-02 22:43] goriunov opened #576 "Issue with reading data from newly created topic"
I have run consumer with auto creating topic true for `test-topic-2` then after some time tried pushing data in to that topic however it is never reading data (`test-topic` is properly read without any issues).

[code]

After trying to run code with `fromBeginning` flag i am able to recover some partitions which had data but partitions which never had any data still stay stale and when data produc

[2019-12-02 22:52] goriunov commented on #571
@JaapRood Thank you for your explanation :)  @tulios @Nevon i would be really interested in knowing about your kafkajs configurations.

[2019-12-03 07:48] Nevon commented on #576
Would you be able to reproduce this issue as a standalone script? It would be helpful to understand the exact sequence of events, and to be able to dig into which member is assigned to which partitions, and so on.

[2019-12-03 08:41] Nevon commented on #571
We're not doing anything particularly advanced. The only things we do are to adjust `sessionTimeout` and `heartbeatInterval` to be as small as possible, while still keeping them high enough to allow us to do some processing in between. But then our workloads are not particularly latency sensitive. If a machine dies and it takes a minute for the group to stabilize again, that's not a problem for us

[2019-12-03 09:22] goriunov commented on #576
@Nevon looks like this issue is intermittent, have not yet found exact cause, i will do more tests with that tomorrow and let you know if there will be any progress

[2019-12-03 09:34] tulios commented on #576
@goriunov what is the state of the consumers? are they always running? Have you published data after booting the consumers? Setting `fromBeginning` after the partition has been initialized has no effect.

[2019-12-03 10:00] jlek commented on #562
Hi @tulios

Thanks for looking into this. I am indeed running `1.11.0`. I tried `1.12.0-beta.0` after reading your suggestion, but alas, it didn't fix the issue. Although I do think it's very closely related to our issue!

I will try to break it down as I understand it. Please let me know if I've misunderstood something. :slightly_smiling_face:

# The issue you mentioned (PR #511)

## Underlying C

[2019-12-03 10:05] Nevon commented on #562
That is some really quality digging, @jlek. I really appreciate getting this detailed investigation. I think the "proper" fix you mentioned sounds totally doable, although testing it might be a bit of a challenge.

[2019-12-03 10:14] goriunov commented on #576
@tulios consumer was always running and consuming from one topic, then i just pushed some messages to second topic (java client `kafka-console-producer.sh --broker-list ...`) which never had any messages before and was able to see that messages get in to `LOG-END-OFFSET` but never read from there. After that i have restarted consumer and that did not help. Then i added `fromBeginning` and it corre

[2019-12-03 10:22] JaapRood commented on #571
That's basically our approach as well. We're actually running with the default 30 seconds for `sessionTimeout`, as a bit of time for things to rebalance is not that big of a deal. We've had it 5 seconds before, that increased the amount of rebalances we saw, so actually increased the total time we weren't processing and consumer lag somewhat.

[2019-12-03 14:03] Nevon commented on #562
We wrote a test to try to reproduce this locally, but weren't able to get it stuck. Could you share your topic configuration? We're not using topic compaction ourselves, so maybe we're misconfiguring something.

The topic configuration that we tried was:

[code]

Then we produced a bunch of messages with the same key, waited a bit and tried to consume them (which worked). It looks like it did comp

[2019-12-03 14:28] jlek commented on #562
Hi @Nevon

The topic configuration is:

- 12 partitions
- replication factor 3
- cleanup.policy=compact
- delete.retention.ms=2678400000
- min.cleanable.dirty.ratio=0.01
- min.insync.replicas=2
- segment.bytes=1073741824
- segment.ms=86400000

I have an idea as to why it might be difficult to write a test: the bug might only occur when the compacted message is the last message in a `RecordBatch`.

[2019-12-03 14:40] tulios commented on #562
@jlek our plan is to get a buffer and write unit tests, we just want to reproduce it locally. It would be quite difficult to have integration tests for this, but we should be able to have a fixture with a buffer in the right state.

[2019-12-03 15:05] jlek commented on #562
Sounds good! Just let me know if there's any way I can help.

[2019-12-03 15:37] JaapRood commented on #562
Just to confirm, I had to try a year back or so, and had to give up on it after a couple of days. Kafka's compaction strategy is based on all kinds of heuristics, as well as prone to GC and stuff, some virtually impossible to get that exact state reproducible.

[2019-12-03 16:09] Nevon commented on #562
Could you share your "hacky" solution? We've been tracing through KafkaJS, comparing it to the Java implementation, and from our eyes it looks like we're doing the same thing - but clearly there is some difference.

[2019-12-03 16:23] jlek commented on #562
Sure thing, here's the hacky solution

In `ConsumerGroup#Fetch` I did this:

[code]

I also made some changes to `Batch#lastOffset` and `Batch#offsetLag`:

[code]

Not sure I can supply a Fetch buffer, because the problem only occurs in Production.

[2019-12-03 16:32] jlek commented on #562
Oops, forgot this new method I added to `Batch`:

[code]

[2019-12-03 22:00] ethanresnick commented on #70
@mbarany What was your ultimate solution here?

[2019-12-04 03:31] mbarany commented on #70
Adding the **checkServerIdentity** option.
Example:
[code]

[2019-12-04 03:44] #574 closed

[2019-12-04 04:25] ethanresnick commented on #70
@mbarany Thanks. That's what I ended up doing too.

[2019-12-04 15:24] #563 closed

[2019-12-05 05:59] goriunov opened #579 "Not reading another topic in parallel"
Is it expected that if my consumer subscribed to multiple topics it is not going to read them in parallel ? For example if i have 2 topics and one of them takes too long to process messages how can i read from another topic within that time ?

[2019-12-05 06:19] goriunov commented on #579
So the only solution is to pause and resume topic:
[code]

[2019-12-05 06:20] #579 closed

[2019-12-05 07:41] goriunov commented on #576
@tulios @Nevon after a bit more testing i am not able to reproduce the issue above

[2019-12-05 07:41] #576 closed

[2019-12-05 08:00] tulios commented on #579
Hi @goriunov, I am leaving this comment as a future reference for other users that might land on this issue.

The concurrency unit in Kafka is the partition, KafkaJS can process each partition in parallel regardless of the topic. There are limitations to this approach; even if you subscribe to several topics, the library will fetch data based on `maxBytes` and `maxBytesPerPartition`. This means th

[2019-12-05 08:40] Nevon opened #580 "Allow throwing on no initial offset"
If a consumer boots and there's no committed offset available for a partition, we currently offer two options:

1. Start from the beginning of the partition (earliest)
2. Start from the current end of the partition (latest)

This is available with the boolean option `fromBeginning` of `consumer.subscribe()`.

However, this does not offer the ability to halt the consumer. The Java client offers a t

[2019-12-05 08:41] tulios commented on #580
I was about to suggest this as a change for v2

[2019-12-05 09:02] JaapRood commented on #580
I can't quite remember when, but I ran into this a couple of months ago as a thing to make Changelog replication work better (but then bailed on needing a changelog altogether).

At the risk of bike shedding, I'd suggest we think carefully about the name of this option. In the chat and issues, I've seen confusion about the different contexts for offsets, and how they work when. People often get co

[2019-12-05 09:32] Nevon commented on #580
😅

But sure, I agree that naming matters here. If we're all in agreement that having a way to enable this behavior is a good thing, we can start having the discussion regarding how to name these things.

[2019-12-05 09:54] JaapRood commented on #580
Haha, fair enough! I guess that's my total endorsement of the approach and the fact it's an issue worth addressing!

[2019-12-06 00:47] Fotiman opened #581 "Bad use of null-like value: logCreator"
If createLogger is called with { logCreator: undefined }, the default value of null will be assigned to logCreator.  The value of logCreator is not checked prior to calling logCreator(logLevel) resulting in   an exception such as a TypeError.

https://github.com/tulios/kafkajs/blob/3c3a91c94f3b32b9c5e35ff6af671244eee45487/src/loggers/index.js#L38

This is probably a low priority issue, but it's de

[2019-12-06 12:54] Nevon commented on #581
Do you have a suggestion for better handling of this? Although it's not intentional, raising a TypeError seems like a pretty reasonable thing to do when being passed an invalid type.

[2019-12-06 16:35] Fotiman commented on #581
I think the default assignment of null is a bit unusual, given that you wouldn't expect a "default" case to lead to a TypeError.  I can think of 3 options:
1. Removing the null default.  It will still throw a TypeError if undefined, but at least it's not implied that null is ok,
2. Defaulting the logFunction if logCreator is null/undefined (instead of calling logCreator and triggering a TypeError)

[2019-12-07 00:42] goriunov opened #584 "Need docs for pause and resume error"
Just found out that pause may throw error by reading tests and having multiple times crashes during my test runs. It would be good to have this  written somewhere:

[code]

Also as a side note IMHO would be better to return Promise instead of void so you can easily catch error without using try catch :)

[2019-12-07 01:28] goriunov commented on #584
Looks like `resume` has the same behaviour

[2019-12-09 09:36] JaapRood opened #585 "OffsetManager should use and expose resolveOffsets for tracking fetched offsets, to allow seeking behaviour to work correctly"
[While working on #582](https://github.com/tulios/kafkajs/pull/582#pullrequestreview-328205310) we realised `OffsetManager.resolveOffset` doesn't work as one would expect. @Nevon [wrote](https://github.com/tulios/kafkajs/pull/582#discussion_r354857160):

Having to use `committedOffsets` in a case where committing progress is not a primary concern,  is a symptom of there being an issue. Conceptuall

[2019-12-09 09:43] JaapRood commented on #584
The error you're referring to is thrown when the consumer isn't running yet. In other words, when calling `consumer.resume` or `consumer.pause` before `consumer.run` has been, or after `consumer.stop`. And you're totally right, there is no explicit mention of this in the docs at the time of writing.

I'll leave this enhancement of documentation open for a first collaborator 🙂.

[2019-12-09 09:55] tulios commented on #584
The documentation is missing, but the behavior is correct. You shouldn't try to recover from these errors, as you can see from the message (`Consumer group was not initialized, consumer#run must be called first`). Currently, you can't call these methods before calling `consumer#run`.

[2019-12-09 14:50] xozzslip opened #587 "How to normally consume from all partitions except the broken one?"
I have 50 partitions consumed by the service. When the service consume a message from one of the partition which leads to exception in `eachBatch` Kafka js throws exception to the Kafka. Which leads to stop consumption of all other 49 partitions stops. But I would like all other 49 partitions to be processed normally and one broken partition to be stuck in reprocessing. How can I do this?

[2019-12-10 11:03] Nevon commented on #587
The simple answer is that your `eachBatch` shouldn't throw, if you want to continue processing the other partitions, so you'll need to catch and handle whatever errors your receiving. The only problem is that by default we will resolve the last offset of the batch after your `eachBatch` resolves, so you'll need to turn that off and resolve manually instead. If there's an error processing a message

[2019-12-10 16:42] Alaspect opened #588 "Type error affecting .on() in consumer, producer, admin"
This looks odd:
**consumer/index.on()** returns the result of a call to **instrumentationEmitter.addListener()**, which is going to be a function, as seen below

[code]

This is correctly called out in the jsdoc comments above each method.

BUT... according to the type definition in index.d.ts, **.on()** returns void:
`on(eventName: ValueOf<ConsumerEvents>, listener: (...args: any[]) => void): voi

[2019-12-11 09:11] pimpelsang opened #589 "allow "brokers" parameter in client configuration to be function"
So instead of current:
[code]

Also allow passing callback
[code]

When the connection to kafka is down, every reconnect attemt would also run rediscover and maybe get fresh IPs.

Another question: Right now the broker IP's can't be changed after client has been initialized?

[2019-12-11 09:13] JaapRood opened #590 "Consumer can perform unexpected offset resets when no messages were consumed"
Consider consuming a partition for which no offset is committed and `fromBeginning=false`. Say that the latest offset of that partition is `10`. The next message to be consumed would be a new message, with offset `11`, once that is produced.

But what if that message isn't produced and we stop consuming in the interim (restart of process, service is down, whatever). Before we have the ability to s

[2019-12-11 12:24] Nevon commented on #589
Broker discovery is built into the Kafka protocol. We just need a connection to a single broker to be able to discover the rest. So the list of brokers that you specify when you create the client is only used for this initial discovery (we call them "seed brokers").

There is once scenario I could see is if all the brokers in the cluster are replaced while the consumer is connected, and you're not

[2019-12-11 14:47] xozzslip commented on #587
Thanks for the answer! I think this fits great

[2019-12-11 17:39] serragnoli opened #591 "Is it possible check that Kafka producer is successfully connected?"
(Pretty much the question asked in #452 but for Producers)

I would like to expose a health check endpoint from my application that produces data to Kafka.

Based on the replies on #452, I think I should/could use the [REQUEST_QUEUE_SIZE](https://kafka.js.org/docs/instrumentation-events#a-name-producer-a-producer) event.
Is this a good option? Is there any other alternative besides the above event

[2019-12-11 19:16] sklose opened #592 "Async Events"
Hi,

I have a use case where I need to invalidate some state in my application when the consumer group rebalances which must complete before the rebalancing continues (in order to be compliant with the Kafka rebalance protocol and EOS semantics).

With the current API I can do

[code]

The problem is that GROUP_JOIN is sync and my state invalidation code is inherently async.
I was thinking of subm

[2019-12-12 09:28] JaapRood commented on #592
We do exactly the same thing: setup work on every rebalance before we continue processing. The trick here is to use [`consumer.pause` and `consumer.resume`](https://kafka.js.org/docs/consuming#a-name-pause-resume-a-pause-resume), which can stop and start the flow of incoming messages. As soon as the group join is received, you pause incoming messages. Once you're ready to consume again, you resume

[2019-12-12 12:57] can-kayacan opened #593 "How to connect back to the Kafka broker after the connection is lost"
Kafkajs does not detect when Kafka broker is for any reason (e.g. restarting) becomes unavailable. Sending messages to a disconnected Kafka broker does not give any error. It continues this behavior even after the Kafka broker is available back again.

Is there a way to detect if the Kafka broker is down or how can we make sure that the connection is healthy and we can send messages safely?

[2019-12-12 15:13] Nevon commented on #593
That is not how KafkaJS works. If KafkaJS makes a request and doesn't get an answer within a timeout period, it will throw an error and retry. The client re-establishes connection if the connection is closed. If it fails to reconnect, it will retry a number of times and eventually crash.

Could you provide some logs to prove what you are claiming? You can run with a higher log level to get more in

[2019-12-12 15:17] #562 closed

[2019-12-12 15:19] Nevon opened #594 "Calculate correct next offset for empty compacted batches"
When we receive a batch that contains only messages with offsets lower than what you requested, we currently resolve the requested offset to allow you to move forward.

Instead of doing this, we should be able to calculate the new offset based on the batch `firstOffset` and the `lastOffsetDelta`, which should be much more efficient.

See: https://github.com/tulios/kafkajs/pull/577#issuecomment-562

[2019-12-12 15:47] sklose commented on #592
@JaapRood, thanks for the quick response. Not sure if pause and resume will be sufficient for my use case. I am effectively managing my own queues of messages outside of the kafkajs runner loop and when a rebalance happens I need to wait for currently in-flight messages and clear pending items from the queue.

![image](https://user-images.githubusercontent.com/546088/70726324-ee4a3180-1ccb-11ea-94

[2019-12-12 15:47] Nevon commented on #591
Healthchecking for producers doesn't really make much sense, in my opinion.

`await producer.connect()` will tell you if you managed to establish a connection, but after that, if you're not sending any data, you have no idea if the connection is still open. A TCP connection is not closed until one side sends a close packet.

When you call `await producer.send()`, KafkaJS will re-establish the conn

[2019-12-12 16:04] #587 closed

[2019-12-12 16:17] #581 closed

[2019-12-12 16:29] Nevon commented on #580
Okay, so on to names. I strongly believe that we should align the option names themselves with the Java client (EARLIEST, LATEST, NONE), but the option itself I have less of an opinion on. `defaultOffset`? Other ideas? The java option name is horrible, so I don't want to use that.

[2019-12-12 16:48] JaapRood commented on #592
Very interesting @sklose, thanks for shedding light on that. For my client work we're dealing with exactly the same scenario as you are, but don't support EOS yet for commits stored on the Broker. We definitely have plans for that, though. Can't say that I was aware that this synchronisation barrier played an essential role in it, so will have to dive into that!

Keeping in mind I need to get into

[2019-12-12 17:29] sklose commented on #592
A dedicated mechanism for the synchronization barrier makes sense to me. Maybe some kind of optional (async) callback that you can configure on the client.

[code]

I can work with the pause/resume functions for now. Once we settled on an approach for this I am happy to submit a PR.

FYI this is the talk I took that image from https://www.confluent.io/kafka-summit-lon19/everything-you-wanted-to-kn

[2019-12-13 04:02] Viral opened #596 "issue with producer/consumer batching"
I have a simple producer/consumer somewhat working using the sample code. All of a sudden my consumer, which uses eachBatch started breaking up the batches...

on the producer I have something like this:

[code]

and the consumer is

[code]

I get a batch of 1 key/value and then the 2nd batch will have 2 of the key/value pairs. it's random. but the 3 key/value pairs are never in the same batch. wh

[2019-12-13 06:21] kambing86 commented on #298
I created [one](https://github.com/kambing86/kafkajs-stream) here, feel free to use it

I'm opened to merge this into this repo as well

[2019-12-13 08:59] Nevon commented on #596
The concept that you are missing is that producing a batch of messages has nothing to do with consuming a batch.

In Kafka, messages are stored in a partitioned log in the order that they were produced. When you consume, you simply ask for a certain number of bytes from a certain offset on one of those partitions - we call that a batch. The only difference between the `eachMessage` and `eachBatch`

[2019-12-13 09:31] JaapRood commented on #580
Totally agree on the option values aligning with the Java client.

Re option name: while vague, I actually think the Java option name is actually pretty accurate when you think about it's behaviour. An offset we're trying to _fetch_ is out of range, whether it's through resuming from a committed offset, seeking to that offset, or even garbage collection happening _while_ we're consuming (slowly).

[2019-12-13 09:33] JaapRood commented on #580
Looking over this, I'm actually wondering: where would one catch this error? What code do I wrap to handle this behaviour myself in a predictable way? I'm not sure. I probably would actually expect for this option to take a function that lets me express it.

[2019-12-13 11:36] ankyjk opened #597 "LZ4 compression not implemented : Kafkajs Node Implementation"
Getting Following error while consuming messages using kafkajs library in nodejs.
How to solve this error?

[code]

[2019-12-13 11:45] jpanduro-blackbird commented on #597
@ankyjk Take a look at https://www.npmjs.com/package/kafkajs-lz4

[2019-12-13 12:00] ankyjk commented on #597
I am new to Kafka Nodejs,
I am using npm to install packages, in this, there is yarn, I tried installing kafkajs-lz4 using npm, but this does not help

[2019-12-13 12:05] jaysequr commented on #373
Any progress?

[2019-12-13 13:21] JaapRood commented on #373
Nope, you @jaysequr?

[2019-12-13 13:58] ankyjk commented on #597
Thanks, Worked for me

[2019-12-13 13:58] #597 closed

[2019-12-13 14:21] Delapouite opened #598 "KafkaJSProtocolError: The broker received an out of order sequence number"
Hi

I have a single producer:

[code]

As you can see, I'm using the `idempotent` feature introduced in https://github.com/tulios/kafkajs/pull/203 I'm also forcing the `maxInFlightRequests` to `1`

It works fine when my producer sends messages to the kafka server at a slow pace. By that I mean no requests are stored in the `RequestQueue`.

But during spike in activity, sometimes messages are autom

[2019-12-13 20:33] #596 closed

[2019-12-14 17:14] ThisIsArnab opened #599 "Is there any plans to support Kafka Connect protocol?"
It would be a nice feature to have Kafka connector API in kafkajs.

[2019-12-15 07:37] ledbit opened #600 "Tried to decode a partial record batch"
Running into an issue when consuming from snappy compressed topics - have yet to reproduce this locally, but reaching out to see if anyone else has ran into this issue before.

[code]

Kafka version: kafka 2.1.1, scala 2.12
Kafkajs version: 1.11.0

[2019-12-15 09:19] ledbit commented on #600
hmm after some digging through the code base it seems like the above errors should not be thrown as it is normal for end of response to have extra stuff

https://github.com/tulios/kafkajs/blob/v1.11.0/src/protocol/requests/fetch/v4/decodeMessages.js#L30-L35

... but they do. The only reason I can think of why this could happen is the use of `e.name === ...` which would not work in minimized/uglifi

[2019-12-15 11:31] Delapouite commented on #598
Here's a minimal reproducible case:

[code]

If this code runs with a "large delay" between request (like the default 100ms), everything is fine:
[code]

But if you run this code with a small delay, the out of `OUT_OF_ORDER_SEQUENCE_NUMBER` is raised.
Here I voluntarily set the delay to an extreme 1ms on my laptop, but on the real server the value is often higher:

[code]

Here's the log output:
[

[2019-12-16 09:39] can-kayacan commented on #593
Well it is working as you described.

I was trying to stop the kafka docker with "docker pause" which was not really stopping the docker container that's why Kafkajs was still sending messages correctly. After correctly stopping the container it started to work like you described. Thank you for the help.

[2019-12-16 09:39] #593 closed

[2019-12-16 23:01] HunderlineK commented on #517
I had a very noob question, how does kafkajs invoke the kafka APIs? Is it through RPC or REST? I was trying to find the starting point of the connection to the brokers in the source could, but was unsuccessful >~< Thanks!

[2019-12-17 06:14] Delapouite commented on #517
@HunderlineK kafkajs use a socket. See the network code in this dir: https://github.com/tulios/kafkajs/tree/master/src/network

[2019-12-17 08:13] tulios commented on #517
Hi @HunderlineK, Kafka has its protocol on top of TCP. In KafkaJS, you have the network layer which is responsible for the socket connection, and the protocol layer, which works encoding and decoding the binary payloads returned by Kafka. The closest thing to a rest client in the library is the broker, which uses the connection and the protocol to interact with Kafka.

You can take a look at the b

[2019-12-17 14:08] jeromecovington opened #601 "Clean shutdown of long-running consumer/producer task using eachBatch and highWatermark"
Hello, I reached out in the slack channel but thought it made sense to go ahead and open an issue as well. I understand this can be tricky but: I have a long-running task that will consume and produce back to a very large topic. I will be using `eachBatch()` as this allows me to have access to `highWatermark`. I would like to be able to run this script and be able to walk away from it, having it m

[2019-12-17 19:44] jeromecovington commented on #601
It seems that when calling `consumer.disconnect()`, `consumer.stop()` is first called, which calls [`runner.stop()`](https://github.com/tulios/kafkajs/blob/fcf64350d16bb8af09b1e16706dea85901417cbd/src/consumer/index.js#L132). Then, we attempt to [`waitForConsumer()`](https://github.com/tulios/kafkajs/blob/fcf64350d16bb8af09b1e16706dea85901417cbd/src/consumer/runner.js#L128). However, `this.consumi

[2019-12-17 21:53] jeromecovington commented on #601
I ended up doing some manual management, tracking the number of times `highWatermark` was reached, against my total number of partitions, then shutting down, something like this:
[code]

This is a workable solution for me, I'll close this for now, hopefully it will help someone else too!

[2019-12-17 21:53] #601 closed

[2019-12-17 21:58] Delapouite commented on #598
I've registered to the Slack channel and found some other users who faced the same issue in the past. I'm adding links here so they can be contacted at a later time if progress is made:

by Vykimo  https://app.slack.com/client/TF528A1BJ/CF6RFPF6K/thread/CF6RFPF6K-1556120666.002100
by Arpit https://app.slack.com/client/TF528A1BJ/CF6RFPF6K/thread/CF6RFPF6K-1556536043.003600
by Dave Bohl https://app.

[2019-12-18 07:51] HunderlineK commented on #517
Oh, I think now I understand why developing a modern JavaScript Kafka client has been such an undertaking!

If I have understood the implementation correctly, all the helper functions are already provided, so this will only require, concretely speaking, creating a new folder under `protocol/requests` called `ListGroups` and implementing request and response handlers?

For each API, you need to fir

[2019-12-18 08:48] Delapouite commented on #600
@ledbit I'm curious about how you use kafkajs in a browser. Do you use a custom socket factory to piggy-back on WebSockets?

[2019-12-18 09:23] tulios commented on #601
Hi @jeromecovington, sorry for the delay, most of the team is already on vacation so bear with me :D

I will take a look at the shutdown sequence, thanks for the detailed investigation.

[2019-12-18 09:25] tulios commented on #598
Hi @Delapouite, thanks for the detailed investigation. Most of the team is already on vacation, so bear with me 😄

We implemented transactions right after it was out, so we might have gotten some things wrong. I will try to get the docs around it to confirm some things, can make the changes you proposed locally and try that? I could also help you land a PR

[2019-12-18 09:27] tulios commented on #599
Hi @ThisIsArnab, what would you like to see in KafkaJS? Kafka connect can do a lot of things, how do you see this working?

[2019-12-18 09:28] JaapRood commented on #599
I'd imagine Kafka Connect is outside of the scope of KafkaJS. As far as I know, Kafka Connect isn't actually a protocol between a Kafka Client and Kafka Cluster. In fact, it's a library on top of that, with a massive collection of plugins, that uses a Kafka client (the Java one in this case). To me, it seems like something to be built on top of KafkaJS, rather than as part of it.

[2019-12-18 09:33] tulios commented on #517
@HunderlineK everything you will need is already in KafkaJS, the encoder and decoder can generate all types the Kafka protocol needs. The workflow is exactly what you have mentioned before, first you create a folder with the protocol method you want to implement, in this case, `request/ListGroups`. In there, you add all versions up to Kafka v1. Then you add your new protocol method in the list of

[2019-12-18 11:26] serragnoli commented on #591
Thanks for the reply @Nevon. I was away and returning to this issue today.

I have a follow-up question please.

Is the number retries configurable?

[2019-12-18 11:32] ThisIsArnab commented on #599
I need to stream messages from TIBCO system into Kafka cluster and consume those messages in my Node.js application. I'm new to kafka world and Kafka connect seemed to fit my requirements.

_Apache Kafka documentation:_

[2019-12-18 11:48] JaapRood commented on #599
@ThisIsArnab even in the Java API, that would be a separate Connector you'd have to install. The Connector API is only a framework for individual connectors to be implemented against. So even if KafkaJS supported the Connect API (which as I've noted before I think is better served as it's own project), somebody would have to implement that particular Connector in Node.js.

In other words: if you'r

[2019-12-18 13:58] tulios commented on #601
@jeromecovington I checked the code and everything looks correct, what do you mean by `However, this.consuming never transitions to false so the Promise never resolves`?

`scheduleFetch` makes sure that `consuming` will always end up as false
https://github.com/tulios/kafkajs/blob/67c71927e9c649ff00a88eda8c752849b2eda864/src/consumer/runner.js#L393-L395

maybe you can provide an example?

Thanks

[2019-12-18 19:07] NoahHahm opened #603 "kafkajs questions in a cluster environment"
I am using kafkajs in a k8s kafka cluster environment.
Kafkajs A, B, and C servers with a common groupId are receiving one topic.
 - eachBatchAutoResolve false used.

const consumer = kafka.consumer({
  groupId: "common",
  partitionAssigners: [ roundRobin ]
});

I issued 1 message from producer
while server B is running eachBatch (at least 5 minutes), server C is receiving duplicate messages.
Whi

[2019-12-18 21:58] LakhsmiC commented on #554
Hello Team,
we are still seeing these errors in production . We are instantiating the kafka connection only once throughout the lifecycle of the application and then publish the messages . when the application exits the kafka connection is closed. KafkaJs version used in application : 1.8.0. kafka connection options in our application.
kafka = await new Kafka({
      brokers: kafkaBrokerList,

[2019-12-18 22:19] ledbit commented on #600
@Delapouite - not running it on the browser. We'd bundling a NodeJS application into a single file and use webpack & uglifyjs to obfuscate/minimize code size.

[2019-12-19 08:55] Nevon commented on #601
Right, but since he's calling `consumer.disconnect` from _within_ his `eachBatch`, won't we get sort of a deadlock since `disconnect` will wait for the consumer to finish, which only happens when `eachBatch` terminates, which it won't because it's waiting for the `disconnect`, etc?

[2019-12-19 08:58] Nevon commented on #554
It would be helpful if you could provide the code, so that we can see how you instantiate and use your producer. It would also be helpful to have debug logs, which you can get by running with the environment variable `KAFKAJS_LOG_LEVEL=debug`.

[2019-12-19 22:33] high-stakes opened #605 "Zipkin (Operational tracing) integration"
Hi

Just letting you know I made zipkin integration for KafkaJS a while back https://github.com/openzipkin/zipkin-js/tree/master/packages/zipkin-instrumentation-kafkajs

It was a bit problematic without interception support, are there any plans to add that?
Would also be useful for various message formats such as protobuf or avro to convert the messages automatically.

[2019-12-20 05:57] kambing86 opened #606 "type error for ProducerBatch"
should be

[code]

[2019-12-20 09:25] ankon commented on #606
Went through the code, and indeed all parameters seem to be optional (including `topicMessages`, see https://github.com/tulios/kafkajs/pull/287):

`acks` and `topicMessages` get defaults here:
https://github.com/tulios/kafkajs/blob/67c71927e9c649ff00a88eda8c752849b2eda864/src/producer/messageProducer.js#L31

`timeout` and `compression` get defaults here:
https://github.com/tulios/kafkajs/blob/67c7

[2019-12-20 14:03] eliw00d opened #607 "[TypeScript] ProducerBatch requires acks, timeout, and compression"
ProducerRecord has the following interface:
[code]
while ProducerBatch has the following interface:
[code]
However, sendBatch has the following documentation:
[code]
Shouldn't the interface for ProducerBatch have acks, timeout, and compression as optional since they are defaulted? If so, I can put up a PR.

[2019-12-20 17:19] LakhsmiC commented on #554
Hello Nevon
Below are the files which contains the producer code and app.js is where we instantiate the kafka connection only once in our applicaiton.
[kafka-producer.txt](https://github.com/tulios/kafkajs/files/3989372/kafka-producer.txt)
[app.js.txt](https://github.com/tulios/kafkajs/files/3989373/app.js.txt).
By default the  KAFKAJS_LOG_LEVEL=error in production. i will check my team if we can

[2019-12-20 19:22] eliw00d commented on #607
Oops, duplicate of https://github.com/tulios/kafkajs/issues/606

[2019-12-20 19:22] #607 closed

[2019-12-21 09:49] Nevon commented on #554
I looked through the code, and as you say, you are only creating one instance of the producer. One thing to note is that you are keeping state in your application (`isConnected`), which won't really be representative of the real state of the producer, since it could disconnect or connect to new brokers over time. If you want to actually keep track of the connection state, you have the [instrumenta

[2019-12-21 10:08] Nevon commented on #605
Can you describe what you mean by that?

Since we don't know how the messages are encoded, we can't really do that within the scope of the Kafka client. However, maybe it would be interesting to expose a pluggable interface of some kind for encoding and decoding message values and keys, so that libraries like [`@kafkajs/confluent-schema-registry`](https://github.com/kafkajs/confluent-schema-regist

[2019-12-21 10:13] Nevon commented on #603
As long as all the consumers join the same consumer group, which they do based on the groupId, each consumer will be assigned one or more partitions, so they won't be receiving the same messages.

However, by default Kafka has at-least-once delivery semantics, so you are _not guaranteed_  not to receive duplicates. For example, imagine that consumer A gets a batch of messages and then dies in the

[2019-12-21 10:16] Nevon commented on #600
Fixed by #602

[2019-12-21 10:16] #600 closed

[2019-12-21 10:17] Nevon commented on #600
Feel free to re-open if #602 didn't solve it.

[2019-12-21 10:21] #591 closed

[2019-12-21 17:51] high-stakes commented on #605
Interception points around message production and consumption, like in the Java client. I did not mean to add support for those formats specifically just it's much easier to have a fixed interceptor API instead of proxying the consumers and producers ourselves in a hacky manner which opens up a lot of points of failure. The current compression codecs could be added as interceptors instead in a mor

[2019-12-22 10:38] Nevon commented on #605
I see. We've actually discussed this in the past (there is an issue somewhere about a plugin interface), but as far as possible, we prefer these kind of plugins to use the same interface as the user does. I wouldn't say that it's a hacky solution, and it will give you the exact same API stability as some hypothetical interception API.

Taking the example use case from the Kafka Java documentation

[2019-12-23 08:27] kouguopeng opened #609 "how to use .keytab file to connect kafka"
how to use .keytab file to connect kafka

[2019-12-23 09:41] #588 closed

[2019-12-23 09:43] tulios commented on #609
Hi @kouguopeng, KafkaJS doesn't have built-in support for the Kerberos authentication.

[2019-12-23 14:29] LakhsmiC commented on #554
Thank you so much for your time and taking a  look into our code.
1. We will start using instrumentation events for connectionState.
2. We have initially set connectionTimeout = 3000ms and authenticationTimeout at its default.
But we got _**"This server does not host this topic or partition"**_ errors resulting in producer failure . So we had to remove . We will again play around the connectionTim

[2019-12-23 20:29] #606 closed

[2019-12-23 21:59] PowerMogli opened #611 "How to use SASL_SSL for confluent.cloud?"
Hi guys,

I am trying to connect to confluent.cloud with SASL_SSL configuration. I have the username and password. When I specify ssl: true I get no connection at all. With node-rdkafka all worked without any issues. There I specified

'sasl.username': config['sasl.username'],
'sasl.password': config['sasl.password'],
'security.protocol': 'SASL_SSL',
'sasl.mechanisms': 'PLAIN',

But how do I have

[2019-12-23 22:22] Nevon commented on #611
It would be helpful if you would share how you are configuring KafkaJS.

[2019-12-24 07:55] PowerMogli commented on #611
const kafkaClient = new Kafka({ brokers:[config['bootstrap.servers']],
clientId: `${app.get('service').toUpperCase()}::#${process.env.NODE_APP_INSTANCE || 1}`,
ssl: true,
sasl: { mechanism: 'plain', password: config['sasl.password'], username: config['sasl.username'] },
    });

[2019-12-24 09:21] Nevon commented on #611
What's the datatype of `config['bootstrap.servers']`? Based on the name, it doesn't sound like a string containing a single broker address, but either an array of strings or maybe a comma-delimited string (common with environment variables).

`brokers` should be an array of strings, with each string being a broker address. Ex `broker: ["broker1:9094"]`,

[2019-12-24 10:17] PowerMogli commented on #611
It is a single string value. Something like "confluent.cloud:9092".
 So in the end I have brokers: ["confluence.cloud:9092"]. Exactly like you suggested.

[2019-12-24 10:46] Nevon commented on #611
There are people who have connected to Confluent Cloud with KafkaJS, like this person for example https://confluentcommunity.slack.com/archives/C499EFQS0/p1575779294235000?thread_ts=1575779294.235000&cid=C499EFQS0 with basically the config you describe. I would recommend that you double check that you have the right port, the right username and password, and that the server certificate is trusted

[2019-12-24 15:22] jasine commented on #561
I have similar situation, my consumer stuck and not consume message anymore

[2019-12-25 21:00] ulloa commented on #561
I actually had a similar issue just now. I described Kafka consumer groups in the console. And my kafkajs consumer group wasn't moving up in offset, the lag was increasing after every message I sent.

I restarted the node server and kafkajs consumer multiple times and logged everything, but the only log that had any extra info was DEBUG. However it was too long to read (50 MB of logs in a minute o

[2019-12-25 21:04] ulloa commented on #561
I actually had a similar issue just now. I described Kafka consumer groups in the console. And my kafkajs consumer group wasn't moving up in offset, the lag was increasing after every message I sent.

I restarted the node server and kafkajs consumer multiple times and logged everything, but the only log that had any extra info was DEBUG. However it was too long to read (50 MB of logs in a minute o

[2019-12-26 07:19] rajjagani021 opened #612 "Discard eatchBatch Messages While Pausing the Consumer."
I have some dependency while processing the message so I am using `eachMessage` and also the consumer `pause/resume` method. **What I want to do is, when I pause the consumer, I want to discard the messages in active batch so those messages can be as it is in my kafka cloud.** , but `eachMessage` is the wrapper of `eachBatch` so if I pause the consumer still I'll receive those messages which are p

[2019-12-26 10:22] #603 closed

[2019-12-27 18:24] gimbalgambit opened #613 "Consumer/Producer .logger() methods have incorrect return-value type annotations"
It looks like the type annotations for Producer/Consumer `.logger()` methods are incorrect:

https://github.com/tulios/kafkajs/blob/fe7c0030620ffdc33e4141b9dd9dbff97d500f20/types/index.d.ts#L649

https://github.com/tulios/kafkajs/blob/fe7c0030620ffdc33e4141b9dd9dbff97d500f20/types/index.d.ts#L473

Both are listed as returning `Logger`, but that type is defined as a log-event function, not a logger

[2019-12-28 19:42] PowerMogli commented on #611
One last question: What is the best practise to instantiate a kafkajs client instance? should it be created for each consumer and producer or only once for each consumer/producer?

[code]

[2019-12-29 08:45] Nevon commented on #611
You only need to create it once, and can then reuse it for creating all your producers and consumers. You only need to create a new KafkaJS instance if you want to have different configuration.

[2019-12-31 09:50] thynson opened #616 "Export error classes from error.js"
Also export them in typescript definition files. So it would be convienent to check error in type safe way.

[2019-12-31 17:56] PowerMogli commented on #611
Ok, one last question: what are valid values for configEntries while creating a new topic with adminClient? I'm trying to set max.message.size.bytes but then I get an exception.

[2020-01-02 03:09] HunderlineK commented on #517
@tulios So I've started implementing this; one thing I've noticed is that this particular ListGroups API does not accept any input, so after a bit of digging I found this:

https://cwiki.apache.org/confluence/display/KAFKA/KIP-40%3A+ListGroups+and+DescribeGroup#KIP-40:ListGroupsandDescribeGroup-Motivation

I'm somewhat lost, as I'm not sure exactly how we can specify the broker?

Looking at a coup

[2020-01-02 12:42] songpr commented on #558
@tulios as commented in #555 the #582 do not fix issue in #555 and this bug.

[2020-01-02 14:09] songpr opened #618 "Azure Eventhub: "[Consumer] Crash: KafkaJSNumberOfRetriesExceeded: Cannot read property 'low' of undefined""
I've the same issue as #555  and the fix in #582 do not fix this issue.

[2020-01-03 16:00] nj-jking opened #619 "Kafka Stops Consuming when batch contains only control messages."
the batch.isEmpty() check short circuits when a batch contains no filtered messages. this causes the consumer to continually fetch the batch and will not continue. control record offsets are not acknowledge and the batch is fetched in a endless loop.
see line 292 of consumer/batch.js

[2020-01-03 16:02] tulios commented on #619
Hi @nj-jking, can you try the latest pre-release version? `1.12.0-beta.17`

[2020-01-04 17:16] Nevon commented on #517
I think kafka-node's approach makes more sense. We shouldn't offload that responsibility to the user, unless there's a compelling reason to.

I think the cluster has all the information you need - the current metadata with the broker's node id, and methods for retrieving those brokers. `cluster.metadata()` and `cluster.findBroker`. That gives you a `Broker` instance per broker, where you'd make th

[2020-01-05 11:50] Nevon commented on #611
Have you read the exception? The format is like:

[code]

The possible values depend on the version of Kafka that you're running. [You'll have to consult the Kafka docs](https://docs.confluent.io/current/installation/configuration/topic-configs.html).

[2020-01-05 11:50] #611 closed

[2020-01-05 11:51] Nevon commented on #609
I'm closing this as inactive. Feel free to open up an issue with a feature request for Kerberos authentication.

[2020-01-05 11:51] #609 closed

[2020-01-05 11:55] Nevon commented on #561
@ulloa: That the size is 92 bytes tells me that the batch was empty. There can be many reasons for this, such as having a single message that is too big to fit into a batch, or that the whole batch is full of compacted messages. If it's the latter, there is a workaround [available in the latest beta version](https://www.npmjs.com/package/kafkajs/v/1.12.0-beta.17) if you want to give that a shot.

[2020-01-05 11:55] #561 closed

[2020-01-06 06:00] kouguopeng commented on #609
2020年1月5日 下午7:51，Tommy Brunn <notifications@github.com<mailto:notifications@github.com>> 写道：

Closed #609<https://eur05.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Ftulios%2Fkafkajs%2Fissues%2F609&data=02%7C01%7C%7Cea676e55a26a4281d3c808d791d59c1d%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C637138218939712207&sdata=S3HYvd2PJOFKvgwqZfLwSx0ygVZfRoM0RNB4OaqTXS4%3D&reserved=0>.

—

[2020-01-06 12:51] rajjagani021 opened #621 "Delete all messages in a topic"
Do we have any function or anyway by using that I can delete all the messages in a topic? I have checked the documentation and there are no such things. I just found the below way but I think to change the retention time of the topic, Is there any function for this as well?

`To purge the Kafka topic, you need to change the retention time of that topic. The default retention time is 168 hours, i.e

[2020-01-06 13:00] JaapRood commented on #517
Couldn't agree more. As far as the user should be concerned, you're talking to the Kafka Cluster. Brokers should be an implementation detail of that as much as possible (not possible everywhere, like the amount of acks in producing message, where you'd have to think about the fact that there are individual Brokers). Querying all brokers and aggregating seems like a straightforward way to achieve t

[2020-01-06 13:50] JaapRood commented on #621
Kafka's topics (logs), from a consumer's point of view, are immutable. That means that once a message is created, it can't be deleted. It's only _the cluster_ itself that can delete messages. It will do this in these two cases:

- By default, after a certain amount of time has passed, aka time-based retention. Any messages older than a certain setting _can_ be deleted by the cluster, to make space

[2020-01-06 14:54] nj-jking commented on #619
You bet. I'll give it a shot and report back.

[2020-01-06 15:59] nj-jking commented on #619
Confirmed. this is resolved with 1.12.0-beta.17

[2020-01-06 15:59] #619 closed

[2020-01-06 23:57] rs6696 commented on #554
@Nevon : Thank you for your time for looking into it.
as per your sggestion i was trying to play around  connectionTimeout: 2000,   and   authenticationTimeout: 2000 as below, but got an error as below with **authenticationTimeout** as it's not an option with kafkaoption.

 kafka = await new Kafka({
      brokers: kafkaBrokerList,
      ssl: {
        rejectUnauthorized: true,
        ca: [fs.read

[2020-01-07 03:54] robodude666 commented on #593
Based on the behavior I've observed, if you your client is setup like so:

[code]

and the current broker goes down (`broker1` for example), kafkajs will endlessly try to reconnect to that same broker until it comes back up.

I'd expect it to give up after a certain period of time and try another broker. If this is the expected functionality, am I doing something wrong with the setup? I'm using th

[2020-01-07 03:57] robodude666 commented on #589
Regardless of using the seed broker to discover other kafka brokers, I'd still like this functionality for one reason:

- You may not know the hostname/port of your first kafka broker. Having an sync function would allow the user to use zookeeper to discover the brokers.

Regarding when to call the function, I'd say at least once during initialization. Then whenever a connection is lost after cert

[2020-01-07 05:49] ashercoren commented on #130
@Nevon , you said that the will heartbeat after processing each message, `provided that at least heartbeatInterval milliseconds has passed`. If a message gets processed very fast, and the next message will only arrive sometime later, can that cause a heartbeat to be missed as well?

[2020-01-07 06:33] #621 closed

[2020-01-07 10:47] benzaita opened #622 "sendBatch not sending multiple batches for the same topic"
I’ve hit something which feels like a bug. Using `sendBatch` to send this works perfectly:

[code]

However, sending this ends up producing only the second message:
[code]

Is this expected?

[2020-01-07 15:33] lcharbon opened #623 "Conflict With Grok-Js"
When the library [grok-js](https://github.com/honzahommer/grok-js) is imported to an app with `kafkajs` the output of `await producer.send()` is an empty array.

See minimal example [here](https://github.com/lcharbon/gork-conflict).

In this example, if `const grok = require('grok-js');` is uncommented kafkajs will stop working.

Issue submitted to grok-js [here](https://github.com/honzahommer/gro

[2020-01-08 12:04] Nevon commented on #622
Although we never intended to let you specify multiple `TopicMessages` objects for the same topic, the current behavior is not exactly expected.

As I see it, we either:

a) Throw some kind of validation error

b) Do a pass over the input and consolidate all the messages for the same topic.

I think I prefer b, because it's the least surprising thing and it will "Just Work" without the developer h

[2020-01-08 12:15] Nevon commented on #554
This is not an issue with KafkaJS, but something with your project. I don't know where you are getting your types from or even what type system you are using. We don't have any type called `KafkaOptions` in our TypeScript types. [The corresponding interface would be `KafkaConfig`](https://github.com/tulios/kafkajs/blob/master/types/index.d.ts#L14-L28).

[2020-01-08 12:19] Nevon commented on #589
That doesn't need to be part of KafkaJS though. If it's only done once during initialization, there's really no need to pass the async function itself to KafkaJS, you could just call it yourself and pass the result when creating your client.

[2020-01-08 12:21] Nevon commented on #130
No. It doesn't matter if there are messages to process. On each Fetch request, which happens continuously in a loop, we'll heartbeat if enough time has passed since the last heartbeat.

[2020-01-08 12:34] Nevon commented on #593
Without actually reading the code, I'm not 100% sure, but it could be the case. There are two reasons to connect to a broker:

1. We don't know enough about the cluster, so we need to get metadata ("On which broker can I find topic `foo`?", "What's the host and port for broker with nodeId `bar`?"). This can be done against any broker. By default, we'll use any broker we're already connected to. If

[2020-01-08 12:39] kks010 opened #624 "Unexpected breakdown of Kafka after every few days."
[code]

[2020-01-08 12:39] kks010 commented on #624
It works when we restart the Pod.

[2020-01-08 12:40] kks010 commented on #624
@tulios Please help on this.

[2020-01-08 13:16] #613 closed

[2020-01-08 14:17] rajjagani021 opened #625 "KafkaJSProtocolError: Request parameters do not satisfy the configured policy"
I am getting the error **"KafkaJSProtocolError: Request parameters do not satisfy the configured policy"** while creating a new topic. I can successfully connect with the admin client. Here is my code. I am trying to create the topic on confluent using kafkajs.

[code]

**Error Trace**
`{"level":"ERROR","timestamp":"2020-01-08T14:06:30.270Z","logger":"kafkajs","message":"[Connection] Response Crea

[2020-01-08 14:40] Nevon commented on #625
This is not an issue with KafkaJS, but with your Kafka cluster configuration. You are trying to create a topic that violates the configured policy, as the error states. You'll have to consult whoever manages your Kafka cluster for support.

Note that you misspelled `top.partition`, just in case it's the number of partitions that is invalid.

[2020-01-08 14:40] #625 closed

[2020-01-08 15:58] JaapRood commented on #623
The only way I can see these two libraries conflict is if one of them mutates the environment, a global, altering the behaviour of some native functionality. A quick glance at the code of `grok-js` itself, I couldn't spot any, nor am I aware of the use of global in KafkaJS. More likely, I'd say, would be one of grok's dependencies being the culprit.

It'll be pretty hard to spot, which is exactly

[2020-01-08 16:19] Nevon commented on #623
This is because `gork-js` depends on `collections`, which replaces `Array.prototype.from` with a version that doesn't work with iterables. See montagejs/collections/issues/169

Closing this, as it has nothing to do with KafkaJS.

[2020-01-08 16:19] #623 closed

[2020-01-08 16:23] JaapRood commented on #623
🤦‍♀️

[2020-01-08 17:10] robodude666 commented on #593
I tried creating 3 brokers and setting my replication factor to 3. I was able to kill 1 broker and the consumer reconnected to another broker. However, after killing a 2nd broker all consumers stopped working. Bringing up the first broker caused all consumers to resume.

[2020-01-09 09:46] JaapRood commented on #624
The logs contain the following error message: `The coordinator is not aware of this member`. In all likeliness that processing is taking too long somewhere and the consumer's session times out.

Kafka tries to detect which of the consumers inside a consumer-group are healthy. For it to do this, it expects all consumers to send _heartbeats_ at regular intervals. If any of them don't, that node is c

[2020-01-09 15:09] #622 closed

[2020-01-09 15:29] Nevon commented on #622
Ended up going with option b. This is now available in `1.12.0-beta.20`

[2020-01-10 04:41] kks010 commented on #624
@JaapRood Thanks for the update.
I am currently using  "**eachmessage**" for the consumer using the below code :

await this._registerConsumer(topic, ({ topic, partition, message });

async _registerConsumer(topic, onMessage) {
    if (this.consumers[topic]) return;

    try {
      await this._checkAndCreteTopic(topic);

      const consumer = this.kafka.consumer({
        groupId: `${this.option

[2020-01-10 09:41] tulios commented on #493
@jasontobsec we will merge your PR, we had a long discussion about this and eventually dropped the ball on getting this through, sorry about that.

[2020-01-10 10:55] JaapRood commented on #624
Your example, without having run it, looks fine, assuming that `onMessage` is an async function. The function you pass to `eachMessage` _should_ be async and not return until the message has been fully processed, as otherwise there's the risk of buffering messages in memory until your machine runs out and the process crashes.

If `onMessage` takes more than 30 seconds to complete, you'll see the p

[2020-01-10 10:59] JaapRood commented on #624
Reflecting on what I just wrote:

If `onMessage` is not asynchronous, and your client therefor buffers lots of messages, overtime this might cause Node.js / V8 to do a major garbage collection pause. That might cause your entire program to pause for anywhere from a few seconds to minutes at a time (depending on the situation). That would definitely cause the `consumer` from heartbeating in time to

[2020-01-10 22:30] gimbalgambit opened #627 "PartitionAssigner type definition is incorrect"
The [type declaration](https://github.com/tulios/kafkajs/blob/0b70749931a1be3bfce81ca48ad2cf744e7e5e23/types/index.d.ts#L108) for customer partition assigners (`PartitionAssigner`) implies that a class should be passed in the assigner array, but it actually expects a function that returns an object.

The current type def looks like:
[code]
*(An object with a constructor that takes a config object

[2020-01-12 17:57] robodude666 opened #628 "Produced messages lost when KafkaJSNumberOfRetriesExceeded is raised"
I'm noticing that any messages the producer attempted to send out are lost if `KafkaJSNumberOfRetriesExceeded` is raised. Based on the [retry](https://github.com/tulios/kafkajs/blob/baabae3e52a34cf77910d47c547ea9f4d5a5de8f/docs/Configuration.md#-default-retry) documentation this sounds expected.

Would it be in scope of `kafkajs` to hold onto failed messages and attempt to send them later once a c

[2020-01-12 18:25] robodude666 opened #629 "producer.connect event not emitted after reconnect"
As a user, I would expect the `producer.connect` event would be emitted on a reconnection:

[code]

However, it seems like it only gets emitted once during `await producer.connect()`. It would be good to either have a dedicated `producer.reconnected` event emitted, or add a `reconnected: true` to the `producer.connect` event.

The use case would be if my code detects a `KafkaJSNumberOfRetriesExcee

[2020-01-13 04:44] kks010 commented on #624
Yes @JaapRood , This is exactly what is happening.

[2020-01-13 08:04] Nevon commented on #628
The latter. If we at any time start storing messages for later delivery, we get into hairy situations like what to do if the process crashes or if the machine suddenly dies - how would the user become aware that they lost data? We would also need a way for the user to enforce ordering, since if they produce two messages in a row, they'd expect the first one to come before the second one.

Not sayi

[2020-01-13 12:27] Nevon commented on #629
I kind of regret emitting that event to begin with, as it's really confusing what it means and what to use it for.

The thing is, we emit that event the first time the producer manages to connect to one of the configured brokers. I.e. when `producer.connect()` resolves, as you mentioned. But that just tells you that we managed to connect to _a_ broker. To actually produce a message to a particular

[2020-01-13 13:12] jarcodallo opened #630 "Migration from kafka-node(Apache Kafka 0.9) to kafka.js(Apache Kafka 0.11)"
Hi Guys,

I current migrating an application from [kafka-node](https://www.npmjs.com/package/kafka-node) to kafka.js, using rolling update and get this error:

[code]

Is any way to setup the retry for group join?

[2020-01-13 14:52] JaapRood commented on #624
Glad to have been of help! Since it sounds you've gotten to the root of the problem, I'll close this issue for now. Feel free to open up a new one for additional troubles / questions.

[2020-01-13 14:52] #624 closed

[2020-01-13 15:21] JaapRood commented on #612
I'm a slight bit confused, so just for my understanding, let me try to rephrase the problem. Let me know if I'm missing something.

- You've got a consumer consuming messages with `eachMessage`.
- At some point, not entirely sure why, you want call `consumer.pause()` for a topic-partition you're consuming.
- While fetching of messages has been paused, there's messages left in the batch, which you

[2020-01-13 17:39] ankon commented on #630
KafkaJS uses a different group assignment protocol than kafka-node, so while you're updating your consumers and have both kafka-node and KafkaJS consumers you will see these.

As soon as all consumers are upgraded the protocols should be compatible again, and these messages will go away.

From our experience with switching protocols: It might be advisable to do another rolling update, to ensure th

[2020-01-14 02:54] robodude666 commented on #629
If that's the case, I'd be in favor of deprecating the connect/disconnect events. Or having them reworked. Perhaps the connect event for the consumer could include the broker it was connected to, or list of topics that are available to it?

What would you recommend then? If my service needs to publish an event, it'd have to buffer them on failure and attempt later; no?