[2017-11-06 22:49] sergeyevstifeev opened #3 "Flaky test in connection.spec.js"
The test relies on a local network setup, which is not guaranteed to end up in connection timeout for a specific hardcoded IP address.

[code]

[2017-11-07 09:04] tulios commented on #3
True, but the socket requires a valid address. I'll have to pick a better address or try to figure out an unused address, any ideas?

[2017-11-13 22:47] tulios commented on #3
I have switched the IP with a proper test IP according to to RFC 5737:

https://github.com/tulios/kafkajs/blob/f8bc6826e043bb1f44d30ba5b5e23b04c71dad3e/src/network/connection.spec.js#L9

[2017-11-13 22:47] #3 closed

[2017-12-11 22:08] tulios opened #8 "Project logo"
I was thinking about an octopus tentacle, drawn in a way the looks like the Kafka logo. I'm no designer but I made an attempt using Sketch and I quite like it 😆

![tentacle](https://user-images.githubusercontent.com/33231/33856183-98153826-dec7-11e7-9bc5-f1dafa1cefa6.png)

@sebastiannorde has the proper skill set to solve this problem and has helped with other projects in the past, can you give us

[2017-12-12 10:24] matthiasfeist commented on #8
Looks good. I guess @sebastiannorde can whip up something nice.

[2017-12-15 09:51] Nevon opened #12 "Verify buffer size before reading"
#11 was caused by attempting to read the offset and size from the buffer without checking that there were enough bytes in the buffer. The fix was to simply do that check first:

https://github.com/tulios/kafkajs/blob/01345c9a61b7fca46f92226cb79a7b6c28227e1d/src/protocol/messageSet/decoder.js#L68-L74

However, we don't want to have to do these checks manually everywhere we try to read from a buffer

[2017-12-19 13:47] Nevon opened #17 "Validate batch checksum"
A lot of the errors we've seen have been because we've been reading the wrong amount of bytes for each message or batch. All of those errors would have been caught if we were validating the checksum that we get with each batch/message.

As it could imply a performance hit, we might want to conditionally use that validation.

----

There's a pretty good reference on how to perform the checksum vali

[2017-12-20 14:41] tulios opened #18 "How to shutdown consumer when using eachBatch"
The `eachBatch` callback offers a more advanced use of the consumer, the current implementation has a drawback which prevents it to be fully used. Currently, the offset of the last message will be resolved after the callback runs, but when the consumer is shutting down there is no way to stop consuming the batch without committing the last offset, so the consumer has to wait for the full batch to

[2017-12-28 15:10] Nevon opened #22 "Don't retry on all brokers when producing"
https://github.com/tulios/kafkajs/blob/3804af9232aadc212876024ea27a372d0e000124/src/producer/index.js#L42-L48

If one fails, we currently retry all, which could lead to duplicate messages.

https://github.com/tulios/kafkajs/blob/3804af9232aadc212876024ea27a372d0e000124/src/producer/sendMessages.js#L27-L35

Instead, we should only retry the ones that fail.

[2017-12-28 15:20] tulios commented on #22
Just a note on this line:

https://github.com/tulios/kafkajs/blob/3804af9232aadc212876024ea27a372d0e000124/src/producer/sendMessages.js#L29

We have to filter the partitions that succeeded and retry only the ones that failed

[2018-01-03 12:47] Nevon opened #25 "Assign partitions based on lag"
In cases where the offset lag is unevenly spread across partitions, it makes sense to assign partitions across consumers based on the current offset lag, rather than completely round robin.

Essentially:

1. **For each topic**
1.1. Calculate the offset lag for each partition in the topic
1.2. Sort the partitions by offset lag in descending order
1.3. **For each partition**
1.3.1. Assign the partit

[2018-01-03 13:16] Nevon commented on #25
One thing I'm not sure about is how to calculate the offset lag per partition. Maybe I'm missing something, but I don't see a way to get this using ListOffset, etc.

[2018-01-03 13:37] tulios commented on #25
You will have to use `broker#offsetFetch` because you want the group offset and not the topic offset.

[2018-01-03 13:44] Nevon commented on #25
But that just gives you the group offset, but to calculate the lag you'd also need the highwater mark and the starting offset.

[2018-01-03 13:47] tulios commented on #25
It's a combination of listOffset and offsetFetch

[2018-01-04 18:19] Nevon commented on #25
I have a PoC implementation now that seems to work. I'll create a PR with it as soon as I've dealt with some error cases, and get some feedback. The assignment algorithm itself seems to produce balanced assignments. It's mostly calculating the offset lag that's not the nicest at the moment.

I'm not sure it makes sense to bundle it with the main distribution of KafkaJS though, as for most people t

[2018-01-15 16:23] tulios opened #28 "Commit resolved offsets on group rebalance"
We should commit the already resolved offsets when we get `REBALANCE_IN_PROGRESS`. Currently, we are dropping the offsets to perform the rebalance.

https://github.com/tulios/kafkajs/blob/11d7b8108ebe7dba0f5419c319ef4d94ba31e195/src/consumer/runner.js#L121-L123

`consumer#heartbeat` can throw the error and skip the commit phase, I think it should be something like:

[code]

In this way, we "save"

[2018-01-19 09:55] ctaintor opened #32 "Support private CAs similar to how node does"
I suggest that we handle CAs similar to how Node does, if possible. Node uses standard CAs
and you can add more by setting `NODE_EXTRA_CA_CERTS` to extra certs. Doing it this way makes it much easier support private CAs without copying a bunch of boilerplate code.

[2018-02-20 09:42] nervouscat opened #36 "React Native Support"
Hi There @tulios,

This Library looks very promising!
I would like to ask you if your platform supports React Native as a client

Thank you in advance!

[2018-02-20 11:26] Nevon commented on #36
So the simple answer is no. `kafkajs` will not work in react native, as it uses Node modules such as `net`, which cannot be fully used in a browser context.

This begs the question though - what problem are you actually trying to solve by using kafkajs on the client side? We did a quick proof of concept by replacing `net` with a browserified version that relies on a proxy server, just because the

[2018-02-20 15:57] sebastiannorde commented on #8
![kafka_js](https://user-images.githubusercontent.com/4101446/36434354-22b90e34-165f-11e8-927b-e1e1af20aab5.png)
What do you think about this @tulios

[2018-02-20 16:02] tulios commented on #8
Amazing!! ❤️

[2018-02-22 16:14] #8 closed

[2018-02-25 17:47] joaomilho commented on #36
Brilliant

[2018-03-01 11:01] tulios opened #39 "Validate message format in producer"
KafkaJS won't raise any errors if the message doesn't have a `value` attribute and this might be hard to debug.

Messages without `value` (e.g: `{ key: 'key1'}`) should raise an error.

[2018-03-08 10:29] Nevon opened #40 "Add ability to pause consumer"
`Consumer` should expose `pause` and `resume` methods, accepting a list of topic-partitions. When a topic-partition is "paused", no data will be fetched from that topic-partition.

One use case is to be able to add a kill switch to a consumer to quickly be able to stop consuming from that partition.

Q: How should this affect partition reassignment?

[2018-03-08 14:46] Nevon commented on #40
All the other clients I have looked at seem to expect a list of topic-partitions, but it doesn't seem like a very common use-case that you would need to pause only a subset of partitions.

I think for a first implementation, I will just accept a list of objects with topic as the only field:

[code]

That way we can be backwards compatible if we in the future want to allow:

[code]

[2018-03-26 09:15] #22 closed

[2018-03-26 14:07] #40 closed

[2018-03-26 14:07] #36 closed

[2018-03-28 08:54] tulios opened #42 "Move retry on low level network errors to connection"
Currently, all errors are bubbled up to high-level entities. KafkaJS should handle low-level errors such as `request timeout` inside the connection automatically.

Log example:
[code]

[2018-03-29 11:46] tulios opened #43 "Improve response object from produce#send"
`produce#send` is returning the result from `broker#produce` which is a bad user experience and bad for future designs, it should return it's own object with the necessary data (e.g.: partition, topic).

[2018-04-04 17:46] tulios commented on #32
I've tested the `NODE_EXTRA_CA_CERTS` env and it works fine, there might be other issues like (due to the test environment):

![screen shot 2018-04-04 at 19 39 18](https://user-images.githubusercontent.com/33231/38324223-ebfc68a2-383f-11e8-9ffc-9a7a518d725a.png)

But using the following configuration it works fine:
[code]

![screen shot 2018-04-04 at 19 37 21](https://user-images.githubusercontent

[2018-04-05 10:55] #18 closed

[2018-04-10 06:56] tulios opened #46 "Throw unretriable error for incompatible message format"
https://github.com/tulios/kafkajs/blob/fa652bd8230064cf9e02104a41b37de2977ca334/src/protocol/message/decoder.js#L12

Currently, we are throwing a retriable error for unsupported message format

[2018-04-10 12:09] tulios opened #47 "Producer can't reconnect after broker disconnection"
https://github.com/tulios/kafkajs/blob/fa652bd8230064cf9e02104a41b37de2977ca334/src/producer/sendMessages.js#L50

`sendMessages` is throwing `KafkaJSNumberOfRetriesExceeded` which is unretriable and it's preventing the producer to reconnect.

[2018-04-10 15:27] #47 closed

[2018-04-10 16:37] #46 closed

[2018-05-15 06:12] tulios opened #51 "Add support to RecordBatch protocol"
In Kafka 0.11, the structure of the 'MessageSet' and 'Message' were significantly changed. Not only were new fields added to support new features like exactly once semantics and record headers, but the recursive nature of the previous versions of the message format was eliminated in favor of a flat structure. A 'MessageSet' is now called a 'RecordBatch', which contains one or more 'Records' (and n

[2018-05-15 06:25] tulios opened #52 "Allow API version lock"
Currently, kafkaJS uses the API versions call to decide on which API to enable. This approach is the way forward, but to have a smooth transition between the stable APIs and the new APIs introduced by this initiative the project should be able to lock the used APIs.

[code]

eventually, the default value should be set to `BROKER_VERSIONS.AUTO` which effectively uses the best implemented version (c

[2018-05-15 06:31] tulios opened #53 "Add support to producer protocol versions v3 to v5"
[code]

[code]

More information here:
https://kafka.apache.org/protocol.html#The_Messages_Produce

[2018-05-15 06:33] tulios opened #54 "Map new error codes"
Currently, KafkaJS has protocol errors mapped up code 60.

https://github.com/tulios/kafkajs/blob/master/src/protocol/error.js

New errors:

ERROR | CODE | RETRIABLE | DESCRIPTION
-- | -- | -- | --
DELEGATION_TOKEN_AUTH_DISABLED | 61 | False | Delegation Token feature is not enabled.
DELEGATION_TOKEN_NOT_FOUND | 62 | False | Delegation Token is not found on server.
DELEGATION_TOKEN_OWNER_MISMATCH

[2018-05-15 06:37] tulios opened #55 "Allow producer to use v3+ API"
Make sure the broker abstraction can use the new API, and the producer can be used with all supported versions of Kafka

[2018-05-15 06:40] tulios opened #56 "docker-compose for Kafka 0.11"
Add a new docker-compose file with 0.11 Kafka. Ideally, Travis will run both versions to make sure the project is working with all supported versions, but we can start by supporting this behavior locally. Something like:

[code]

Runs the `docker-compose.0_11.yml` and run the tests.

The default docker-compose will change after we flag this version as stable.

[2018-05-15 06:44] Nevon commented on #52
Maybe we should just expose something like `allowExperimental`, since we don't want people to arbitrarily sit on some old version when both broker and client support a newer version.

[2018-05-15 07:08] tulios opened #57 "Add support to fetch protocol versions v4 to v6"
[code]

[code]

More information at:
https://kafka.apache.org/protocol.html#The_Messages_Fetch

Investigate API v7

[2018-05-15 07:29] tulios opened #58 "Add support to protocol varint and varlong"
https://developers.google.com/protocol-buffers/docs/encoding
Base 128 Varints

[2018-05-15 22:05] tulios commented on #32
Fixed on `v1.0.0`

[2018-05-15 22:05] #32 closed

[2018-05-16 08:57] Nevon opened #60 "Support plugins"
In order to support klarna/phobos_db_checkpoint, we would need to expose some kind of plugin interface.

In order to support our first use case, the plugin would need to be able to inject arguments into `eachMessage` and `eachBatch`, and be responsible for actually invoking the user's `eachMessage`/`eachBatch` in order to be able to catch errors.

[2018-05-17 07:41] #58 closed

[2018-05-18 10:54] Nevon opened #62 "Handle changes in brokers when retrying producing"
[code]

[2018-05-18 14:36] #62 closed

[2018-05-22 07:57] tulios commented on #52
I like the suggestion, what about`allowExperimentalV011`?

[2018-05-27 09:55] al66 opened #65 "Create Topic"
Is it planned to add a method to create new topics?
( running kafka with auto.create.topics.enable )

[2018-05-27 21:10] tulios commented on #65
Hi, it's planned. The effort now is to enable native support to Kafka 0.11.0+, but we plan to add all the admin operations later on. If you run Kafka with auto create it should work.

[2018-05-29 16:33] al66 commented on #65
Yes it works, but throws an error [LeaderNot Available] during first commit.
But sounds good, that it is planned!

[2018-05-29 19:24] al66 opened #66 "How to correct disconnect multiple consumers?"
I have some trouble with disconnecting multiple consumers I have started with different groupId's.
Hopefully you can help me.

This is my code for disconnecting...

[code]

[2018-05-30 04:51] al66 commented on #66
Hi @tulios . That was my first try.
But with the same result.

I think the reason is, that the cluster is also disconnected in the first call.
Would it possible to add a method "stop", which doesn't disconnect the cluster directly?

[code]

Here is my original coding:
[code]

[2018-05-30 08:01] tulios opened #67 "Method to stop consumers without disconnecting the cluster"
Currently, the disconnect method will stop the consumer and disconnect the cluster causing issues for other consumers sharing the same connection. Example:

[code]

The suggestion is to add a new `stop` method in the consumer which will stop the consumers but keep the cluster connected and to add a `disconnect` method to the client, to disconnect the cluster.

Example:

[code]

[2018-05-30 08:01] tulios commented on #66
You can follow issue #67

[2018-05-31 11:21] al66 commented on #67
@tulios : Sorry, I have tested again - each consumer seems to have his own connection. Therefore everything works fine with the disconnect.
Seems more a problem with Jest in my case. I have started the testcript now with waiting some time at the end and the option --forceExit and got no more errors.

[2018-05-31 12:19] #56 closed

[2018-05-31 15:49] delanni opened #69 "Implement a means to react on retries"
## Context
Currently we're facing a situation, where we either swallow an exception from a message handler immediately after it's raised, or wait for the consumer to die because the heartbeats timing out after retrying too many times.

We'd need something like a hook or callback after all the retries are used up on trying to handle a certain message, in which we can decide to prevent the client cr

[2018-06-01 20:09] mbarany opened #70 "SSL Connection Error: Hostname/IP doesn't match certificate's altnames"
I'm using the Heroku kafka addon. The hosts are just ec2 hosts (eg. `ec2-xxx-xxx-xxx-xxx.compute-1.amazonaws.com`), but the certs CN is a random alpha string. Using `"rejectUnauthorized": false` _works_ but then it does not verify the cert is signed by the provided CA. Is there any way to ignore the hostname match but keep all the rest of the verification?

[2018-06-01 20:28] Nevon commented on #70
The `ssl` option (https://github.com/tulios/kafkajs/blob/master/README.md#-ssl) is passed directly to `tls.connect`, which means that you can define the `checkServerIdentity` option (https://nodejs.org/api/tls.html#tls_tls_connect_options_callback), which allows you to bypass hostname verification if you so choose.

[2018-06-01 20:28] #70 closed

[2018-06-01 20:34] mbarany commented on #70
thanks!! IMO that should be in the README instead of or in addition to `"rejectUnauthorized": false` - especially since you are defining a list of CA's which basically won't be used if you disable all verification. I can open a PR for that if you think it makes sense.

[2018-06-01 20:59] Nevon commented on #70
Well, given that it's a Node TLS option, it doesn't really have much to do with KafkaJS. Personally I don't think we should document every option, since they're already documented in the Node docs, but I'm all for improving our documentation if it is inconsistent.

What do you think, @tulios?

[2018-06-01 21:23] mbarany commented on #70
I agree it doesn't make sense to document them all. perhaps just the important ones. or at least remove `rejectUnauthorized` as it's confusing.

[2018-06-02 10:24] #66 closed, assigned to nobody

[2018-06-04 08:37] tulios opened #71 "Add support to SASL SCRAM"
Kafka 0.10.2 has support to the SCRAM mechanism

https://tools.ietf.org/html/rfc5802

Start with `SHA-256` and move on to `SHA-512`

Refs:
https://github.com/apache/kafka/blob/trunk/clients/src/main/java/org/apache/kafka/common/security/scram/internal/ScramSaslClient.java

[2018-06-07 12:37] #71 closed

[2018-06-12 11:03] tulios commented on #65
It's possible to create topics with KafkaJS now, this feature should be in the next version (`v1.1.0`), I have a couple more things to add to this version, but it should be out soon.

[2018-06-12 11:03] #65 closed

[2018-06-15 08:24] #54 closed

[2018-06-19 10:58] #52 closed

[2018-06-19 10:59] tulios opened #77 "Allow consumer to use v4+ API"
Make sure the broker abstraction can use the new API, and the consumer can be used with all supported versions of Kafka

[2018-06-26 14:37] Nevon opened #79 "Produce to multiple topics at once"
Currently you can produce to only a single topic, but in case you want to produce to multiple topics, you currently have to make multiple calls.

Instead of doing this, we should provide the ability to produce to multiple topics with one call. For example:

[code]

Where `sendBatch` would take an array of topic-messages (same object that `Producer.send` currently receives).

[2018-06-26 14:44] Nevon opened #80 "Handle parallel calls during SCRAM authentication flow"
If you are producing to multiple topics in parallel, the broker gets confused during the SCRAM authentication flow. From the broker perspective, it looks something like this:

1. Client -> I want to authenticate as Nevon
2. Broker <- Sure, send me the proof
3. Client -> I want to authenticate as Nevon
4. Broker <- Uh... What?
5. Client -> Here's the proof!
6. Broker <- ... Are you okay?

When the

[2018-06-29 09:32] Nevon commented on #79
Fixed by #82

[2018-06-29 09:32] #79 closed

[2018-06-30 09:54] Nevon opened #83 "Consumer receiving topic metadata without being subscribed"
We saw this behavior when a service was re-using the same group id as a different service. They were getting metadata for a completely different topic than the one they were subscribed to, causing KafkaJS to crash the consumer when trying to find the leader for a partition: `Cannot read property ‘partitionMetadata’ of undefined`.

I.e.
1. Service A with group id `consumer` subscribes to `topic-1`

[2018-06-30 10:17] tulios commented on #83
I gave some thought to this problem, and I think the consumers should ignore topics that they don't know (are not subscribed). The reason is that when update consumers, let's say a rolling update; They might subscribe to new topics or stop listening to old ones. The leader of the group will determine which data the other consumers will receive, thus potentially receiving more or fewer topics then

[2018-06-30 10:36] tulios commented on #83
Wow, that's weird. We have to investigate.

[2018-07-02 08:47] tulios opened #84 "Document producer#sendBatch"

[2018-07-02 10:38] #84 closed

[2018-07-04 13:45] carlrygart opened #88 "Logger missing when calling createMessages.js"
I'm getting `Cannot read property 'error' of undefined` [here](https://github.com/tulios/kafkajs/blob/743c3e37822dafbf64f99dcb2607333aa69ede51/src/producer/sendMessages.js#L32). Introduced in #87 .

Suggestion: Pass the logger here:
https://github.com/tulios/kafkajs/blob/743c3e37822dafbf64f99dcb2607333aa69ede51/src/producer/index.js#L14

[2018-07-04 19:43] carlrygart commented on #88
Fixed in https://github.com/tulios/kafkajs/commit/e65522ede62f3f8c0cf65ecabf715968ed389474

[2018-07-04 19:43] #88 closed

[2018-07-05 11:08] tulios commented on #83
@Nevon should we close this for now?

[2018-07-09 11:10] #83 closed

[2018-07-12 09:21] tulios opened #90 "Update docker-compose.011 to wurstmeister/kafka:0.11.0.2"

[2018-07-18 11:44] Nevon opened #91 "Notify user when setting heartbeat interval to same or higher than session timeout"
A user was seeing constant rebalancing because they had set `heartbeatInterval` to the same value as `sessionTimeout`.

If we see that `heartbeatInterval` is the same or higher than `sessionTimeout`, we should notify the user somehow.

[2018-07-18 16:00] #91 closed

[2018-07-19 21:08] #90 closed

[2018-07-19 21:14] tulios commented on #60
I wonder if the best approach for this is to add the extra code directly in userland code, instead of adding this to the library. WDYT?

We make sure KafkaJS exposes everything necessary, and we keep the public API short.
One example:

[code]

`AvroDecoder` in this example would be an external library.

[2018-07-20 12:54] klippx commented on #60
I think what @tulios says sounds good. Think of the cases where you want to
compose different handlers, such as avro decode handler first, and
checkpoint handler second. Or only apply checkpoint handler... It should be
easy to compose these things.

In our recent experience with Phobos, this is currently our way forward -
free composition in userland.

Mappersmith middleware approach is one other

[2018-07-23 08:35] Nevon commented on #60
Yep, that's exactly what I was thinking. My reason for opening this ticket was that when I tried implementing a proof-of-concept "plugin", there was something that was missing, that we weren't exposing at the moment, but now I can't remember what it was.

I would suggest that we simply try to implement some plugins separately from kafkajs and see what we turn out to need. I would _really_ like to

[2018-07-25 13:36] tulios opened #93 "Constantly refresh metadata for consumers and producers"
Add support to metadata max age. From the Kafka docs:

On producers:

[code]

On consumers:

[code]

Kafka default is 5 minutes; we should keep the same.

[2018-07-26 09:11] #93 closed

[2018-07-29 11:51] Nevon opened #96 "Expose logger"
I'm currently building a "plugin" that wraps around `consumer.eachMessage`. In some cases, I would like to log some information. At the moment, the user needs to provide the logger to the plugin, but I would rather be able to get KafkaJS's logger from the consumer or producer, so that I can log "as" kafkajs (in the same format, following the same log level settings).

For example:

[code]

[2018-07-29 20:35] #96 closed

[2018-07-29 21:00] Nevon opened #98 "Calling `seek` within `eachMessage` does not abort the current batch"
In my dead-letter queue plugin, when I fail to send a message to the dead-letter queue, I need to seek back to the failed message in order to re-process it. This works, as on the subsequent fetch, the message will be re-processed. However, the current batch is first completed, which means that any other messages in the batch after the one that fails gets processed twice.

https://github.com/Nevon/

[2018-07-30 06:40] Nevon commented on #60
I'm going to replace this issue with specific ones as things come up.

[2018-07-30 06:40] #60 closed

[2018-07-30 07:36] Nevon opened #99 "Handle missing username/password during authentication"
If username or password is missing during SASL SCRAM authentication, a very unhelpful error is thrown: `[BrokerPool] KafkaJSSASLAuthenticationError: SASL SCRAM SHA256 authentication failed: Cannot read property 'replace' of undefined`

It would be better if we validated the username and password early and threw a more descriptive error.

[2018-07-30 14:30] Nevon commented on #98
This can be achieved by just throwing any exception, as it will be retried.

[2018-07-30 14:30] #98 closed

[2018-08-09 16:56] Nevon opened #105 "`client.logger` is not a function"
The method and the field on the root client both have the same name, so if you try to call `logger` to get the current logger instance, you will get an error since it will have been reassigned to the logger instance on construction.

[2018-08-09 17:01] tulios commented on #105
Right, we should use symbols for all private things in the client

[2018-08-10 10:14] #105 closed

[2018-08-10 12:40] tulios opened #107 "Add instrumentation events for connect/disconnect and consumer stop"
New proposed events:

`consumer.events.CONNECTED`
`consumer.events.DISCONNECTED`
`consumer.events.STOPPED`

`producer.events.CONNECTED`
`producer.events.DISCONNECTED`

`admin.events.CONNECTED`
`admin.events.DISCONNECTED`

[2018-08-10 12:45] Nevon commented on #107
All the existing events are in present tense (`group_join`), so I would align these with that:

`CONNECT`, `DISCONNECT`, `STOP`

[2018-08-11 11:17] #107 closed

[2018-08-13 15:07] pthm opened #111 "Additional methods on admin API"
Currently the Admin API has the functionality to create topics and adjust topic offsets. It would be nice to also be able to do the following to avoid having to use multiple libraries / clients.

- Remove topics
- Update topic partitions
- Update topic replication factor

[2018-08-13 16:36] tulios commented on #111
Hey @pthm, I agree with you. We have been adding features as we need them to avoid unused code. The admin code is quite straightforward, so we can get the features you need quite quickly in there. I will create new issues for the ones you requested and link them in here.

Thanks

[2018-08-14 14:40] tulios opened #112 "Wrong decode of produce v3"
https://github.com/tulios/kafkajs/blob/0f04b0b080e5aaf065eca433c62a5f9c0a3efe66/src/protocol/requests/produce/v3/response.js#L34

Decode is returning the key `responses` instead of `topics`

[2018-08-14 14:44] Nevon opened #113 "Messages with headers fail to be decoded in Fetch V4"
Decoding the messages fails if messages produced include headers.

[2018-08-14 15:33] #112 closed

[2018-08-19 11:11] #113 closed

[2018-08-25 06:09] pimpelsang opened #120 "Include snappy compression (or working example)"
Hi,

Tried to do it myself according to example from readme.md, but hitting "Invalid input" error.

So it would be usefull to have either built in support (auto-detecting snappy module presence if don't want to include c++ dependency) or at least working example in /examples folder.

My code:
[code]

I see data arriving on INFO level logs, snappy decompress run but unable to decompress the buffer.

[2018-08-26 12:33] tulios commented on #120
I moved my gist to an NPM package
https://www.npmjs.com/package/kafkajs-snappy

[2018-08-26 12:33] #120 closed

[2018-08-27 17:59] bwdeng opened #122 "Add custom offset committing interface for consumer/runner"
**Feature**

Currently, the consumer only supports committing the resolved offset. It would be nice to support custom offset committing.

**Use case**

We are trying to do aggregation based on kafkajs, but the size of the working set is not fixed. For example, an input stream would look like this:

[code]

We try to aggrege events of the same kind (agg([X0, X1, X2, X3]), agg([Y0, Y1]), agg([Z0, Z1

[2018-08-28 08:02] tulios commented on #122
Hi @bwdeng, I think you can solve your problem with the current feature set. If you switch to `eachBatch` you can use two properties in your favor. Set `eachBatchAutoResolve` to `false` so the consumer won't auto-resolve the offsets, and set `autoCommitThreshold` to 1 so you can control the commit flow. Example:

[code]

This is pseudo code and I'm assuming a lot, but let's go through it. You get

[2018-08-28 20:02] bwdeng commented on #122
Exactly, I was hoping that there's a way to commit the offset of a message outside of its original batch callback.

At first, I tried updating the offset through the admin interface. But got `The coordinator is not aware of this member` error. It seems like only the active member can update the offsets of their assigned partitions.

Currently, I have a flaky patch which exposes the underlying Cons

[2018-08-28 20:42] tulios commented on #122
You have an interesting use case. The admin client can change offsets outside of the consumer group, but the group must be empty, which doesn't help you much. Can you try the approach we've discussed first? Just remember that `resolveOffset` will resolve offsets for the partition of the batch.

I think you can go a long way with `eachBatch` but if you can't solve the problem we can discuss a prope

[2018-08-30 01:58] bwdeng commented on #122
@tulios I implemented a custom offset commit function based on the approach we discussed:
[code]
Also, I need to patch `commitOffsets` to disable the auto committing in [fetch](https://github.com/tulios/kafkajs/blob/e351b1618e1d1828000472fae86c2f4889a1a35c/src/consumer/runner.js#L244).
[code]

It works, sort of. Frankly, I still think it would be nice to have a commitOffsets interface directly. So

[2018-08-30 18:14] bwdeng commented on #122
@tulios Thanks again for replying. Yes, we thought about saving the offset outside Kafka. For us, reducing dependency is the main reason for preferring Kafka's offset management. So we don't need to maintain another service or media for offset storage.

We can pick up the discussion later. Have a nice vacation!

[2018-08-31 08:46] 2rist opened #125 "Handle broker restart while authentication process"
Seems that if broker changes while producer tries to authenticate kafkajs won't handle this scenario and will fail with
[code]

[2018-08-31 17:47] dstelljes commented on #111
It would also be helpful to be able to list partition offsets (earliest, latest, by timestamp). Are there any plans to add that to the Admin API? I'd be happy to work on a PR.

[2018-09-01 14:46] dstelljes opened #126 "Add topic offset methods to admin client"
Following up from #111. `ListOffsets` is already implemented [on the broker](https://github.com/tulios/kafkajs/blob/master/src/broker/index.js#L300), so exposing it on the admin client would entail either adding another operation on the admin client that accepts topic and timestamp (maybe specific partition(s) as well) or overloading `fetchOffsets`. It would also be good to define EARLIEST and LAT

[2018-09-05 17:01] patrickleet opened #127 "Local tests"
Hey, I had some minor issues with running the tests locally.

They were caused by getContainerId by name call.

The reason seems to be that https://github.com/tulios/kafkajs/blob/master/scripts/waitForKafka.js#L13 is using a filter on some labels that do not exist on my machine.

Changing the filters to just `name=${node}` does work though.

Is there something I'm missing in the setup to create th

[2018-09-05 18:39] tulios commented on #127
I think you need to update docker/docker-compose. I have to proper document the versions. You can run the tests by booting kafka first (`scripts/dockerComposeUp.sh`) and then just `yarn test:local`. Can you give it a try? I'm on vacation now but I should be back in the end of the week and then I can check the proper docker versions.

[2018-09-06 16:39] esuarezz opened #128 "Module parse failed: Unexpected token 155:34"
./node_modules/kafkajs/src/consumer/consumerGroup.js
Module parse failed: Unexpected token (155:34)
You may need an appropriate loader to handle this file type.
|       const safeAssignment = arrayDiff(assignedTopics, topicsNotSubscribed)
|       currentMemberAssignment = safeAssignment.reduce(
|         (assignment, topic) => ({ ...assignment, [topic]: decodedAssignment[topic] }),
|         {}
|

[2018-09-11 14:00] sklose commented on #122
I have a different use case for which it would be useful to be able to manually commit offsets. I have a few services that consumes a mixture of compacted topics and regular topics. I am using compacted topics to recover the state of the service - meaning that topic should always be read from the beginning and I do not want to commit any offsets here at all whereas with the other topics I want to

[2018-09-11 15:15] tulios commented on #122
Hi @bwdeng and @sklose, I just came back from vacation. I will make some suggestions soon.

@sklose I think you can achieve what you want in a different way: 1) you could use different group ids whenever you need to read the topic from the beginning, something like `group-id-${Date.now()}`; 2) you can use `seek` to change the offset, or 3) you can use the admin client to reset the offsets after yo

[2018-09-11 15:19] tulios commented on #128
Hi @esuarezz, you shouldn't import `consumerGroup` directly, the only public API is what is exposed in the index. Can you explain a bit more your use case?
To use it in the browser you will need to transpile the code with browserify or something similar. We are not supporting this right now, but maybe we can help.

[2018-09-11 15:39] sklose commented on #122
Unfortunately all three options have some downsides I'd like to avoid

1) different group ids: I used that approach to simulate the behavior - the problem is that I end up with a long list of group ids in kafka manager and it becomes really hard to find what I am looking for during troubleshooting
2) seek seems to have a race condition: the documentation says I can only call seek after I called ru

[2018-09-17 07:39] Nevon opened #129 "Include topic & partition in UNKNOWN_TOPIC_OR_PARTITION error"

[2018-09-17 12:38] esuarezz opened #130 "Response heartbeat key 12 | Error : The coordinator is not aware of this member"
{"level":"ERROR","timestamp":"2018-09-17T12:35:16.757Z","logger":"kafkajs","message":"[Connection] Response Heartbeat(key: 12, version: 0)","broker":"52.50.141.155:28094","clientId":"kafkajs","error":"The coordinator is not aware of this member","correlationId":106,"size":6}
{"level":"ERROR","timestamp":"2018-09-17T12:35:16.757Z","logger":"kafkajs","message":"[Runner] The coordinator is not aware

[2018-09-17 13:52] Nevon commented on #130
Hey Elio,

The error you're encountering is because your consumer has not communicated with the brokers in more than `sessionTimeout` milliseconds (see `sessionTimeout` in https://github.com/tulios/kafkajs#-options-1).

Basically, in order for the coordinator to know which consumers in the consumer group are healthy, each consumer needs to send a heartbeat to indicate that it is alive. The `sessio

[2018-09-17 13:52] #130 closed

[2018-09-17 16:15] tulios commented on #130
Just complementing the reply, your heartbeat interval should be at least 1/3 of your session timeout.

[2018-09-17 19:41] tulios commented on #127
Hi @patrickleet, you are right. The project was using labels from docker-compose which makes it coupled with the version we are using. I've updated the project to use custom labels, which should improve the compatibility.

Take a look at commit 7cfb5b85f7b14fa32182a93a43a57cadecac27c3 for more information.

Can you try again? Feel free to re-open this issue if the problem isn't entirely solved.
Th

[2018-09-17 19:41] #127 closed

[2018-09-18 07:48] #125 closed

[2018-09-20 20:33] tulios commented on #128
Please, re-open the issue if you need.

[2018-09-20 20:33] #128 closed

[2018-09-21 09:22] tulios opened #132 "Refresh metadata on ECONNREFUSED (KafkaJSConnectionError)"
Connection errors should trigger a metadata refresh, KafkaJS is currently retrying until it crashes. Metadata is refreshed upon boot. This can happen when the cluster is restarted.

[code]

The broker pool is rebuilding the connection on broker connection errors, but it won't fix `ECONNREFUSED` errors. Those should be propagated and cause a metadata refresh.

https://github.com/tulios/kafkajs/blob

[2018-09-21 11:23] Nevon opened #133 "Trigger rebalance if partitions change after metadata update"
With the autorefresh metadata functionality, if the partitions have changed, we should also trigger a rebalance. Currently, if you add a new partition to a topic, the consumer group won't rebalance.

[2018-09-24 13:22] #132 closed, assigned to nobody

[2018-09-24 17:49] #133 closed

[2018-09-25 18:47] jfaulstick opened #137 "Consumer method for retrieving all current topics."
Can we have a consumer method for retrieving all current topics to in code ahead of subscribing?

[2018-09-25 19:26] tulios commented on #137
Hi @jfaulstick, I'm not sure I understood your question, can you give me more details or some pseudo code of what you want?

[2018-09-25 20:35] tulios commented on #126
@dstelljes have you worked on this? I can take it soon (probably my next issue).

[2018-09-25 22:27] jfaulstick commented on #137
What would be great is to have the ability to write a consumer that can fetch a list of all of the current topics from the server without having to know the topic names ahead of time. Here is an example of how kafka-node does it.

https://www.npmjs.com/package/kafka-node#how-do-i-get-a-list-of-all-topics

[2018-09-26 02:15] dstelljes commented on #126
I had started working on it, but I was having trouble getting tests to run locally. I can aim to have a PR submitted this weekend unless you're planning to work on it before then.

[2018-09-26 07:37] tulios commented on #137
Right, we can do it. The library already has support for that; we can add this as an admin operation.

[2018-09-26 07:41] tulios commented on #126
Ok, don't worry. You don't need to rush; I was just organizing my tasks.

This can solve #137

[2018-09-26 13:00] esuarezz opened #139 "I would like to read from offset 0"
Hi,

when client or backend disconnect I want to consume from beginning the whole information saved and not continue from where stopped,

I thought it would be with "fromBeginning" but not..

[2018-09-26 14:00] Nevon commented on #139
`fromBeginning` is used when there's no resolved offset to resume from. If you just restart your consumers, they will resume where they left off.

If you want to reset the offsets to the earliest offset, you'll need to use the admin API: https://github.com/tulios/kafkajs#-reset-consumer-group-offsets This could get tricky though, because you would need to do this when your first consumer is create

[2018-09-26 14:04] esuarezz commented on #139
It is because when I reset the client, needs to get the info from beginning on kafka again, so I need the consumer(in a BE app)  consuming again from scratch and sending to the client.

in this case we have just one consumer and just one application consuming from this

[2018-09-26 14:06] Nevon commented on #139
An easier solution for you then might be to seek to the beginning. For example:

[code]

This seems like maybe it could be a recurring pattern, so maybe it makes sense to make it simpler.

[2018-09-26 14:51] esuarezz commented on #139
Got this:

(node:4368) UnhandledPromiseRejectionWarning: KafkaJSNonRetriableError: Consumer group was not initialized, consumer#run must be called first

[2018-09-26 15:32] tulios commented on #139
@esuarezz just run `seek` after `run`, example:

[code]

[2018-09-26 20:04] dstelljes commented on #126
How would you recommend approaching this? `fetchTopicsOffset` on the cluster looks like the best place to call into from the admin client, but I’m not sure what to do about `fromBeginning`. Overload to accept a timestamp as well? Only accept a timestamp and move the `fromBeginning` logic somewhere else?

[2018-10-01 08:00] tulios commented on #126
@dstelljes sorry for the delay. You already have `listOffsets` on the broker, let's try to keep the admin logic in the admin, so get the leader of the topic and use `listOffsets` to figure out the offsets. We can replicate the `fromBeginning` logic in the admin client; it's a duplication we can afford for now. I don't know about the timestamp part, I have to research a bit.

[2018-10-01 08:01] tulios commented on #139
@esuarezz feel free to re-open the issue if the problem persists.
Thanks.

[2018-10-01 08:01] #139 closed

[2018-10-01 09:34] Nevon commented on #39
This happened again now. It was being called with:

[code]

Which led to messages being pushed with `key` and `value` `null`.

[2018-10-02 05:44] #39 closed

[2018-10-03 11:38] vasmanas opened #144 "Using kafkajs on nodejs cluster consumes all inodes"
We are using kafkajs with nodejs cluster. Forking multiple workers, one for each partition. Service consumes inodes each minute and never releases. What could be the cause of it?

[2018-10-03 17:17] tulios commented on #144
@vasmanas can you post some example code? I've tested the cluster code running one consumer per worker. In my example, I have a topic with 6 partitions, and I run 6 workers, each consuming from one partition. This example worked fine, but I haven't checked the inodes.

Or perhaps you are talking about consuming the messages and passing to workers for processing?

My example, based on the consumer

[2018-10-04 07:45] tulios opened #146 "Broker apiVersions always select v0"
https://github.com/tulios/kafkajs/blob/daf41b57024ed24581530b8c327d726b9d27e9de/src/broker/index.js#L105-L114

The loop is missing the `break` statement when it's successful, so it loops through all supported versions and takes the last

[2018-10-04 11:08] #146 closed

[2018-10-04 18:13] scmorse opened #148 "Kafka Consumer - handler concurrency limit?"
I did not see anything in the documentation related to this. Basically, if I have a consumer for a topic with 100 partitions, and it is the leader for 50 of those partitions, I don't want it to process all 50 partitions in parallel. I might want to limit it to only processing 5 or 10 partitions concurrently, to limit resource usage, etc.

If there isn't such a limit defined, consider this a featur

[2018-10-05 08:10] Nevon commented on #148
Is this something you've experienced as a problem, or are you considering that it could become a problem?

The overhead of one consumer consuming from many partitions should generally be fairly minimal. Each fetch would involve more requests depending on the number of brokers, but all in all I wouldn't consider that a very large cost.

If the problem is that you're processing a whole batch of mess

[2018-10-05 10:38] paambaati opened #149 "Too many OFFSET_OUT_OF_RANGE errors"
I have a 5-broker Kafka cluster with ~100 topics, and I'm using KafkaJS to subscribe to 2 topics (1 with 400 partitions and 1 with 10), and I'm always stuck at `"The requested offset is not within the range of offsets maintained by the server"` errors.

These errors occur in an endless loop and I'm not able to consume any messages. I've also tried resetting the consumer offsets between runs, and a

[2018-10-05 10:48] paambaati commented on #149
I've redacted broker node address and Buffer data, and here's a debug trace —

[code]

It is also available as a gist — https://gist.github.com/paambaati/7ee798fc2af5c8bc397299bdb07b8b33#file-kafkajs-log

[2018-10-05 13:30] tulios commented on #148
Exactly what @Nevon said, the concurrency will be limited by the size of your cluster. KafkaJS only makes requests to the leaders, so it should be a fraction of your cluster. However, I don't disagree with the feature request, I think it's a nice feature to have. @scmorse, are you having issues with resource usage?

[2018-10-05 13:47] tulios commented on #149
Sure, let's debug this.
This error can happen in two situations:
1) It's the first time the consumer group is fetching the topic, so it has to apply the default offset (`fromBeginning`)
2) The consumer group hasn't been active for a while and the offsets "expired", which forces the consumer group to apply the default offset logic again

Do you know if the `groupId` is unique? no other consumer is

[2018-10-05 14:33] paambaati commented on #149
It is, yes.

It is not. The topic's default cleanup policy is `delete`.

I did, yes. I still see the same issue.

@tulios Also, a quick question about this —

If the topic is pretty huge in size (say ~4 GB with 1.6B summed offsets), is that a possible bottleneck? What exactly happens when applying the default offset? I also tried the same thing with `fromBeginning: false`, but I still see it happe

[2018-10-05 15:46] scmorse commented on #148
So, the full story is that we used to use the library `no-kafka`, which had a consumer concurrency limit config value. We set it to 10. Now we're upgrading to use `kafkajs` because this lib has support for creating topics, but it is missing a few things that `no-kafka` had, such as the concurrency control (and some group admin functions like `listGroups` / `fetchConsumerLag`). We may be okay even

[2018-10-05 20:37] scmorse opened #150 "Consumer does not process messages on startup when no committed offset"
Reproduce steps:

1. Create a topic (10 partitions is what I used)
2. Produce a message onto that topic at partition 0 / offset 0
3. Start up a consumer for that topic

Expected: The consumer will process the message that was created before it subscribed to the topic

Actual: The consumer does not process the message at partition 0 / offset 1. Creating a message at partition 0 / offset 1 will get

[2018-10-05 20:43] tulios commented on #150
Hi @scmorse, this feature is already supported. When you call subscribe just pass `fromBeginning: true`, example:

[code]

This will be used as the default behavior when the group has no valid offsets, the default value is `false`

[2018-10-05 20:44] scmorse commented on #150
@tulios I was under the impression that flag would start all partitions from the beginning even when an offset had been committed, is that not the case? I only want to start from the beginning when an offset has not been committed yet

[2018-10-05 20:52] scmorse commented on #150
The `fromBeginning` flag appears to be working (not actually seeking all partitions to 0, just ones that don't have a committed offset), I guess I was just confused by the name.

[2018-10-05 20:52] #150 closed

[2018-10-05 20:57] tulios commented on #150
It just starts from the beginning when an offset has not been committed yet, we can improve the docs to make this clear

[2018-10-08 07:29] paambaati commented on #149
@tulios `Response OffsetFetch` —

[code]

[2018-10-08 07:33] vasmanas commented on #144
@tulios here is a simplified code example that we use:

[2018-10-08 07:33] vasmanas commented on #144
@tulios here is a simplified code example that we use:

[2018-10-08 07:41] vasmanas commented on #144
@tulios here is a simplified code example that we use:
[code]

[2018-10-08 08:35] Nevon commented on #144
You are creating infinite workers. I logged the `clusterMap` every time `createWorker` was being invoked. This is the output after about half a second:

![screen shot 2018-10-08 at 10 29 28](https://user-images.githubusercontent.com/83586/46598670-36c4f880-cae5-11e8-8413-dbf798963623.png)

It's because you are not re-assigning the value of `i` in your for-loop.

This is an infinite loop: `for (let

[2018-10-08 08:35] #144 closed

[2018-10-08 09:19] paambaati commented on #149
@tulios More info!

I don't see this problem, but all reads throw an error from my [`kafkajs-lz4`](https://github.com/indix/kafkajs-lz4) codec, saying "Invalid magic byte 0". This might be a whole different issue.

A different group ID seems to fix the issue! The original group ID must've been stale because I was doing a lot of local test runs. Is this expected? I do have a SIGINT handler that cal

[2018-10-08 09:40] paambaati opened #152 "Devhelp - LZ4 decoding errors on master"
On current master, after the [recent set of changes](https://github.com/tulios/kafkajs/compare/v1.3.1...master), decoding LZ4 messages with the [`kafkajs-lz4`](https://github.com/indix/kafkajs-lz4) package seem to break, with this stack trace —

[code]

This does not occur on the last tagged release, so I'd appreciate it if you could clue me in on where this could possibly break.

[2018-10-08 09:56] tulios commented on #149
Nice, at least you can move on. You can reset the offsets of the consumer group and see if it works:
[code]

On the LZ4, it's probably not handling the new RecordBatch of Kafka v0.11. I can take a look.

[2018-10-08 10:46] paambaati commented on #149
@tulios Thanks! Do you have any guesses about why those `MaxListenersExceededWarning` (see https://github.com/tulios/kafkajs/issues/149#issuecomment-427741795) could occur?

My guess is there's some event emitter that is being set up inside a loop.

[2018-10-08 11:06] tulios commented on #152
The version that is on master enables Kafka v0.11 APIs by default, which means that if the server supports the new API, it will use the new RecordBatch API/data structure.

We want to release the new version this week, so I have to update the snappy library as well. I can take a look at LZ4. The new API is quite solid nowadays, but you can disable for now.

[code]

[2018-10-08 11:17] tulios commented on #149
@paambaati there are a couple of fixes in master for this issue, you can use master disabling the v0.11 APIs:

[code]

The `MaxListenersExceededWarning` it's a silly bug, it isn't leaking any memory, it is just that node.js has this value hardcoded to 11 and you probably have a higher concurrency. I will create a new issue and fix this right away. It shouldn't cause any issues besides the annoying

[2018-10-08 11:17] #149 closed

[2018-10-08 11:26] tulios opened #153 "MaxListenersExceededWarning on high concurrency/big cluster"
The broker uses a lock mechanism to prevent issues with authentication when creating connections in parallel; this can be caused by the use of `producer.send` in a `Promise.all` or in recovery scenarios where the brokers have to re-connect.

The lock mechanism is based on `EventEmitter`, which has max listeners set to 11. If the number of connections is higher than 11, it will warn with something

[2018-10-08 11:27] tulios commented on #149
For reference, here is the issue about `MaxListenersExceededWarning` #153

[2018-10-08 11:34] Nevon commented on #153
Maybe we should rewrite the lock to not use EventEmitter rather than increasing `maxListeners`. We shouldn't really need EventEmitter anyway.

[2018-10-08 11:37] paambaati commented on #152
@tulios Cool, I'll follow changes on kafkajs-snappy and port them to kafkajs-lz4.

[2018-10-08 16:56] ianwsperber opened #155 "EOS Support"
Has any consideration been given to support for Exactly-Once-Semantics? As far as I know presently no Node client supports EOS features (idempotent producer, producer/consumer transactions). If EOS is not on the roadmap today one might at least establish the level of effort required to implement these features and how they would effect the existing API.

[2018-10-08 17:29] tulios commented on #155
Hi @ianwsperber, we are wrapping up the work on version `1.4.0`, which introduce Kafka v0.11 support, the infrastructure for EOS is implemented in this version. After the release, idempotent producers are our next priority. I will create a project for idempotent producers with issues describing the work needed.

[2018-10-08 18:35] tulios commented on #152
@paambaati I've tried `kafkajs-lz4` on master and it worked. Snappy is also working, are you sure the data on the topic was compressed with LZ4?

I wrote this test on KafkajS (https://gist.github.com/tulios/cfba2d2c3b8112bcfb98dcf12789cfde) which works just fine.

[2018-10-08 23:09] ianwsperber commented on #155
Ok, glad to hear it's on the roadmap @tulios! Having a project & tickets would be super helpful for me, as I'm trying to get a grasp on when I might expect to have transactions available in Node. If you could update this thread when the project has been created I'd appreciate it! Thanks.

[2018-10-09 07:28] #153 closed

[2018-10-09 17:55] tulios commented on #152
Version `1.4.0` is out, can you try again? It worked on my tests.

[2018-10-09 20:52] scmorse opened #156 "Heartbeat needs to be called during message consumption?"
I'm confused by the need to call a heartbeat function during `eachBatch`. Shouldn't heartbeats be done independently of whether or not any messages are currently being processed? What if no messages are being processed on a particular topic for a long period of time?

[2018-10-09 21:45] tulios commented on #156
The heartbeats are used to inform Kafka about the liveness of the consumer, so they are performed constantly on a set interval. The call is tied to the message processing to detect problems with the consumer quickly, imagine you have a bug on userland and the `each*` function is never released. The time would pass, and it this consumer would be flagged as dead after the `heartbeatInterval`.

This

[2018-10-10 05:38] tulios commented on #152
Ok, I will try to reproduce your scenario to see if I can find something. What is interesting is that it's failing on the LZ4 library, I think the problem is similar to one I had with snappy in the past where Kafka were using some sort of frame, so I had to glue the frames together before decompressing. My test messages are quite small, I will try larger payloads and see what happens.

Thanks agai

[2018-10-10 05:49] paambaati commented on #152
@tulios Thanks! Meanwhile, I tried comparing logs from both runs, and the only difference I can notice from the logs is the `version` in the fetch request —

1. `kafkajs@1.4.0` (not working) - version = `4`.
[code]

2. `kafkajs@1.4.0 + allowExperimentalV011: false` (working) - version = `3`.
[code]

[2018-10-10 07:08] tulios commented on #152
I believe Kafka v0.11 is using frames, I will try to adapt the LZ4 library.

https://github.com/lz4/lz4/blob/master/doc/lz4_Frame_format.md

[2018-10-10 11:41] tulios opened #158 "Add error type UNSUPPORTED_COMPRESSION_TYPE"
Add new error type to protocol errors

https://github.com/tulios/kafkajs/blob/master/src/protocol/error.js

[2018-10-10 11:43] tulios opened #159 "Support protocol produce v4-v6"
v4 and v5 implemented on PR #347

The groundwork for produce v7 which allows ZSTD compression

[2018-10-10 11:43] tulios opened #160 "Support protocol produce v7"
Make sure protocol produce v7 will exist, maybe v6 will be enough

[2018-10-10 11:44] tulios opened #161 "Support protocol fetch v5-v8"
v5, v6 and v7 implemented on PR #348

The groundwork for fetch v9 which allows ZSTD compression

[2018-10-10 11:45] tulios opened #162 "Support protocol fetch v9"
Make sure protocol fetch v9 will exist, maybe v8 will be enough

[2018-10-10 11:46] tulios opened #163 "Add experimental flag for new produce and fetch APIs"

[2018-10-10 11:46] tulios opened #164 "Add experimental flag for ZSTD produce and fetch APIs"

[2018-10-10 13:04] tulios opened #165 "Add protocol findCoordinator v1"
Since the transaction coordinator is at the center assigning PIDs and managing transactions, the first thing a producer has to do is issue a FindCoordinatorRequest to any broker to discover the location of its coordinator.

`coordinator_type`: The type of coordinator to find (0 = group, 1 = transaction)

[code]

[code]

https://kafka.apache.org/protocol.html#The_Messages_FindCoordinator

[2018-10-10 13:05] tulios opened #166 "Add protocol initProducerId v0"
After discovering the location of its coordinator, the next step is to retrieve the producer’s ID. This is achieved by issuing an `initProducerId` to the transaction coordinator.

In addition to returning the ID, the initProducerId performs the following tasks:

- Bumps up the epoch of the ID, so that any previous zombie instance of the producer is fenced off and cannot move forward with its trans

[2018-10-10 13:11] tulios opened #167 "Add protocol AddPartitionsToTxn v0"
The producer sends this request to the transaction coordinator the first time a new TopicPartition is written to as part of a transaction. The addition of this TopicPartition to the transaction is logged by the coordinator. If this is the first partition added to the transaction, the coordinator will also start the transaction timer.

[code]

[code]

https://kafka.apache.org/protocol.html#The_Mess

[2018-10-10 13:12] tulios opened #168 "Add protocol AddOffsetsToTxn v0"
Sends the groupId to the transaction coordinator, from which it can deduce the TopicPartition for this consumer group in the internal `__consumer-offsets` topic. The transaction coordinator logs the addition of this topic partition to the transaction log

[code]

[code]

https://kafka.apache.org/protocol.html#The_Messages_AddOffsetsToTxn

[2018-10-10 13:14] tulios opened #169 "Add protocol TxnOffsetCommit v0"
The producer will send a TxnOffsetCommit to the consumer coordinator to persist the offsets in the `__consumer-offsets` topic. The consumer coordinator validates that the producer is allowed to make this request (and is not a zombie) by using the ID and producer epoch which are sent as part of this request.

The consumed offsets are not visible externally until the transaction is committed.

[code

[2018-10-10 13:18] tulios opened #170 "Add protocol EndTxn v0"
Once the data has been written, the user must call `commit` or `abort` methods of the KafkaProducer. These methods will begin the process of committing or aborting the transaction respectively.

Regardless of which producer method is called, the producer issues EndTxn to the transaction coordinator, with additional data indicating whether the transaction is to be committed or aborted. Upon receivi

[2018-10-10 13:19] tulios opened #171 "Add protocol WriteTxnMarkers v0"
This request is issued by the transaction coordinator to the leader of each TopicPartition which is part of the transaction. Upon receiving this request, each broker will write a COMMIT(ID) or ABORT(ID) control message to the log.

This message indicates to consumers whether the messages with the given ID must be delivered to the user or dropped. As such, the consumer will buffer messages which ha

[2018-10-10 13:58] Nevon opened #172 "Add runtime flag for displaying buffers in debug output"
#151 brought up that it can be problematic for people to log the entire buffers when debug logging, especially when consuming from topics with many partitions. Logging the buffers is very useful to us when developing KafkaJS, but not very useful to our end users.

I would propose that we don't log buffers by default, and only log them when the environment flag `DEBUG_LOG_BUFFERS` is set. We can ad

[2018-10-10 15:05] scmorse commented on #156
So do we need to call `heartbeat()` outside of looping through `batch.messages` to make sure that the heartbeat is sent for empty batches? Or is the `eachBatch` function not even called when an empty batch is returned from kafka, and heartbeats are done automatically by the lib when empty batches are received?

Thanks for your help, btw!

[2018-10-10 19:32] scmorse commented on #156
I took a look at the code, and I saw that `heartbeat` is called at the end of a batch process regardless, so I think my questions have been answered now. Thanks!

[2018-10-10 19:32] #156 closed

[2018-10-11 05:20] paambaati commented on #152
@tulios Does this mean we'll have to surface the protocol version to codecs, or should the `kafkajs-lz4` package transparently try to support for both formats?

[2018-10-11 08:20] tulios commented on #156
Nice, just some notes. The library will regularly call heartbeat for you, but when using `eachBatch` where you process each message individually instead of the whole batch it might take too long between the heartbeats, causing your consumer to be kicked out of the group. That's why `eachBatch` gives you access to heartbeat, so you can heartbeat between each message and take as much as you need pro

[2018-10-11 12:03] paambaati commented on #152
@tulios I've been trying to get sample data to compare with both `true` and `false` for `allowExperimentalV011`, and here's what I've found —

**Message Payload**
[code]

**Output**
[lz4-runs.zip](https://github.com/tulios/kafkajs/files/2468774/lz4-runs.zip)

The output contains 2 files that are both raw binary dumps of the `buffer` passed to the `decompress` method.

The interesting thing here is

[2018-10-11 12:57] tulios commented on #152
you get the full record batch on v0.11, so it's expected.

[2018-10-11 17:49] ianwsperber commented on #155
Awesome, thanks @tulios! The team I'm working with has a need for transactions on their project. Would you accept PRs to implement these protocols? We may have some bandwidth to help.

[2018-10-11 19:01] tulios commented on #155
Of course :D
Right now I'm reading how the APIs should interact and how we should implement the producer, I'm trying to create the remaining issues, but your help would be much appreciated.

[2018-10-11 21:03] tulios opened #173 "Transactional producer"
The transactional producer allows an application to send messages to multiple partitions (and topics) atomically. Each transactional producer has a unique `transactionalId`, which is used to enable transaction recovery across multiple sessions.

There can be only one open transaction per instance of the producer.

__Proposed API:__

[code]

__Workflow:__

`await producer.connect()`:

* Should call

[2018-10-12 06:06] paambaati commented on #152
@tulios Apologies for asking a lot of questions, but I noticed that `recordsDecoder.readInt32()` returns the records length as 1, when it should report the number of records in the batch. In my case, it is definitely > 1. Is this correct?

https://github.com/tulios/kafkajs/blob/0340c497a8554ec91a400fe7629dd5ea7404479a/src/protocol/recordBatch/v0/decoder.js#L86

My assumption is that compression/de

[2018-10-12 08:40] Nevon commented on #173
Some thoughts from our discussion.

`tx.add` could be `tx.send` if we send the messages to the server, rather than buffering them up on the client. This would align the transaction API with the producer API nicely. `abort` would then become `rollback`.

An alternative way to create transactions could be something like:

[code]

Not sure if this would lead to more complicated code for the user.

An

[2018-10-12 09:04] tulios commented on #152
Don't worry about the questions, make as many as you want/need. Give me some time to review this, but for the RecordBatch the records are all compressed together, instead of one by one.

[2018-10-12 09:13] Nevon opened #175 "Expose low-level metrics"
Currently there is no way for a user to collect low-level metrics on things like network calls (latencies etc.)

The way it's implemented in kafka-python is that they register a bunch of metrics in a local registry, and then expose a [pluggable interface](https://github.com/dpkp/kafka-python/blob/master/kafka/metrics/metrics_reporter.py#L6) that will be called when metrics are added/changed/remove

[2018-10-15 07:43] #172 closed

[2018-10-15 13:22] tulios opened #177 "Add description to lock instances to improve error messages"
The lock is locking a particular resource and it would be nice to have what is being locked on errors. Currently, we throw an error like:

[code]

With the proposed change:
[code]

[2018-10-15 19:15] tulios commented on #152
Hey, I finally managed to reproduce the error. I had to use a scala producer to get the `Invalid magic number: 0 @460` error, I will try to debug it now.

Just keeping you posted.

[2018-10-16 09:18] #177 closed

[2018-10-16 16:57] tulios opened #180 "Producer with acks 0 never resolve"
When using the producer with uses `acks: 0` the promise will never resolve. Kafka never replies when using such configuration, thus accumulating a lot of pending promises

[code]

[2018-10-16 21:09] tulios commented on #152
I found the issue with #179, the tails of the record batches can have incomplete records due to how `maxBytes` works.

[2018-10-17 08:49] #152 closed

[2018-10-17 08:59] #180 closed

[2018-10-18 15:07] scmorse opened #183 "KafkaJSNumberOfRetriesExceeded: Timeout while acquiring lock at Object.send"
[code]

Upgraded a microservice to use KafkaJS (instead of no-kafka), and after running fine for ~5 days, requests to produce messages are now throwing the error above. Not sure why this is happening.

I saw some other closed issues for the same error when

[2018-10-18 15:08] scmorse opened #184 "KafkaJSNumberOfRetriesExceeded: Timeout while acquiring lock at Object.send"
[code]

Using KafkaJS v1.3.1.

Upgraded a microservice to use KafkaJS (instead of no-kafka), and after running fine for ~5 days, requests to produce messages are now throwing the error above. Not sure why this is happening.

I saw some other closed issues for the same error when a broker disconnects/reconnects. Could it be the same issue?

[2018-10-18 15:08] #183 closed

[2018-10-18 15:36] tulios commented on #184
We made several improvements on this, can you upgrade to `1.4.1`?

[2018-10-18 15:46] scmorse commented on #184
Already in progress of updating!

[2018-10-18 17:49] scmorse commented on #184
Updated to 1.4.1 and haven't seen any issues yet. I'll re-open if they issues crop back up.

[2018-10-18 17:49] #184 closed

[2018-10-24 09:12] huanhuang-wang opened #186 "topic message lost"
I have 2 consumers in one group which consumes one single topic with 2 partitions, and created a custom assigner to assign one consumer per partition.
start consumer 1 first, and send messages to 2 partitions randomly, only messages in partition 1 is being consumed, then start consumer 2, it will not receive messages that not consumed in partition 2, got some error like :"The requested offset is n

[2018-10-24 11:01] tulios commented on #186
This is happening because by default the consumers have `fromBeginning: false`, so it works for the first consumer because it's up before you publish the messages, by the time you start consumer 2 it will "fast forward" to the end. Try adding `fromBeginning: true` on the subscribe, example:

[code]

[2018-10-25 00:33] huanhuang-wang commented on #186
Thanks. I forgot that.

[2018-10-25 00:34] #186 closed

[2018-10-26 13:37] tulios opened #187 "RecordBatch has wrong firstTimestamp and maxTimestamp"
The `firstTimestamp` should use the timestamp of the first record + the `timestampDelta` of the record. `maxTimestamp` should be the timestamp of the last record.

https://github.com/tulios/kafkajs/blob/master/src/protocol/recordBatch/v0/index.js#L29 

[2018-10-26 13:44] tulios commented on #187
It actually looks correct, this is implemented in produce v3

https://github.com/tulios/kafkajs/blob/d35a152b56f3d9e128cb70ff4926110883c09034/src/protocol/requests/produce/v3/request.js#L66-L85

[2018-10-26 13:44] #187 closed

[2018-10-30 20:50] ianwsperber commented on #165
Hey @tulios! FYI I'm planning to begin implementing this protocol today. LMK if you'd like this work PR'd into a specific branch or have any other guidance to offer. Thanks 😄

[2018-10-30 21:03] tulios commented on #165
You can create one branch per issue; we can merge things faster this way. Just ping me if you need anything.

[2018-10-31 17:40] ianwsperber commented on #166
Beginning work implementing protocol and exposing in broker.

[2018-10-31 22:45] tulios commented on #165
Implemented in #189

[2018-10-31 22:45] #165 closed

[2018-11-01 20:44] #166 closed

[2018-11-02 18:29] ianwsperber commented on #173
I think instead of a transactional flag we could provide a `transactionId` in the producer instantiation. Since it's used for fencing maybe we shouldn't try to autogenerate it if it's missing?

I'm curious to hear the justification for returning a transaction over making the transaction methods available on the producer. It's not strictly necessary (the Java API makes all the methods available on

[2018-11-03 09:46] kpala opened #192 "fetchOffsets after resetOffsets returns -1 for all partitions"
It seems `fetchOffsets` after `resetOffsets` keeps returning -1 to all partitions, even though there are previously stored offsets.

In principle, what I would like to do, is to output the current offsets to logs when a new consumer is added. In our use case, we should always start from the latest offset.

Here's the code I used for testing (kafkajs version 1.4.4, kafka version 1.0.1):

[code]

If

[2018-11-05 06:19] kpala opened #193 "Sending messages without key gives an error"
To my understanding, `key` should be optional when sending messages. However, the following gives the error `"string" must be a string, Buffer, or ArrayBuffer`:

[code]

Providing `null` as the key seems to be a workaround for now:

[code]

[2018-11-05 09:31] tulios commented on #193
You are right; it might be a regression.

[2018-11-05 09:37] tulios commented on #192
@kpala I think you are not giving enough time for your consumers to process the message, you are sending the message and disconnecting right after it. Another thing, the only way you have to know when the consumer has joined the group is listening to the instrumentation event `GROUP_JOIN`, something like:

[code]

[2018-11-05 09:37] #167 closed

[2018-11-05 10:21] tulios commented on #173
The idea behind the "transaction" object is to improve the developer experience, the approach used by the Java API is error-prone, you might call the methods in the wrong order and get weird errors. With the transaction object, we could remove the need of some of the methods by initializing things on connection, etc. On the other hand, it exposes a different API so if users are used to the Java AP

[2018-11-05 14:17] kpala commented on #192
Thanks @tulios for your ideas! I now added a timeout before disconnecting and tried fetching offsets at three different times:

1. After `GROUP_JOIN` event -> Offsets for all partitions equal -1
2. After message was received (and after waiting for 10sec) -> The partition where the message exists, has now offset greater than -1
3. After `resetOffsets` -> Offsets for all partitions equal -1, again

[2018-11-05 15:19] tulios commented on #192
You are right, `resetOffsets` basically set the offsets to the special values for earliest or latest (-1 or -2), then as the consumers start they eventually resolve the offsets into real values.

[2018-11-05 15:44] kpala commented on #192
Ahh that explains it then!

I'm considering a switch from kafka-node to your library (due to numerous reasons) and I of course assumed fetching would work in a similar manner as https://github.com/SOHU-Co/kafka-node#fetchpayloads-cb or https://github.com/SOHU-Co/kafka-node#fetchcommitsv1groupid-payloads-cb

The suggestion for using `START/END_BATCH_PROCESS` events would work to some extent but the

[2018-11-05 15:55] tulios commented on #192
Nice
One question, why do you need to reset the offsets before issuing `fetchOffsets`?
`fetchOffsets` should return what you need but maybe I'm missing something.

[2018-11-05 16:47] kpala commented on #192
Sure, maybe I should indeed elaborate a little bit.

We have a use case where the consumer needs to always start from the latest offset. In principle, we have two devices that communicate with each other, but the communication is initiated by the end user in real time. The end user may restart any of the devices at any time (e.g. due to problems currently resolvable by rebooting). When the device

[2018-11-05 17:58] tulios commented on #192
I understand, cool problem by the way. So, we can improve `fetchOffsets` to resolve the offsets (like the consumers do), it can be optional. If you can wait a bit, we can definitely make it happen. Thanks for the explanation.

[2018-11-05 18:09] ianwsperber commented on #168
Starting work on this

[2018-11-05 18:37] ianwsperber commented on #173
@tulios I think you have a fair point in not wanting to blindly follow the Java API, it's certainly possible to write something clearer & more concise.

Since the idempotent producer is requisite for the transactional producer do you think we ought to have a separate ticket for its implementation? AFAIK the only additional protocol the idempotent producer requires is `InitProducerId`, which we've

[2018-11-05 19:46] kpala commented on #192
Sounds like a plan, thanks a lot!

[2018-11-05 22:48] ianwsperber commented on #169
Starting work

[2018-11-05 23:57] #168 closed

[2018-11-05 23:59] tulios commented on #169
Fixed by #194

[2018-11-06 14:02] tulios commented on #173
I think you can finalize the protocol parts, you are almost there.

[2018-11-06 20:13] ianwsperber commented on #170
Starting work

[2018-11-06 23:52] #169 closed

[2018-11-07 09:43] tulios opened #196 "Propagate transactional attributes to produce V3 and RecordBatch"
Currently `producerId`, `producerEpoch` and the transactional attribute of the RecordBatch are not propagated through `broker.produce`.

https://github.com/tulios/kafkajs/tree/add-transactional-attrs-to-record-batch

The branch above has some of the work required, but it's not complete

[2018-11-07 09:45] tulios opened #197 "Ignore control messages"
Control messages are used to enable transactions in Kafka and are generated by the broker. Clients should not return control batches

[2018-11-07 16:47] tulios commented on #171
You are right; I think I took this from an old document. We can skip this protocol

[2018-11-07 17:10] ianwsperber commented on #171
Ok cool, closing this issue then

[2018-11-07 17:10] #171 closed

[2018-11-07 19:59] #170 closed

[2018-11-07 23:53] ianwsperber commented on #173
@tulios With the protocols now implemented I'm thinking we can move forward with an idempotent producer implementation. IMO we should allow users to create an idempotent producer regardless of whether they'll participate in a transaction. We could accomplish this with an additional `idempotent: boolean` flag in the producer options. Thoughts?

[2018-11-08 09:58] tulios commented on #173
I've checked other libraries, and everybody is following this pattern. Let's follow suit.

[2018-11-08 17:08] ianwsperber opened #200 "Idempotent Producer"
Allow users to create idempotent producers. We create an idempotent producer by passing an `idempotent` flag during creation:

[code]

Creating an idempotent producer is a prerequisite for the transactional producer (see related discussion in #173 )

**Tasks**

- [x] Generate PID using protocol `InitProducerId v0` during initialization (perhaps when we call `producer.connect()`)
- [x] Track sequen

[2018-11-08 17:09] ianwsperber commented on #173
@tulios Created #200 so we can separately track the idempotent producer work

[2018-11-08 17:54] ianwsperber opened #201 "Add protocol ListOffsets v2"
Consumers must be able to send `ListOffsets` version >= 2 to provide their `isolation_level`

[code]

[code]

https://kafka.apache.org/protocol#The_Messages_ListOffsets

[2018-11-08 17:55] ianwsperber opened #202 "Consumer "read_committed" isolation level"
To support transactions consumers should have an option to read only committed messages. In the Java API this is accomplished using the "isolation_level" option. The naive translation would be to provide an `isolationLevel` flag to our `consumer()` call.

**Tasks**
- [x] Pass the isolation level to fetch requests
- [x] Pass isolation level to ListOffsets to retrieve the LSO ("last stable offset")

[2018-11-08 18:31] ianwsperber commented on #200
@tulios Is there a configuration like the Java API's `max.in.flight.requests.per.connection` in place currently for KafkaJS? As far as I can tell there is not, though I haven't spent a lot of time looking through the networking or send messages code so don't want to make any assumptions. From what I can tell this would require implementing some sort of internal request queue.

[2018-11-08 19:13] ianwsperber commented on #200
@tulios Ok cool. I don't think that's a blocker for implementing the rest of the idempotent producer, though it seems we can't strictly guarantee eos without it

[2018-11-08 20:40] ianwsperber commented on #200
FYI I'm creating a "transactionManager" module for the producer, so we can easily share state around transactions. You can see how I'm planning to use it here, where I provide it to the sendMessages factory method so that it can later be used to increment the topic/partition sequence: https://github.com/tulios/kafkajs/blob/eos-200-idempotent-producer/src/producer/index.js#L27

[2018-11-13 19:09] ianwsperber commented on #173
@tulios With #203 in PR I'm going to move forward implementing this following the API outlined above. If we want to make any changes I think that can be handled in PR, the implementation should be mostly independent of the external API.

[2018-11-14 08:52] paambaati opened #204 "Consumer never receives a message"
I'm connected to a 5-machine Kafka 1.1.0 cluster, and trying to read a topic with 10 partitions.

Debug logs show both fetch requests and responses occurring, but `eachMessage` doesn't receive anything.

**Debug logs**

[code]

[2018-11-14 09:53] Nevon commented on #204
It's hard to say what the problem is based on just this log. Could you share the code for how you subscribe to the topic? I suspect that you are not consuming the topic from the beginning, but rather starting from the latest offset. See `fromBeginning`: https://github.com/tulios/kafkajs#-consuming-messages-from-kafka

[2018-11-14 15:09] tulios opened #205 "Add option to make admin.fetchOffsets resolve the offsets"
`await admin.fetchOffsets` might return -1 or -2 depending on the state of the consumer group. We could add an option to force it to resolve the offsets, so you get the earliest or the latest offset.

proposal:
[code]

[2018-11-14 15:11] tulios commented on #192
@kpala issue #205 has your feature request, I'm closing this one for now.
Thanks again

[2018-11-14 15:11] #192 closed

[2018-11-14 15:12] tulios commented on #196
Fixed on #199

[2018-11-14 15:12] #196 closed

[2018-11-15 10:20] #200 closed

[2018-11-16 02:46] paambaati commented on #204
@Nevon I _am_ consuming from the latest offset. Is that a problem? I assumed if the offsets aren't found, the consumer would start consuming from offset `0`.

[2018-11-16 06:19] Nevon commented on #204
The consumer group will consume from the latest committed offset. If there are no offsets committed, it will either start from the beginning or from the end of the topic, depending on the `fromBeginning` flag. If you set that flag to `true`, you'll see some messages being consumed.

[2018-11-16 06:19] #204 closed

[2018-11-16 06:29] paambaati commented on #204
@Nevon So with `fromBeginning: true`, the consumer will read from the latest offset, and if there are no offsets, it will read from the beginning. Am I understanding this correctly?

[2018-11-16 06:41] Nevon commented on #204
That's exactly right.

[2018-11-16 06:42] paambaati commented on #204
@Nevon Ah, okay. I assumed the option was to force consumers to always read from offset 0. Do you think that should be explicitly mentioned in the README? I can send a PR if you think it is worthwhile.

[2018-11-16 06:50] Nevon commented on #204
Reading through the readme now, it isn't very clear what reading from the beginning means, so it should probably be more explicit. If you could add another section to the Consumer documentation, similar to for example "Pause & Resume", for subscribe, where you explain that the fromBeginning option allows the consumer group to start reading from the earliest available offset if there are no committ

[2018-11-16 06:51] paambaati commented on #204
@Nevon Cool, I'll do that. Quick question - What's the use-case for this? When `fromBeginning` is `false` and there are no offsets, why shouldn't KafkaJS just start reading from offset 0?

[2018-11-16 22:00] ianwsperber opened #207 "Support committing offsets in transaction"
#### Overview

Kafka transactions provide support for the "consume-transform-produce loop" by allowing transactional producers to commit offsets for their recently consumed messages. This allows a client to ensure that offsets are committed for consumed messages _only_ if the transaction is committed.

The spec recommends we enable support by adding a method "sendOffsets" (`sendOffsetsToTransactio

[2018-11-16 22:09] ianwsperber commented on #197
Starting work on this

[2018-11-20 00:04] ianwsperber commented on #202
Our fetch implementation already defaults to the isolation level of read committed. This should continue to be the default behavior.

[2018-11-20 10:11] tulios commented on #207
Right, the idea behind `eachMessage` was to provide a convenient and batteries included method to consume messages. Do you think users will decide to commit in different situations there? The way I see it `eachMessage` will call `AddOffsetsToTxnRequest` if it succeeds and `TxnOffsetCommit` once the batch is over or based on the `autoCommit` configurations.

`eachBatch` has the capabilities to disa

[2018-11-20 17:34] ianwsperber commented on #193
@tulios I accidentally referenced this ticket in my PR (#208) for #197, going to re-open this since I assume it was closed due to an error in my part ! 😬

[2018-11-20 17:35] ianwsperber commented on #197
Resolved by #208 (which _erroneously_ refers to #193)

[2018-11-20 17:35] #197 closed

[2018-11-20 19:32] sklose commented on #207
I like the idea of `eachMessage` providing this capability out of the box for simple use cases.

However I think it would be great if there was an option to disable that and use it similarly to the Java implementation. For instance I would like to use this feature in a message streaming framework that is designed run input/processing/output in their own async-chains so they can run concurrently in

[2018-11-20 20:30] tulios commented on #207
Ok, I think I understand now, you want to commit the message before you process it, right? What about passing a `commitTransaction` or `addOffsetToTransaction` to the `eachMessage` callback? Without the need of passing the offset to the function.

[2018-11-20 21:08] sklose commented on #207
maybe let me try to describe it in pseudo code:

[code]

The input "thread" is reading in msgs as fast as possible from kafka and putting them in the input queue so they are readily available to be processed (effectively a prefetching mechanism to avoid broker roundtrip latencies).

The processing "thread" will run the input -> output transformation function based on data available in the input qu

[2018-11-20 22:54] ianwsperber opened #210 "Consumer "read_uncommitted" isolation level"
Support the "read_uncommitted" isolation level for transactional consumers. Since the default behavior is to "read_committed", we'll add the isolation level config option in this task.

- [x] Allow configuring isolation level at consumer level
- [x] Provide isolation level to `Fetch` call
- [x] Provide isolation level to `ListOffsets` call
- [x] Ensure that we do not ignore aborted transactions

[2018-11-20 22:56] ianwsperber commented on #202
Since we're going to default to "read_committed" behavior, we can hold off on providing a config option for isolation level until #210 (I'd mistakenly assumed to got "read_uncomitted" for free, but in practice the behavior we're getting is some weird mix of both)

[2018-11-22 03:37] yuu2lee4 opened #213 "support kerberos?"
whether supported kerberos or not?

[2018-11-22 15:49] tulios opened #214 "Add protocol ListOffsets v1"
[code]

[code]

[2018-11-22 15:49] tulios commented on #214
#209

[2018-11-22 15:53] tulios commented on #148
I'm working on this now. You can follow on this branch: https://github.com/tulios/kafkajs/tree/accept-max-in-flight-requests-on-the-connection

[2018-11-27 09:02] tulios commented on #213
Hi @yuu2lee4, sorry for the delay. We don't have plans to support Kerberos on KafkaJS, but the authentication system is modular, which means it can be implemented as a separate library. If you decide to write the library, I can support you on the integration part.

We could also support it in KafkaJS if the implementation doesn't require any dependencies, I can also support you with this implement

[2018-11-27 21:05] #214 closed

[2018-11-28 08:25] paambaati opened #220 "Consumer error - Cannot read property 'every' of undefined"
I'm on KafkaJS 1.4.4 connecting to a 5-node Kafka 1.1.0 cluster. I have an app that is subscribed to 2 topics (`some_topic` with 50 partitions and `some_other_topics` with 400 partitions), and I'm getting this error —

[code]

**Relevant code**
[code]

I face the error only when I run the above code; when I change `inputTopics` to `[, 'some_topic', 'some_other_topic']` and re-run it, the app proce

[2018-11-28 09:01] Nevon commented on #220
This is a bug in the code where we try to handle the case where you receive assignments for a topic you are not subscribed to. I'll be creating a PR to handle this case shortly.

However, you shouldn't be receiving assignments for a topic you're not subscribed to in the first case, which leads me to believe that there is something wonky going on with your configuration. The last time we saw this (

[2018-11-28 09:07] paambaati commented on #220
@Nevon Thanks!

I have a few more updates -

1. I already have the app deployed, subscribed to 1 topic. I just ran a local copy of it (same `groupId`) subscribing to 2 topics and ran into this.
2. `some_topic` is actually empty, as all the old data got evicted by the retention policy; I verified this by running the [console consumer](https://kafka.apache.org/quickstart#quickstart_consume).

I thin

[2018-11-28 09:07] #173 closed

[2018-11-28 09:11] tulios commented on #220
@paambaati let's keep it open since this is a bug

This was probably the cause, but we shouldn't crash thus the fix.
Thanks again for the reporting!

[2018-11-28 10:24] #220 closed, assigned to nobody

[2018-11-28 10:45] Nevon commented on #220
@paambaati: I just released v1.4.5 with a fix for this issue.

[2018-11-28 18:58] #201 closed

[2018-11-29 08:44] tulios commented on #148
Implemented on PR #216

[2018-11-29 08:44] #148 closed

[2018-11-29 08:45] tulios commented on #158
Implemented on PR #218

[2018-11-29 08:45] #158 closed

[2018-11-29 22:13] imalik8088 opened #224 "describe none existing topic"
Hi,
I'm getting still for none existing topic a result and bunch of configs and I could see if this scenario was tested in according test. I'm using Kafka 1.1.

Is this bug?
[code]

thats the result which I'm getting:

[code]

[2018-11-29 23:30] ianwsperber commented on #210
@tulios Do you think it's better to provide an `isolationLevel=1` option to the consumer (0 or 1) or a `readUncommitted=false` option (true/false)? The former keeps us close to the Java API, the second is arguably more descriptive

[2018-11-30 22:17] ianwsperber opened #225 "Update README with transactional API"
Once the transactional API has been completed we'll need to update the README to document the new methods, options and workflows.

[2018-11-30 22:19] ianwsperber commented on #210
Work on this is pretty much done, just waiting on #223 to get merged.

[2018-11-30 22:38] ianwsperber commented on #207
I'm going to begin by doing some exploratory work on this so I can better understand how we can/cannot achieve this functionality within the existing API. @tulios let me know if you have further thoughts/feedback in the meanwhile on how to implement `sendOffsets`.

[2018-12-03 04:56] paambaati opened #226 "Cannot subscribe to new topic"
@tulios @Nevon I ran into another case where I cannot subscribe to a topic —

1. Stand up app subscribed to `['topic1', 'topic2']`.
2. Create a new topic `topic1_v2` with a different number of topics from `topic1`.
3. Kill app, update config to subscribe from `['topic1_v2', 'topic2']` and restart; no change to `groupId`.
4. The app now does not consume from `topic1_v2`.

**Relevant logs**
[code]

[2018-12-03 10:09] paambaati commented on #226
@Nevon That's great to hear. I've temporarily changed the `groupId` and redeployed so I can unblock the app, so there's no hurry.

[2018-12-03 13:38] #226 closed

[2018-12-03 14:05] tulios commented on #226
@paambaati `v1.4.6` is out with the fix. Thanks for the reporting

[2018-12-03 14:07] Nevon commented on #213
I'm closing this for now. Feel free to re-open if you want to support us in implementing this.

[2018-12-03 14:07] #213 closed

[2018-12-03 14:48] tulios commented on #224
Hi @imalik8088, you are just getting the default configurations for the topic, you get that even if the topic doesn't exist.

[2018-12-04 01:05] ianwsperber commented on #207
@tulios @Nevon Working through the implementation & thinking about the problem I really don't see a way of accomplishing this without being able to disable committing of offsets within the consumer's processing method (eg `eachBatch`).

As @sklose's example illustrates, the each step in the `consume-transform-produce` loop is independent of the others. We may consume many messages, then transform

[2018-12-04 10:06] imalik8088 commented on #224
ok thanks!

[2018-12-04 10:06] #224 closed

[2018-12-04 14:44] tulios commented on #207
@ianwsperber that was also my proposal, go for it!

[2018-12-04 14:49] #202 closed

[2018-12-06 20:45] #210 closed

[2018-12-06 22:40] ianwsperber opened #230 ""KafkaJSGroupCoordinatorNotFound" errors in EoS tests"
While developing the EoS project locally I've repeatedly encountered issues with "KafkaJSGroupCoordinatorNotFound" errors, "Failed to find group coordinator". The actual underlying error code from Kafka is `GROUP_COORDINATOR_NOT_AVAILABLE`. I believe this has something to do with the local test setup vis-a-vis the docker container... these errors have not seemed to pop up when my branches have run

[2018-12-06 23:15] ianwsperber commented on #230
Example debug logs:

[code]

[2018-12-07 01:06] ianwsperber commented on #230
I think I just needed to increase the memory limit on docker - I realized one of the brokers was exiting with code 137. IIRC kafka transactions require 3 brokers to work properly. After bumping my memory limit from 2 gigs to 4 gigs bug stopped appearing. See https://github.com/moby/moby/issues/21083

[2018-12-07 01:06] #230 closed

[2018-12-07 09:08] tulios commented on #230
@ianwsperber maybe we should add a note on the "development" section, that's the reason I split the tests into groups for the CI.

[2018-12-19 20:59] ianwsperber commented on #122
As @tulios pointed out this is at least partially addressed by #232. I'm doing some related work now and will see if there's still a need to expose/change a commit method to accomplish this.

[2018-12-24 08:07] superbogy opened #234 "high cpu used but none message received by subscribe to a broadcast use new group"
high cpu used but none message received by subscribe to a broadcast use new group

[code]

there are none error

[code]
{"level":"INFO","timestamp":"2018-12-24T08:06:52.908Z","logger":"kafkajs","message":"[Consumer] Starting","groupId":"log-app-op"}

{"level":"INFO","timestamp":"2018-12-24T08:06:52.928Z","logger":"kafkajs","message":"[Runner] Consumer has joined the group","groupId":"log-app-op","

[2018-12-26 10:32] tommymsw commented on #36
We are currently encounter the same problem, our front-end is React , which need browser as client to consume kafka topics, and I think it is very nice if the kafkajs can support this function. We want to know do you have any plans to implement this feature? thanks very much.

[2018-12-26 10:59] zluo001 commented on #36
Maybe it's crazy for running kafka client in browser, but it's really useful. Now days, all the solutions of produce or consume topics in browser require a proxy server. It makes the architecture become complicated and more latency of message delivery, while it led to consume more hardware resources also more money. It should be a tremendous progress in web client if this can be made. Thanks for y

[2018-12-26 11:35] Nevon commented on #36
I personally think it's a cool idea, but this is not something that is being actively worked on.

We did a hacky PoC just to see if it's possible, and got it working. To elaborate on my previous comment, the problem is that the Kafka protocol is a custom binary protocol over TCP, which requires the client to have a raw socket connection. This is not a capability that the web has. This means that,

[2019-01-02 09:16] tulios commented on #234
Hi @superbogy, sorry for the delay, we were out on holiday vacations. We have a lot of projects running kafkajs, some of them with extreme load and we haven't seen this behavior. Can you provide some code example with the cluster so we can investigate the issue, there was another thread about cluster mode some time ago that might shed some light (#144)

[2019-01-04 00:37] ianwsperber commented on #225
@tulios @Nevon I will have a PR in place for this within the next day. Hopefully we'll be more or less ready to do a version bump with the EoS features then?

[2019-01-04 06:31] Nevon commented on #225
We tend to run a pre-release version on one of our systems first for a couple of days, to see if there are any issues introduced. We can do that early next week, and if all goes well, we can release a new version shortly after.

[2019-01-04 08:42] tulios commented on #225
Since this version (`1.5.0`) has a lot of new things, I was thinking about releasing a `1.5.0-rc1` so we can have some time to make sure everything is stable, but we don't block anyone that wants to use the features. WDYT?

[2019-01-04 18:42] ianwsperber commented on #225
@tulios Yeah I think that's a good idea to get a beta out that people can install while we're doing testing

[2019-01-07 09:51] #225 closed

[2019-01-09 08:02] kpala opened #238 "Throwing an error in eachBatch for a consumer without resolved offsets skips messages"
When using `eachBatch`, offsets are not committed when throwing an error in the eachBatch methods as documented:

However, if the consumer was just added so that not all partitions yet have resolved offsets, the consumer seems to restart by starting from the latest offsets for the partitions instead from the stored offsets. I.e., the consumer will skip messages.

In the following example, "RECEIVE

[2019-01-09 08:33] tulios commented on #238
Hi @kpala, this is the intended behavior. The first time you connect a consumer group it will initialize the offsets based on the default policy, which in this case is `fromBeginning: false`, you can configure your consumer groups to start from the beginning, like:

[code]

Take a look at https://github.com/tulios/kafkajs/blob/master/README.md#consuming-messages-from-beginning for more information

[2019-01-09 08:59] kpala commented on #238
Thanks, I realized this as well while digging deeper. Sorry for the false alarm!

[2019-01-09 09:11] #238 closed

[2019-01-09 09:12] tulios commented on #234
@superbogy feel free to re-open this ticket if you need.

[2019-01-09 09:12] #234 closed

[2019-01-10 09:18] OlegPoberegets commented on #164
Hello, @tulios. Thanks for your work.
But how about ZSTD?
I try to use custom compression with ZSTD codec and **node-zstd** module.
[code]
But receive errors

[code]

Kafka version

2.1.0 (Commit:809be928f1ae004e)

Can you help?

[2019-01-14 09:54] Nevon opened #239 "Select website generation tool"
Investigate options for how to generate the website. It needs to support custom styling, custom links, custom pages and configurable navigation. We should be able to nicely show code examples.

- [ ] Docusaurus + gh-pages
- [ ] Github pages
- [ ] Plain Jekyll + gh-pages

[2019-01-14 09:54] Nevon opened #240 "Migrate readme to documentation website"

[2019-01-14 09:55] Nevon opened #241 "Migrate examples to website"
Should have examples for producing and consuming as easily copy-pasteable snippets.

[2019-01-15 18:26] boedy opened #242 "[question] Slow consumption"
Currently experimenting with Kafkajs. I notice when consuming message from the beginning (`fromBeginning: true`) the consumer processes the first couple of thousand messages fast, but then it slows down considerably. it will do 50 - 100 messages per 5 seconds. Is this expected behaviour?

Setting `maxWaitTimeInMs` to `1` circumvents the issue. Is lowering this number to `1` a bad idea? Is there so

[2019-01-15 18:42] tulios commented on #242
Hi @boedy, last time we benchmarked KafkaJS it was processing 80k messages p/s with `eachBatch` and 65k messages p/s with `eachMessage`. I would guess that your test isn't producing fast enough, the consumer will wait for `maxWaitTimeInMs` or `maxBytes`, which is 10M by default. So I guess that it is always waiting for the `maxWaitTimeInMs`, you can try to configure `maxBytes` to something that ma

[2019-01-16 10:13] Nevon opened #243 "Throw if groupId is missing on consumer creation"
If you don't provide a `groupId` when creating a consumer, you won't get any error from the client, and only `Failed to find group coordinator` from the broker.

If `groupId` is missing when creating the consumer, we should throw a descriptive error.

[2019-01-16 12:53] #243 closed

[2019-01-17 12:59] Nevon commented on #12
This is probably not happening anytime soon. Closing for now.

[2019-01-17 12:59] #12 closed

[2019-01-17 13:00] #25 closed

[2019-01-17 13:17] Nevon commented on #193
I can't reproduce this issue. There are several tests that are producing messages without any `key`. For example, https://github.com/tulios/kafkajs/blob/a12a00e5222028ee03f4d8845ec95c4e2f9c7852/src/producer/index.spec.js#L79-L82

Are you still able to reproduce this issue, and if so, do you have any more information?

[2019-01-17 13:35] kpala commented on #193
I'm still seeing this issue. Here's the minimal code to reproduce:

[code]

Here's my test output:

[code]

Works without problems, if I replace `messages: [{ value: 'Hello world' }],` with `messages: [{ key: null, value: 'Hello world' }],`.

[2019-01-17 15:18] Nevon commented on #193
What version of kafkajs are you using when seeing that issue?

[2019-01-17 15:22] kpala commented on #193
When I reported the issue, it was 1.4.4. Today when running the test above, it's 1.4.6.

[2019-01-17 21:12] Nevon commented on #193
I wasn't able to reproduce it because the producer test doesn't use 0.11 features by default, and this issue was only present in Produce V3 requests. Adding that flag to the test made it possible to reproduce.

Got a PR up to fix it, #247. Thanks for reporting!

[2019-01-18 06:17] #193 closed

[2019-01-18 16:58] KBInmarsat opened #248 "Opportunistic message sending"
We have a requirement where we have limited bandwidth between a producer and a broker and with two classes of messages (high and low priority) on a topic.  Low priority messages should only be sent if there is no congestion on the line.

I have implemented a change that adds a new option "opportunistic" to send/sendBatch which if set to true only sends the message(s) if the broker(s) socket is not

[2019-01-21 11:57] tulios commented on #248
Hi @KBInmarsat, interesting use case. Can't you accomplish the same by setting `maxInFlightRequests` to one? and what about keeping this logic on userland, what would you need to keep the "queue" on your side? We already have some instrumentation events, I will take a look at your changes to propose something.

[2019-01-21 11:58] #242 closed

[2019-01-21 13:48] KBInmarsat commented on #248
I looked into maxInflighRequest but the problem is it obviously does n't take into account of the message size and on a wan link the round trip time for an acknowledgement would result in lower thoughput.  socket bufferSize is releatively good platform independant way of establishing if there is congestion on the socket, it also works when there are bandwidth limits have been set in Kafka.

We mai

[2019-01-21 14:58] DominicGinger opened #249 "Unable to connect to kafka broker without ssl option"
Hello :wave:

The kafka client is unable to connect to the broker pool unless the ssl option exists, even if it only has `rejectUnauthorized: false` in it.

[code]

[code]

Adding `ssl: { rejectUnauthorized: false }` makes it work.

It looks like this is related to using `net.connect` in https://github.com/tulios/kafkajs/blob/master/src/network/socket.js#L12

Thanks!

[2019-01-21 15:40] tulios commented on #249
Hi @DominicGinger, your broker might require the connection to be secure since port `9094` requires authentication. I don't see anything in KafkaJS that would prevent what you are doing, so I'm assuming that the broker is rejecting the request.

[2019-01-21 15:44] DominicGinger commented on #249
@tulios That's exactly it 🤦‍♂️ , thanks :+1:

[2019-01-21 15:44] #249 closed

[2019-01-22 08:49] tulios commented on #42
@ashokkumarsand, I don't think your problem is related to this issue. Even if the consumer crashes it should reconnect after a while, from the error message it means that your `eachMessage` or `eachBatch` functions took longer than the session timeout, so the consumer was kicked-out of the group, thus the "The coordinator is not aware of this member" message.

You probably need a different configu

[2019-01-22 08:53] ashokkumarsand commented on #42
@tulios Thanks for the help. I will try

[2019-01-30 09:18] Nevon opened #251 "Node support strategy"
This came up with #250.

Until now, we've basically had a general idea about supporting Node version 8+, which in reality meant whatever version of 8 that Travis is running. Coupled with this, we know that we eventually want to drop support for 8, so that we can drop our last dependency and use native BigInt.

I would suggest that we follow the same support pattern that NodeJS itself uses (https:/

[2019-01-30 17:15] cross311 opened #252 "Deleting topic in via admin client, causes all further calls to fail due to unknown topic"
Using the admin API to delete a topic works, but after you delete the topic it is still in the tracked topics.  Each additional use of the same client throws unknown topic or partition error.

I looked at the code to try and debug, it appears that the deleted topic is in the tracked topic set.  When new functions are called the metadata is attempted to be refreshed, and since this unknown topic is

[2019-01-31 09:41] tulios commented on #252
Hi @cross311, the admin client is throwing an error after you delete the topic, right? Because consumers will crash if you delete the topics they are subscribed (justing making it clear).

Thanks

[2019-02-04 14:46] aurelien-ldp opened #254 "Infinite loop while fetching with compression not setup"
I am using Kafkajs latest version with a kafka broker v1.0.1. I have setup my consumer as explained in the documentation nad I can see in the logs that it connects ok to Kafka and it joins the consumer group, but when I send a message (AVRO compressed using **Snappy**), the consumer starts looping like if it is not autocommiting and trying to fetch the same offset each time.

Thanks to the KafkaJS

[2019-02-04 15:04] tulios commented on #254
@aurelien-ldp it turns out that kafkajs already throws an error, check your producer it is probably ignoring the errors. I wrote some more tests to make sure.

[2019-02-04 15:09] tulios commented on #254
Right, if you produce outside of kafkajs it should fail. Adding some more code... :)

[2019-02-04 15:40] jafri opened #257 "Response without match"
Seeing lots of these errors
[code]

This is the command
[code]

Sending 100K of these messages, and interestingly enough, I end up with anywhere between 110- 120K messages (retried 5 times).

[2019-02-04 15:45] tulios commented on #257
Hi @jafri, interesting. Are you using `1.5.0-beta.1`? And can you add here how are you posting these messages, is it a `Promise.all`, sequential, etc?

Thanks.

[2019-02-04 15:47] jafri commented on #257
Its a for loop using 1.5.0-beta.1, my newer tests show that messages are delivered properly when timeout is increased to 60 seconds.

I thought idempotent mode handles timeouts and prevents duplicates?

[2019-02-04 15:48] jafri commented on #257
[code]

[2019-02-04 15:49] tulios commented on #257
I think this is a bug, the request queue should ignore timeouts when using `idempotent`. Can you increase the timeout for now, I will get this fixed on the next version (`1.5.0.beta.2`).

[2019-02-04 15:51] tulios commented on #257
Looking at your code now, can you add `await` to the `send` calls? This way you are generating a lot of concurrent promises

[2019-02-04 16:00] #254 closed

[2019-02-04 16:08] jafri commented on #257
I will look into it, but as the NodeJS app can easily handle the concurrent promises, I do believe there is an issue somewhere with the experimental idempotency guarantee.

[2019-02-05 08:50] tulios commented on #257
So, I ran some tests, and it looks fine. Since you are not awaiting `send` you are spawning a huge amount of promises at once (100k) and completely overloading the system. I used the example producer in the repo to test:

[code]

`sendMessage` generates between 10 to 1000 messages, so I end up with ~1M published messages.

[code]

But I agree that even if it overloads the system, it should work. I

[2019-02-05 12:21] KBInmarsat commented on #248
FYI, we've managed to do this without changing the core message implementation by using two producers and prioritising packets at the network level.  We do however have to need access the underlying broker socket to set some socket options.  I've added a BROKER_CONNECTION event that exposes network connections. Thanks.

[2019-02-05 18:21] jafri opened #259 "Consumer showing values as buffer"
Producer:
[code]

Consumer:
[code]

Result:
[code]

I get the correct results using another tool like `kafkacat`

[2019-02-05 18:40] jafri opened #260 "Consumer takes 30 seconds for first message"
Consumer code:
[code]

Only retrieving 6 messages and here is the output
[code]

Stuck on
[code]

The delay appears to be in joining the consumer group. However, the issue is only seen from kafkajs, works fine using command-line `kafkacat`

[2019-02-05 21:19] jafri commented on #260
The delay appears to be in joining the consumer group. However, the issue is only seen from kafkajs, works fine using command-line `kafkacat`

[2019-02-05 21:20] jafri commented on #259
Using `String(message.value)` works, but should that be necessary?

[2019-02-06 08:47] Nevon commented on #260
Can you show what kafkacat command you are comparing to? I'm thinking that this might be due to different default configurations. The default session timeout in kafkajs is 30 seconds, so my guess would be that the broker uses that value during the group join as a timeout value for how long it should wait for additional members to join, but I don't know for sure without investigating more.

The dur

[2019-02-06 08:48] jafri commented on #260
Simple `kafkacat -C -t abis`

[2019-02-06 09:07] tulios commented on #259
Hi @jafri, Kafka can carry any payload so we can't assume that you are publishing strings, for example, you could be using Avro which has a binary payload. Your messages will always receive a `Buffer` on  `key` and `value`; you can use `value.toString()` to convert it to a string, so using your example:

[code]

[2019-02-06 09:20] tulios commented on #260
Hi @jafri, are you using the same `groupId` of another consumer group? Because this time is influenced by the number of consumers in the group and their ability to stop processing and re-sync. Can you run your example with `KAFKAJS_LOG_LEVEL=debug` so we can see what's happening, this process should be fast.

I run the example we have in the repo and it took some ms to join the group:

[code]

[2019-02-06 10:26] #259 closed

[2019-02-06 10:48] jafri opened #262 "Max batch size"
https://kafka.apache.org/documentation/#upgrade_11_message_format

With new config, we must ensure that the producer's batch size is not set larger than `max.message.bytes`

Is there a way to set that in the producer here for producing multiple messages?

[2019-02-06 15:37] #241 closed

[2019-02-06 15:37] Nevon commented on #241
Done in #261

[2019-02-06 15:37] Nevon commented on #240
Done in #261

[2019-02-06 15:37] #240 closed

[2019-02-06 15:41] Nevon opened #265 "Automatically deploy website"
Currently the documentation website is manually deployed. This should be done via Travis.

[2019-02-07 11:10] pantaluna opened #267 "[Consumer] Stopped when Kafka broker restarts"
Question.
I'm using the handy consumer.run() eachMessage() feature in a Node.js daemon that consumes Kafka messages from one topic continuously. The goal is that the daemon always keeps running, even in the event of failures.

When the Consumer is already connected to the Kafka broker, and the Kafka broker goes down or the network is offline temporarily, then the Consumer keeps running (emitting l

[2019-02-07 15:36] #265 closed

[2019-02-07 22:30] tulios commented on #267
Hi @pantaluna, the expectation is that the consumers will never stop, we use them with this assumption. I performed some tests using the example we have in the repo and they worked well, I'm guessing that we are missing this corner case (`The coordinator is loading and hence can't process requests for this group`). I will create an issue to handle this scenario.

My tests:

[code]

[code]

[code]

[2019-02-08 10:41] tulios opened #268 "Typo on SCRAM invalid username/password"
The current message for invalid username/password on the SCRAM strategy is wrong; it's throwing: `SASL Plain: Invalid username or password`

https://github.com/tulios/kafkajs/blob/master/src/broker/saslAuthenticator/scram.js#L134

[2019-02-08 10:53] KBInmarsat opened #271 "Instrumentation Support, Exposing GROUP_JOIN"
Hi,
We're exposing GROUP_JOIN instrumentation for our application as it's not currently enabled and was wondering what the situation was with instrumentation as a feature? do you plan on dropping it/replacing it with something else in the future?
Thanks

[2019-02-08 11:02] Nevon commented on #271
I think that we have found the instrumentation events to be really useful for monitoring our applications, so I think it's unlikely that they'll go away. The interfaces, however, are not considered stable yet. We haven't had any reason to change them as of yet though, so I don't expect them to dramatically change anytime soon, but I can't _guarantee_ that they won't.

If it's solving a problem for

[2019-02-08 11:02] #271 closed

[2019-02-08 11:07] KBInmarsat commented on #251
My 2c, we only recently updated to node8, we are very conservative with updates as we don't rollout new versions unless there is a bug/new feature.  In the past we've not used certain libraries because of this so there is something to be said for being more conservative.

[2019-02-08 12:34] #268 closed

[2019-02-08 13:00] #267 closed

[2019-02-08 14:39] cross311 commented on #252
@tulios honestly your test is exactly what I was doing.  So if this passes makes me feel like I am either using an older version or just really doing something wrong.  I am currently using version `1.4.6`.  Let me look a little bit more and see if I can one reproduce if I update and two get an exact test case for you.  Thank you for looking at it.

[2019-02-08 15:39] pantaluna commented on #267
Thanks. Works great.

[2019-02-08 15:43] Nevon commented on #207
Closing this as per #232

[2019-02-08 15:43] #207 closed

[2019-02-11 08:05] tulios commented on #252
Hey @cross311 I will go ahead and add a PR to remove the topic from the target list, it makes sense anyway. Maybe this only happens when the cluster is busy, I will add the fix and you can try out.

Thanks

[2019-02-11 12:04] #252 closed

[2019-02-12 14:01] Nevon opened #277 "Change loglevel at runtime"
Right now I'm seeing an issue with one of my consumers, but because I'm running with loglevel INFO, I don't get enough information to be able to understand what is wrong. It would be really neat if the consumer and producer allowed you to change their loglevel after they have been instantiated.

[2019-02-13 12:38] #277 closed

[2019-02-13 12:39] tulios commented on #262
@jafri feel free to re-open the issue if you need.

[2019-02-13 12:39] #262 closed

[2019-02-13 12:39] tulios commented on #260
@jafri do you have more information for us?

[2019-02-13 12:42] tulios commented on #257
I checked the java client, and the request timeout is used even for idempotent producers. My opinion is the same here; you just generated too many promises on the same tick. We are still looking at this to see if we can make some improvements, but for now, I will close this issue. Feel free to re-open.

[2019-02-13 12:42] #257 closed

[2019-02-13 12:50] Nevon opened #279 "Version documentation website"
At the moment, the website that is deployed to https://kafka.js.org is based on latest master. However, most people will be using the latest stable version of KafkaJS, but there's no indication of which capabilities are available in that version vs what's in latest master.

Docusaurus has versioning support, so we should be able to generate one version per tag and then default to the latest stable

[2019-02-13 15:58] zhangchiqing opened #281 "Confusing error messaging when the key of the message isn't string"
I was publishing a message like this:
[code]

I expect to see logs showing it's published, but actually I got the following error:
[code]

However, this change below fixes it, I just need to convert the `key` from a number into a string.
[code]

The problem is that the error message was confusing. It seems like the `value` field was a number, but actually, it's the `key` field was number.

Environ

[2019-02-13 16:15] Nevon commented on #281
`key` has to be something that is convertible to a Buffer, which number is not, but I agree that we could catch this earlier and provide a better error message.

[2019-02-13 16:18] Nevon opened #282 "Missing default restart time on crashes due to retriable errors"
#269 introduced a bug which is present in 1.5.0-beta.2 where if your consumer crashes with a retriable error, it will immediately restart the consumer with an error message like: `"[Consumer] Restarting the consumer in undefinedms"`

[2019-02-14 02:05] t-d-d opened #284 "sendBatch doesn't accept an empty array of messages"
I would expect to be able to pass an empty topicMessages array to sendBatch.

Is there a reason why it's explicitly disallowed?  Seems to still work if I remove the check (for my code at least.)  If it is needed, then the error message could be better.

[](https://github.com/tulios/kafkajs/blob/master/src/producer/messageProducer.js#L32)
[code]

And thanks guys - great library.

[2019-02-14 09:16] #282 closed

[2019-02-14 11:21] HungUnicorn opened #285 "fromBeginning belongs to subscribe() and not consumer"
when reading the document
https://kafka.js.org/docs/consuming#a-name-from-beginning-a-frombeginning

`The consumer group will use the latest committed offset when fetching messages. If the offset is invalid or not defined, fromBeginning defines the behavior of the consumer group.`
it doesn't say which function takes this parameter `fromBeginning`

it would be nice to update the document that this

[2019-02-14 12:46] Nevon commented on #284
This was explicitly disallowed, but looking at it now, I think you're right that we should allow this (even if it's just a noop). It doesn't make sense that you should have to validate this before calling `sendBatch`/`send`.

[2019-02-14 12:49] tulios commented on #284
Yeah, we added some validations to prevent common mistakes, but I also agree that this is a valid use case, thanks for the report.

[2019-02-14 12:50] tulios commented on #285
I agree, thanks for the suggestion

[2019-02-14 12:51] tulios commented on #281
We should add proper validation for `key` and `value`; they should only accept values that can be converted to a `Buffer`. Thanks for the report.

[2019-02-14 16:00] #285 closed

[2019-02-14 16:21] Nevon opened #289 "List of companies using KafkaJS"
**Hey KafkaJS users!**

We sometimes get questions from people on whether or not KafkaJS is used in production. As the maintainers, we hear from people every now and then, but it's not documented anywhere. Knowing how KafkaJS is used and by whom helps us make decisions and also helps users that feel unsure if they can trust this library or not.

✋ **If you or your company is using KafkaJS, please

[2019-02-15 07:21] dmoena commented on #260
Hey! Maybe I do... I'm having the same issue, but looking into kafka's logs, seems to be a group rebalance issue, which might be consequence of kafkajs using subscribe `kafka.consumer({ groupId: 'group-id' })` instead of assign (IMPORTANT: I'm not saying is wrong. I'm just pointing a possible cause).

Interesting related read here: https://dzone.com/articles/dont-use-apache-kafka-consumer-groups-t

[2019-02-15 07:26] dmoena commented on #260
More info here https://kafka.apache.org/documentation/#intro_consumers

[2019-02-15 08:56] tulios commented on #260
Hi @dmoena, ideally, you want to take advantage of automatic rebalances. When using manual assignment you end-up rebuilding most of what's already in Kafka. I would say that a manual assignment should only be used in special cases.

The most common issue is when the group has to rebalance and the old consumers won't acknowledge the rebalance, for example, the consumer fetches a big batch and have

[2019-02-15 08:57] #284 closed

[2019-02-15 10:46] #281 closed

[2019-02-15 13:57] dmoena commented on #260
Agreed. Automatic rebalance it is!

Thank you. Keep the good work with the library!

[2019-02-15 14:40] Nevon opened #292 "Custom requestTimeout for JOIN_GROUP"
Currently we have a single `requestTimeout` value which defaults to 30 seconds. However, the `JOIN_GROUP` request may block up to `sessionTimeout` (or `rebalanceTimeout` in JoinGroupV1), so for that request we should override the `requestTimeout` to be a bit more than `sessionTimeout`.

This is the corresponding PR in the Java client: https://github.com/apache/kafka/pull/5203

I'm not sure why, bu

[2019-02-19 08:42] bobzsj87 opened #294 "Consumer not being a ConsumerGroup and subscribe to a single partition?"
Is there anyway to create a consumer which only subscribe to a single partition of a topic and not being a consumer group?

[2019-02-19 08:51] tulios commented on #294
Hi @bobzsj87, we only support consumer groups for now, but you can write a small assigner that will assign one partition and discard the rest. You can take a look at how to write custom consumer assigners here: https://kafka.js.org/docs/consuming#a-name-custom-partition-assigner-a-custom-partition-assigner

The benefit of this approach is that if the consumer processing the partition dies another

[2019-02-19 09:38] #292 closed

[2019-02-19 10:32] tulios commented on #175
We have decided to expose metrics through the instrumentation events; we can revisit this in the future.

[2019-02-19 10:32] #175 closed

[2019-02-20 12:20] tulios commented on #248
@KBInmarsat just to let you know, we want to move forward with PR #263, it's taking a while because we want to release `v1.5.0` first. I am just keeping you in the loop.

[2019-02-20 19:47] plameniv opened #296 "Retry on CONCURRENT_TRANSACTIONS error for an idempotent transactional producer?"
We are in the process of testing out different edge cases for the EOS implementation. One edge case we came across is: what happens if a service crashes before committing/aborting a transaction and it comes back up creating a new transaction before the previous transaction timeout elapsed.  We currently see a `CONCURRENT_TRANSACTIONS` error which crashes the service.

What would be the best way to

[2019-02-22 08:33] tulios commented on #296
Hi @plameniv, thanks for the great report. Based on the options you presented, which one is the best for your use case?

[2019-02-22 12:03] Nevon opened #298 "Provide streams-like API"
I've opened an issue at nodefluent/kafka-streams#95 to see if it would be possible for us to use kafkajs as a backing client for their streams API. Adding this issue for tracking.

[2019-02-22 13:21] sklose commented on #296
I think from our point of view option 2 (kafkajs would automatically abort the previous transaction and retry the new transaction) would make most sense. I can't think of a scenario where the incomplete transaction could be continued, so automatically aborting and then retrying the new transaction seems to be sensible to me. Curious to hear your thoughts on it, maybe I am missing some use case.

[2019-02-25 08:44] tulios commented on #296
Hi, @sklose @plameniv I took some time to talk with other library developers, and we agree that transactions are short-lived entities and KafkaJS should handle the error, abort the transactions and automatically create a new one, basically option 2.

I think this is the last piece of our `1.5.0` release; I'll get this done and get back to you.

[2019-02-26 13:29] #296 closed

[2019-02-27 07:04] AlirezaSadeghi commented on #177
Hi,
Um, can you please point to a documentation or a guide on what is this locking mechanism and why it's required?

I'm running a KafkaJS production server, which handles nearly 100K transactions per second or so, depending on the load.

I've been unable to track down why the following error happens:

`{"level":"ERROR","timestamp":"2019-02-26T15:35:49.691Z","logger":"kafkajs","message":"[BrokerPo

[2019-02-27 09:35] tulios commented on #177
Hi @AlirezaSadeghi, the lock is required because of some of the authentication mechanisms; for example, SCRAM uses a handshake and requires at least three requests to authenticate the user. KafkaJS will connect the required brokers on demand since Kafka can add new brokers after the initial connection, so the library will connect to one of the seed brokers (the brokers you configure), and will est

[2019-02-27 11:02] AlirezaSadeghi commented on #177
Thanks for the explanations.

Yes, authentication is currently not configured, since the cluster is protected by a firewall and is only accessed within the private network.

Since it only happens in specific load conditions, it's hard for me to reproduce it right away, but looking at the logs, I think it's from a `producer.send` call. You can find the following snippet on how I'm initializing the

[2019-02-27 16:16] tulios commented on #260
Feel free to re-open the issue if you need; this is stale for 21 days.

[2019-02-27 16:16] #260 closed

[2019-02-27 16:17] tulios commented on #294
Feel free to re-open this issue.

[2019-02-27 16:17] #294 closed

[2019-02-28 20:37] plameniv opened #302 "Unexpected metadata causes IllegalStateException"
We ran into an `java.lang.IllegalStateException` while testing the EoS implementation and we are not sure what is causing it.

The scenario is as follows: in a loop, we create a KafkaJs client and a producer and we write a number of messages in a single transaction, then discard the client.

What we observe is that after a variable number of iterations the following exception happens:
[code]
(furt

[2019-02-28 21:11] plameniv commented on #302
The following comment in KAFKA-7088 mentions the same IllegalStateException:

https://issues.apache.org/jira/browse/KAFKA-7088?focusedCommentId=16769912&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-16769912

[2019-03-01 09:11] tulios commented on #302
That's interesting, so you are properly committing or aborting but discarding the client after one commit. I will take a look, thanks.

[2019-03-01 09:24] tulios opened #303 "Lock contention on high load"
From a comment on issue #177

@AlirezaSadeghi I moved the investigation to a new issue

[2019-03-04 09:18] Nevon commented on #302
Running this locally and looking at the logs, this seems to be why the transaction state transition fails:

https://github.com/apache/kafka/blob/0d56f1413557adabc736cae2dffcdc56a620403e/core/src/main/scala/kafka/coordinator/transaction/TransactionMetadata.scala#L324

[code]

Not sure how it's possible, but it looks like the current state has a `txnStartTimestamp` that's higher than the `txnStartTi

[2019-03-04 09:39] Nevon commented on #302
Reading the Kafka code, I'm confused as to how this works. If I'm not mistaken, the timestamps are all set on the broker side:

https://github.com/apurvam/kafka/blob/trunk/core/src/main/scala/kafka/coordinator/transaction/TransactionCoordinator.scala#L261

If the request is handled by a different broker, or if the system clock changes, I would expect this to fail, as the clocks won't be synchroniz

[2019-03-04 16:10] Nevon opened #304 "Unnecessarily long delay after CONCURRENT_TRANSACTIONS"
See https://issues.apache.org/jira/browse/KAFKA-5477

#296 introduced a retry when receiving `CONCURRENT_TRANSACTIONS` error on idempotent producer initialization. The broker aborts the transaction, which means that we can just retry the operation. However, the default retry time is 300ms, which in a scenario where we are creating transactions back to back would introduce a significant latency (se

[2019-03-04 16:15] Nevon commented on #302
Just a note that I learned about recently, which may explain why we're seeing rather many `CONCURRENT_TRANSACTIONS` errors.

When we commit a transaction, the coordinator just writes a `PrepareCommit` message to the log, and then later it asynchronously writes the `CompleteCommit` message. This means that if you initialize another transaction before everything has been written, you'll get a `CONCU

[2019-03-05 10:14] tulios commented on #302
@plameniv we ran several tests using your reproducer, and the results are inconclusive. When running against a local Kafka (non-dockerized), it works all the time. We can only reproduce the problem when running on a dockerized Kafka, and like @Nevon said it is related to a timing issue. We can't reproduce on the Java client because we can't go through the same flow fast enough. I've added a `sleep

[2019-03-05 11:58] sklose commented on #302
agreed, this is an edge case and not a blocker for the 1.5.0 release

[2019-03-05 13:05] tulios commented on #302
I will release `1.5.0` then, @sklose @plameniv thanks for shaping up this release!

[2019-03-05 13:05] #302 closed

[2019-03-08 12:10] kpala commented on #289
[Nightingale Health](https://nightingalehealth.com/) - Finnish health tech company using KafkaJS in a laboratory information management system. @kpala

[2019-03-08 13:09] jdfindwise opened #307 "KafkaJS crashes with typescript due to missing offset"
I tried to use KafkaJS but it crashed immediately using these dependencies: `"@types/node": "^11.10.5",` and `"kafkajs": "^1.5.0",`
I'm using it in a Typescript environment though, might be the issue.

`producer/partitioners/default.js` line 22
`let counter = crypto.randomBytes(32).readUInt32BE()`

According to `@types/node/globals.d.ts` `readUInt32BE(offset: number): number;`.

I don't know what

[2019-03-08 13:29] reviloera opened #308 "Nest Js Integration"
Sorry for asking a very basic question .... I am getting started on NestJs and just learned how Kafka is amazing, but on Nestjs documentation its indicated that they dont support kafka ... so am wondering can KAFKAJS work with NestJs? Is there anyone here who has tried ?  Thank you.

[2019-03-08 14:00] tulios commented on #307
Hi @jdfindwise, we noticed that. PR #300 should fix this issue, can you work around the issue? We have some team using KafkaJS with typescript, and it is working fine, we should release a version soon fixing this problem.

[2019-03-08 14:07] tulios commented on #308
Hi @reviloera, it should work just fine. I haven't done anything with NestJS but there is nothing preventing you to use Kafka (with KafkaJS) on NestJS.

What they don't support is Kafka on their abstraction layer:

so you won't be able to use their abstraction to interact with Kafka, like `@MessagePattern`, etc.

[2019-03-08 14:09] reviloera commented on #308
Hi @tulios thanks for the quick response.

[2019-03-08 14:09] #308 closed

[2019-03-08 14:27] tulios commented on #307
You can try out the code in master:

[code]

[2019-03-08 15:02] jdfindwise commented on #307
@tulios thank you for that link.
It did indeed fix the compile issue, I can now start the application.
I do get another issue
[code]
Not sure if you have seen this issue before?

[2019-03-08 15:23] tulios commented on #307
This error is weird, `net` is part of the node.js standard library. Are you running using something else?

[2019-03-08 15:50] jdfindwise commented on #307
Nevermind, was totally my fault that one.
Tried to run it in a browser, which obviously won't work, works fine from a node.js console :)

[2019-03-08 15:51] Nevon commented on #307
That's awesome. I'm actually working on browser compatibility at the moment, but it's unfortunately not quite ready yet. In some weeks, I hope to have something available for you. 😃

[2019-03-08 15:51] #307 closed

[2019-03-11 09:21] paambaati opened #309 "Response without match errors during consume"
I'm using the latest v1.5.0 release to connect to a 4-node Kafka 2.0 cluster, and I see a lot of "response without match" errors before I can even start consuming messages. I noticed #257, and tried bumping up both my connection & request timeouts, but they don't seem to help.

Here's a debug trace —

[code]

[2019-03-11 10:32] tulios commented on #309
Yeah, we included the request timeout, but it seems that Kafka has a lot of exceptions of when we should use it. We fixed `JoinGroup` in PR #293; Looking at your logs, it seems that `Fetch` should also have some special rules. I will provide a fix today.

[2019-03-11 11:54] AlirezaSadeghi commented on #303
Hi @tulios

Um, I'm still having all sorts of problems arising sometimes here and there in the processes, sometimes it's the lock contention error, sometimes it's the following errors:

[code]

It's good also to mention that I see these 2 error types, way way more than the lock contention.

In our usecase, a consumer consumes messages, say a million, sends them (downstream, system generated) and t

[2019-03-11 12:19] tulios commented on #303
Hi @AlirezaSadeghi, this is a high priority issue for me, I'll bug you a bit this week about this. I'm assuming that the "Response without match" errors are happening on version `1.5.0`, right? I have a fix for it (it's related to #309).

Are the producers and consumers on the same machine (or same node.js process)? Because the requests are timing out, and the lock is timing out, so it's related t

[2019-03-11 12:24] AlirezaSadeghi commented on #303
That would be great! I'll be all out helping fix this issue because it's really reducing the reliability of the messaging mechanism.

About the consumers and producers, yes, they are in the same process, there's basically one consumer and one producer in the same process. (i.e app.js starts up the producer first, and then starts the consumer, consumer starts consuming messages and sending them, an

[2019-03-11 16:57] tulios commented on #309
PR #310 should address the timeouts. @paambaati can you try the branch?

[2019-03-11 17:53] b0rski opened #311 "RangeError: offset is not uint"
I am getting the error `RangeError: offset is not uint` from the example code. Any ideas?

[code]

[code]

[2019-03-11 17:57] Nevon commented on #311
KafkaJS doesn't support the browser as a runtime environment at the moment. It is intended to be used with NodeJS. #300 fixes the specific issue you ran into, but even using the latest `master`, you won't be able to connect to Kafka from the browser, as the browser lacks the ability to open raw TCP sockets, which is what's used to communicate with Kafka.

It's something I'm working on, but it won'

[2019-03-11 17:57] #311 closed

[2019-03-12 06:22] paambaati commented on #309
@tulios I tried, and I'm seeing the same errors; what's worse, the timeouts aren't being respected now.

[code]

[2019-03-12 08:42] tulios commented on #309
Yeah, you are having issues with the timeout system. I'm not happy with the current implementation, we use one timer per request. I'll remove the timeout system for now; we have to re-think it.

[2019-03-12 15:59] tulios commented on #309
@paambaati can you try PR #313, the request timeout system is optional in the PR, and it is disabled by default.

[2019-03-13 09:24] posquit0 opened #315 "Handle when the consumer `.eachMessage` failed `rertries`"
I want to implement my own **DLQ(Dead Letter Queue)**.
When `retries=5`, the consumer retry `.eachMessage` function 5 times and restart if the message handler throws the error.

I want to implement my own handler by catching NumberOfRetriesExceed event.
My own handler will have a logic that produces a message to a specific topic and commits the offset instead of restarting the Kafka client.

How c

[2019-03-13 09:40] Nevon commented on #315
When the retries are exhausted, KafkaJS simply re-throws the error, which means that it will bubble up to your own `eachMessage`. This means that you can add your own error handling there. Simply process your message in a try-catch. In the catch, send the message to your DLQ and don't re-throw the error. Just make sure that if you fail to send to the DLQ, you re-throw the error so that KafkaJS doe

[2019-03-13 11:22] paambaati commented on #309
@tulios I can confirm that #313 fixes this!

[2019-03-13 15:31] posquit0 commented on #315
Thanks for the reply. :)
I'm confused a little bit. Is it possible to reuse `retries` logic which `kafkajs` provides before sending the message to the DLQ.

I want to do the following logic with a message which will be failed.

1. `processMessage` is failed to process `message`
2. Retry `retries` times which is configured.
3. Send to the DLQ when every retry is failed.
4-a. Process the next messag

[2019-03-13 15:47] Nevon commented on #315
I understand where the confusion is coming from. KafkaJS not _not_ retry any error that is thrown from within _your_ message processing - only errors that happen internally to KafkaJS. If your `eachMessage` throws because you have some issue inside it, that does not get retried by KafkaJS.

You can try it yourself quite easily:

[code]

If you run that, you'll see an error message saying: `Error w

[2019-03-13 16:06] tulios commented on #309
I will release `1.5.1` tomorrow then.

[2019-03-13 16:10] posquit0 commented on #315
Okay! I understand well. Thanks for your support. I'll try with `async-retry` module.
By the way, the consumer was crashed after retry when I tried your above logic which just throw `Error` in `eachMessage`.

[code]

[2019-03-13 16:11] tulios commented on #315
That's a common request; it's similar to #69

but like @Nevon said, you can achieve this on the `eachMessage` or `eachBatch` level, where you wrap your message processing with the DLQ logic.

[2019-03-13 16:34] sklose opened #316 "Phantom Lag"
I am running into a weird issue where Kafka Manager is reporting a phantom lag for a consumer group:

![image](https://user-images.githubusercontent.com/546088/54296633-ab67fb80-458b-11e9-8a60-ce52669d1f82.png)

This happens when I reset the consumer group to earliest (-2) and then restart the consumer. The partitions that don't have any data in them never receive offset commits and the partition

[2019-03-14 08:31] tulios commented on #316
I think it does, I've seen other libraries doing this. We should also improve `admin#resetOffsets` to resolve the offsets and commit.

[2019-03-14 10:21] tulios commented on #309
`1.5.1` is out

[2019-03-14 10:21] #309 closed

[2019-03-14 12:47] tulios commented on #248
PR #263 should address this problem as previously discussed.

[2019-03-14 12:47] #248 closed

[2019-03-14 15:35] tulios commented on #316
@sklose I can include this issue to the `1.6.0` release, we want to bump most of the protocol APIs and perform some clean-up

[2019-03-15 05:43] #315 closed

[2019-03-19 09:38] tulios commented on #303
Hey @AlirezaSadeghi, I'm still looking at this. I made some tests, and I have a lead on the problem, but I haven't found the time to debug it fully.

[2019-03-20 08:34] yonigoyhman opened #320 "Parallel message handling"
Hey,

we are using 3rd party multi-threaded libraries and would like to be able to handle messages in parallel and only commit once a message was handled successfully.

These parallel handles might have different running time.

Going over your example, I have a few questions:

1. If a higher offset finishes processing before a lower one ,and we resolveOffset, will this offset be committed immediat

[2019-03-20 11:04] tulios commented on #320
Hi @yonigoyhman, answering your questions:

`resolveOffset` will never commit; it only keeps a checkpoint of the offsets that should be committed. One thing to keep in mind is that you should never resolve offsets out of order, like, resolve 5, then 1, then 3. You can also only resolve the highest offset; you don't have to resolve every offset you process. The advantage of resolving every offset i

[2019-03-20 11:29] yonigoyhman commented on #320
Thanks for the super quick response @tulios !

We have a similar solution using `async.queue` where we define a `maxParallelHandles`,  `maxQueueSize`, and we pause consumption if we reach `maxQueueSize`.

We do however manage offsets manually (tracking each successful message handle , and periodically committing first un-handled message).

Looks like we will need to keep this mechanism even with k

[2019-03-21 20:48] rdbenoit commented on #320
Not sure if this would be applicable to the problem discussed here. We have implemented a variation on this directly on our kafkajs fork that allows for batches to be processed in parallel rather than in series as they are now with the `for` loop. This allows for the batches (which are tied to partitions) to be process in parallel while still keeping the messages inside of each batch in order.

ht

[2019-03-26 06:29] Pingze-github commented on #122
You are right. In Python, I can use the code below to implement this:
[code]
Is is very easy to do this when I can commit offset myself.

[2019-03-26 08:27] tulios commented on #122
@Pingze-github the pull API usually adds a lot of overhead to userland code, if you have all primitives as individual methods you will have to cater for rebalances, etc. The code I usually see around follows the same pattern, it processes messages as fast as they can, committing successful offsets on a certain threshold; on errors, the offset is not committed and the whole process is retried. Kafk

[2019-03-26 12:42] Pingze-github commented on #122
I want to create a function that can return messages of a centain number. It can also update the offset to make sure next time I can start where I left off.
I have tried using eachMessage and eachBatch, but found no solution to meet my demand. Looks like I cannot control offset accurately? (I can only set autoCommit settings).
Am I wrong? Or is there a best way to do this? Thanks for your reply.

[2019-03-27 12:59] tulios commented on #303
@AlirezaSadeghi I have performed a lot of CPU profiling, and I couldn't find anything yet, one thing that I noticed while debugging was that in your example you never `await` for `queueMessage`, which means you are generating 100k promises on the same tick, was that a typo or this is how the system is working?

[2019-03-27 15:30] tulios commented on #303
@AlirezaSadeghi I think I improved things for you, turned out that I was a victim of my recommendations, the lock release mechanism was using `Promise.all` and looking at your example the code could reach 1k+ locked resources, so this would overload the system. PR #323 should improve this, I've tried the change with your example, and it worked fine.

[2019-03-28 15:25] AlirezaSadeghi commented on #303
Um Yeah that's how the system works. Messages are received through sockets in parallel and lots of `emit`s might be called in a single tick, that's why I didn't put the `await` there when calling the `queueMessage` function. I don't think we can reproduce what happens there when we have the `await` key and everything's handled sequentially.

Also thanks for the fix, any Idea how much would it take

[2019-03-28 15:50] tulios commented on #303
If you can, I would recommend taking the code in master for a while, but I think the improvement is significative enough to release `1.5.3`. I want to make sure that I won't release `1.5.4` right afterward with another fix, so I like to let it sink for a while. But we can get a new version next week.

[2019-03-29 11:18] pimpelsang opened #326 "How to send valid tombstones?"
I tried producing these key values, but seems kafka compaction cleaner doesn't count them as correct tombstones - these records never get removed, last value stored.

Created topic with such configuration, data compaction itself works well. But not tombstones removal.

Topic conf is following:
[code]

And procusing like that:
[code]
or
[code]

With kafka console consumer, it first one shows value

[2019-03-30 06:47] pimpelsang commented on #289
Thinking about it in pipedrive, Tallinn, so far only in tests :)

[2019-04-01 09:27] tulios commented on #303
@AlirezaSadeghi `1.5.2` was released with the fix.

[2019-04-01 13:08] #303 closed

[2019-04-01 15:08] tulios commented on #326
Hi @pimpelsang, your first example is correct. PR #185 fixed this some time ago; I think the best way to try this feature is to decrease the retention a lot; it's a tricky thing to test.

[2019-04-02 05:00] ManfredLange opened #328 "getTopicMetadata() returns empty array although topics exist"
This works:
[code]
It returns the metadata for the given topic as expected.

**Actual behavior:** The following returns empty collection of topics:
[code]

**Expected behavior** is for the second call to return the metadata for all topics including the metadata for topic "test-topic".

**Environment:**
- Kafkajs version 1.6.0
- @types/kafkajs version 1.4.1
- Kafka 2.11 via docker image `wurstmeist

[2019-04-02 06:57] Nevon commented on #328
Thanks for the very clearly explained ticket! ⭐️

We discussed this yesterday in regards to #325. I'm a bit surprised at your results, actually. Are you creating a new admin client in between those two calls?

The way it works right now is that on the first call, where you are specifying the topic, we fetch metadata and then add that topic to a list of target topics. On the second call, if you don

[2019-04-02 07:14] tulios commented on #328
Yeah, this is a weird behavior and I don't think anyone is relying on it. Like @nevon mentioned, we have a PR about the same thing, I will take some time and improve this method.

[2019-04-02 07:22] ManfredLange commented on #328
Thank you, @Nevon and @tulios, for the fast response.

Each of the above calls is a separate test run, so each creates a new admin client that connects, makes the call and then disconnects.

I had a look at [https://kafka.apache.org/protocol#The_Messages_Metadata](https://kafka.apache.org/protocol#The_Messages_Metadata) (mentioned in the code snippet in @Nevon's  reponse) and there it reads:

It a

[2019-04-02 07:22] #328 closed

[2019-04-02 13:50] #126 closed

[2019-04-02 16:35] dstelljes opened #329 "Add timestamp parameter to fetchTopicOffsets"
Would it be possible to support fetching topic offsets by timestamp? If this sounds reasonable, I can open a PR:

1. Look for `timestamp` in `cluster.fetchTopicsOffset` as well as `fromBeginning`
2. Add optional `timestamp` parameter to `admin.fetchTopicOffset`

This is a continuation of #126—apologies for never following up.

[2019-04-03 13:17] paambaati commented on #289
[Indix](https://indix.com) uses KafkaJS to move massive amounts of data across various systems every day! We also open-sourced the [kafkajs-lz4](https://github.com/indix/kafkajs-lz4) module that we use in-house.

[2019-04-03 14:38] Nevon commented on #320
@rdbenoit: This is a great idea, and something I think we should enable both through `eachMessage` and `eachBatch`. We have users with hundreds of partitions, so maybe a simple boolean flag is not quite enough, but I think this is something we should for sure do upstream. I will open up an issue to track this.

[2019-04-03 14:41] Nevon opened #330 "Partition aware concurrent `eachBatch`/`eachMessage`"
Currently we are processing each batch in sequence, but there's no reason you couldn't process the batches concurrently, as long as you maintain order within each batch.

I would suggest adding a concurrency limit to the consumer, which would cause us to process a maximum of N batches or messages (depending on if the user is using `eachMessage` or `eachBatch`) concurrently.

This was initiated by

[2019-04-03 15:09] tulios commented on #248
The socketFactory feature (#263) was released on `v1.6.0`

[2019-04-08 13:19] Nevon commented on #320
@rdbenoit I just created a PR addressing this issue: #332

[2019-04-09 09:57] coughlanio opened #334 "Consumers hang on offset out of range errors."
## Issue
Consumer appears to hang on an offset out of range error.

## Kafka Version
v2.1 via Confluent v5.1

## Code Snippets
[code]
[code]
## Error Logging
[code]
## Logs
[Click here](https://gist.githubusercontent.com/coughlanio/743214b8bb4a7e04202bf7e32469a5d1/raw/2e31b3822d8a87ca7b00d1ec30b7bc4522455532/console.log)

[2019-04-09 11:00] Nevon commented on #334
Is this a typo when you prepared the snippet, or is this actually what you are doing?

[code]

[2019-04-09 11:10] coughlanio commented on #334
Ah, sorry, the code is ```
    await this.consumer.run({
      eachMessage: this.handleMessage.bind(this),
      autoCommitThreshold: 100,
    });
[code]

[2019-04-09 11:37] timojokinen opened #335 "This server is not the leader for that topic-partition"
I have a consumer that listens to messages and processes them. It works fine for a few days but after a while it breaks:
This server is not the leader for that topic-partition

I set the following options:
autoCommitInterval: 5000,
autoCommitThreshold: 100,

Does anyone have an idea why that happens?

[2019-04-09 11:46] Nevon commented on #335
Are you sure that the application breaks? `NOT_LEADER_FOR_PARTITION` is a transient error that happens when a partition migrates from one broker to another. The operation should be retried and the application should continue as usual afterwards.

[2019-04-09 12:51] timojokinen commented on #335
Yes kafka retries 10 times but fails every time and then stops listening to messages

[2019-04-09 14:08] pimpelsang commented on #326
Thanks!

[2019-04-09 14:08] #326 closed

[2019-04-09 14:10] pimpelsang commented on #298
Would use this kafkajs feature. Right now using node-rdkafka stream api for biz transform, batching and output for nice backpressure

[2019-04-09 14:15] pimpelsang opened #336 "Consume wildcard topics"
Something librdkafka and java clients support.

await consumer.subscribe({ topic: 'data-source-tables.*' });

And keeps up to date when new topics added :)

[2019-04-15 08:40] Nevon opened #340 "Document rebalances"
I very often get asked about rebalances, why they happen and what the impact is. This is really a Kafka thing, but we can do more to explain this behavior.

I would like to add a section to the FAQ and link to it from the error.

[2019-04-15 11:51] #340 closed

[2019-04-16 15:00] tulios commented on #17
If this appears again we can reconsider, closing for now

[2019-04-16 15:00] #17 closed

[2019-04-16 15:04] tulios commented on #137
`admin#fetchTopicMetadata()` can fetch all topics now; issue #336 will add subscribe by regex, which should address this. I will close the issue, for now, feel free to re-open if you think that #336 won't solve all concerns.

[2019-04-16 15:04] #137 closed

[2019-04-18 07:33] #330 closed

[2019-04-18 21:25] vykimo opened #345 "Throttle - Consume messages one by one"
Hello, I've a question :
Is this possible with this implementation of Kakfa to process message one by one (or more) ?
A way to makes Kafka act like with a throttle.

Thank you in advance for your answer 👍

[2019-04-18 21:28] Nevon commented on #345
The default behavior of `eachMessage` is to process messages one by one, sequentially. So if you just configure a standard consumer, that's how it will work out of the box.

I'm not sure what you mean by a throttle though. There's no built in way to artificially limit the amount of messages that you process within a certain timespan, but you could fairly easily implement that outside of the librar

[2019-04-18 21:38] vykimo commented on #345
Oh ok I see, so `eachMessage` is the direct application of my use case.
but what if I want to allow the consumption of 2, 3 or 4+ messages maximum at the same time by a single consumer ? (that's actually my idea of the throttle)

[2019-04-18 21:43] Nevon commented on #345
The current `master` of KafkaJS actually introduces a new [`partitionsConsumedConcurrently` setting](https://kafka.js.org/docs/consuming#a-name-concurrent-processing-a-partition-aware-concurrency) that allows you to do exactly that. If you set it to 3, it will process up to 3 messages at any given time.

However, that has not been released in any stable version yet. If you want to test it out, you

[2019-04-18 21:47] vykimo commented on #345
Wonderfull ! I will test it for sure.
What are the possible side-effects or deviances ?

[2019-04-18 21:56] Nevon commented on #345
That's correct. Kafka guarantees that the messages are ordered within a partition, so if we want to keep that guarantee, the maximum concurrency is bounded by the number of partitions. Note that if you are consuming from 2 topics with 3 partitions each, the maximum concurrency would be 6, and so on.

There are no known side-effects to using this option, but we also haven't tried it out with produc

[2019-04-19 06:11] vykimo commented on #345
Ok, I will. I keep you informed about my load test then.

[2019-04-19 10:32] vykimo commented on #345
I just tested basic program and I have 2 questions @Nevon :
1. First of all, with a simple consumer described [https://kafka.js.org/docs/consuming](here) with `async eachMessage` and `partitionsConsumedConcurrently` set to 3, I succeed to read only messages from partition 0. Is that normal? What do I have to change in order to read from any partition of a topic?
2. Secondly, with `eachMessage` I c

[2019-04-19 10:53] tulios commented on #345
@vykimo check if your topic have more than 1 partition, to have more partitions you have to create the topic with the number of partitions you want. `eachMessage` will commit the offset after the function is executed, if you throw inside the function it won't commit the offsets.

[2019-04-19 11:42] vykimo commented on #345
Sorry my bad for partitions.

This information is verified. I'm ok with that.

I've a question now regarding the custom partitioner ; as I can read [https://kafka.js.org/docs/producing#custom-partitioner](here), we can get some infos about partitions. But is it possible to get the current offset of each partition. My strategy is that I want to set the id of partition with the lowest offset of the

[2019-04-19 12:34] vykimo commented on #345
Can you tell me when `partitionsConsumedConcurrently` will be included in a npm version approximately? (with warning on users to be aware of it)
It's working well with master src.

[2019-04-19 17:36] vykimo commented on #289
[IBM France Watson](http://www.ibminteractive.fr/#/home)
We use it to handle the pipeline of a cognitive platform. 🙂

[2019-04-19 18:07] tulios commented on #345
We run all candidates in production before we release a new version, we updated one of our production systems last week with the latest code in master, so we are aiming to release this week. We usually post on our slack channel about new versions.

You can take a look at the admin client; you can easily fetch the topics offset and initialize your partitioner.

https://kafka.js.org/docs/admin#a-nam

[2019-04-23 09:27] #336 closed

[2019-04-23 09:28] Nevon commented on #336
This was implemented in #346 and will be available in the next release! 🎉

[2019-04-23 11:54] Nevon opened #349 "Handle offline replicas in metadata response"
`offline_replicas` in the v5 metadata response is an array, but we're reading it as a single int32. This happens to work as long as there are no offline replicas, but if there are any, this crashes with a `RangeError`:

https://github.com/tulios/kafkajs/blob/6cd8c988852ceb08a43c698c23ea34f9a760906a/src/protocol/requests/metadata/v5/response.js#L41-L48

[2019-04-23 14:35] timojokinen commented on #335
Hi, I actually don't have the logs except the error I mentioned above. I need to wait until it happens again. There were some errors below this error (i think it was errors while retrying to connect). Do you have any idea how I can reproduce this, so I can investigate it further? I am very clueless right now.

[2019-04-23 14:43] #349 closed

[2019-04-23 14:44] #320 closed

[2019-04-25 07:10] tulios commented on #345
@vykimo is this answered? Can I close the issue?

[2019-04-25 07:12] tulios commented on #335
This feels like a cluster operation (leaders been moved), what version of KafkaJS are you using? We had an issue in some old version where the consumer would give up on the retries.

[2019-04-25 07:14] tulios commented on #334
Hi @coughlanio, I will take a look at this. We have been running the latest version of KafkaJS for a while in many teams/systems, and we haven't seen this happening. Is this a frequent error? Or a one-off thing?

[2019-04-25 07:19] timojokinen commented on #335
I'm using 1.4.6, should I upgrade?

[2019-04-25 07:24] vykimo commented on #345
Yes sure @tulios, just tell me when you'll release a npm version including `partitionsConsumedConcurrently`.

[2019-04-25 10:57] tulios commented on #335
yes, I did a quick check on the changelog, and I can spot at least two fixes that might help with this issue:

[code]

you can safely upgrade to `1.7.0`.

[2019-04-29 08:31] tim-mit opened #352 "Brokers received from metadata overwrite initially configured brokers"
Before I start, I'm not sure if this is actually a bug, or indeed a feature hence feel free to close as you see fit!

My situation is that I wish to connect to a Kafka broker on a machine which I've only got SSH access to. I 'enable' this connection through the use of an SSH tunnel, exposing the broker port on my local machine where I'm running a `kafkajs` consumer on `localhost` (i.e. I've expose

[2019-04-29 08:38] thynson commented on #28
Is this feature implemented or not?

[2019-04-29 08:46] Nevon commented on #28
Not to my knowledge.

[2019-04-29 08:53] tulios commented on #28
No, currently it drops the uncommitted offsets.

[2019-04-29 08:57] Nevon commented on #352
Kafka does indeed return a list of brokers to connect to, and it is intentional that this overwrites the statically specified broker(s) that you have configured. This is because brokers can be removed from the cluster over time, which would mean that your initially configured ones may no longer be valid.

I'm actually working on something related, where I need to make the configuration to the brok

[2019-04-29 08:59] tulios commented on #352
Hi @tim-mit, the seed brokers are just that, seed. They are only used to load metadata once when the library boots. I know that this makes your use-case harder, but that's the correct behavior. I have seen some libraries offering a function to map the hosts, that's a much simpler approach than having a custom socket factory, we could consider that.

[2019-04-29 20:38] vykimo opened #353 "Idempotent with async messages"
I've discovered an unexpected behavior.
This small code will illustrate it well :
Here is my producer setup :
[code]
When I produce 10 asynchronous messages like this :
[code]

Here is the result on my consumer side (`numPartitions: 4`) :
[code]
Only random messages are coming and only 1 in each partition.
Are other messages lost?

In order to compare, when I set `idempotent: false,` or if I send

[2019-04-30 07:22] Nevon commented on #353
I have not been able to reproduce your issue. I wrote a test in b0b40f9 that attempts to replicate it. From just looking through your example, I don't see any reason it wouldn't work, although I wouldn't advocate for calling `producer.send` without handling the promise in any way (if it rejects, it'll crash your application). In my test, I'm sending the messages within `Promise.all`, and await tha

[2019-04-30 07:30] #345 closed

[2019-04-30 08:38] tim-mit commented on #352
Thanks for the pointers guys, I'll have a go at the custom socket for now.

@tulios do you have an example of the sort of thing you would consider as an appropriate API/config for mapping? If you do have a proposal I may be able to find time to try and contribute something back.

[2019-04-30 09:02] vykimo commented on #353
It doesn't crash because I `try {} catch(e)` the whole block.

here is my simple consumer :
[code]

[2019-04-30 09:31] Nevon commented on #352
So here's one of those things where Tulio and I will violently disagree. 😄 My proposal is that this belongs outside of KafkaJS core, and that we should just provide powerful primitives. The way I think a mapping should be implemented is to have KafkaJS export the default socket factory, and then just wrap that in something that replaces the host and port and delegates back to the default socket fa

[2019-04-30 09:42] Nevon commented on #353
If you don't `await` the promise, it won't get caught by your try-catch. It'll be an unhandled promise rejection. Can you try adding a `.catch` to the `producer.send` call and log any error?

Could you also run your producer with log level `DEBUG` and share the logs? https://kafka.js.org/docs/configuration#logging

[2019-04-30 11:38] vykimo commented on #353
Here is my producer logs :
https://pastebin.com/EQ2rxrYE

[2019-04-30 14:34] pimpelsang opened #354 "Error "Producing to topic without metadata""
Producing right after
`await this.producer.connect()`

logs this error, which later is fixed automatically?

Why it happens, is is critical or retry handles it?

[2019-04-30 14:38] Nevon commented on #354
When sending a message, the client needs to know which broker to send the request to. If it hasn't had a chance to load metadata yet, it throws a `KafkaJSMetadataNotLoaded` error which gets caught by the retrier, which in turn fetches metadata and then retries sending the message.

This is handled automatically and is not a problem unless it persists through several retries.

[2019-04-30 14:38] #354 closed

[2019-04-30 14:45] Nevon commented on #353
Looking at your debug log, I can see 11 successful produce requests in there, spread across all 4 partitions with no errors:

[code]

Based on this, I'm quite confident that the producing works.

Could you try removing `partitionsConsumedConcurrently` from your consumer? I don't think it's likely, but that is a new code path that could potentially be a source of problems.

[2019-04-30 14:46] tulios commented on #352
I agree with you @Nevon, I always advocate on the developer experience, but my question was more to highlight that this is a requested feature. I think we fully cover the needs of a mapper function with the socket factory.

[2019-04-30 14:57] vykimo commented on #353
Here is my consumer log, without partitionsConsumedConcurrently :
https://pastebin.com/dGupaK5r

[2019-05-02 08:37] vykimo commented on #353
Up !

I tried this code :
[code]
And I still have the same issue ; with idempotency only 4 messages, without it, I have my 10 msgs.

[2019-05-02 09:33] vykimo commented on #353
One thing that I noticed and maye it can help you @Nevon.

Consumed messages have been produced with this info returned :
`      logAppendTime: '-1',`
And skipped messages have this info returned by producer :
`      logAppendTime: '1556789239001',`

And I saw on kafka logs, messages are not produced.

[2019-05-02 09:56] Nevon commented on #353
I think I know what the problem might be. The way that Kafka implements idempotency is by each producer having an id and a sequence number. Each request from the producer should have a sequence number that is higher than any previous request. If Kafka receives several requests with the same sequence number, it discards all except the first one. This means that an idempotent producer can retry the

[2019-05-02 10:38] vykimo commented on #353
I see, it was my impression too.
But I cannot await for each message because my software produce message when it receives an API request.
So here are solutions I see :
1. Everytime you want to produce an idempotent message you have to retrieve latest sequence number and upgrade it.
2. Set at-least-once semantics for my problem. Do you have tutorial where this system is described ?

[2019-05-02 10:46] Nevon commented on #353
Another option for you would be to create a new producer whenever you receive an API request, since the sequence number is per producer. The point of an idempotent producer is that you can retry *the same request* infinitely and still be sure that you won't get duplicates. If you are actually producing *different* messages and you don't care about the order of the messages, you should probably not

[2019-05-02 10:59] vykimo commented on #353
Oh this is a nice idea.
But tis the creation of a new producer an expensive operation? And will it resist to the load ? (Approx. 3 calls per sec)

[2019-05-02 11:00] tulios commented on #353
@vykimo I think you are approaching this problem from the wrong side, if you can't `await` for `producer#send`, you can't really use idempotent producers. The primitive behind idempotent producers is that they will produce in sequence, event the number of in-flight requests have to be controlled for this to work. For your current design, you have to use a regular producer.

My suggestion is: produ

[2019-05-02 11:18] pimpelsang commented on #354
Can this be avoided? Isn't error level log too high?

[2019-05-02 11:24] vykimo commented on #353
Thank you for your suggestion @tulios but my not quite sure about it because the pre-step with regular producer will cancel (or at least minimize) benefits of idempotency on the second producer... (in the case of the regular one sends twice or fails, idempotent producer will propagate errors thereby)

[2019-05-02 12:45] vykimo commented on #353
I did some experimentations and here is my solution :
- I calculated that producing mass messages with one single idempotent Producer takes 1ms for each.
Althought it works with synchronous productions, the idempotency doesn't work with async messages.

In my case, API requests are processed asynchronously to avoid blocking state if one go wrong.

- The Creation, Connection, Message Production and

[2019-05-02 14:09] Nevon commented on #353
I'm gonna close this issue since it's confirmed as intended behavior. Feel free to join or Slack channel if you want to discuss something, or open up a new issue if you find a bug.

[2019-05-02 14:09] #353 closed

[2019-05-08 06:26] pimpelsang opened #357 "KafkaJS and java producer partitioning returning different results"
Producing message with the same key gets assigned to different partitions depending if app is using java or nodejs client.

This creates problems when using kafka streams for joining those data - **meeting the co-partitioning requirement fails** even when message keys are the same.

I created an isolated test code which confirmed it. Simple java and nodejs app with partitioning using murmur2 code

[2019-05-08 07:07] Nevon commented on #357
I have a feeling this is gonna be a fun one. 😄 I added a branch with a repro case based on what you did. The partitioner code was written by @tulios in the beginning of time, so I don't have any immediate idea why it doesn't match. I'll probably take a look later this week, but feel free to investigate further.

[2019-05-08 08:10] Nevon commented on #357
I found where the issue is, though I don't understand it yet.

https://github.com/tulios/kafkajs/blob/c5ab8c229369ae4966ffd3ce22e2b0c00191943b/src/producer/partitioners/default/murmur2.js#L28

I ran some interactive debugging of both the Java and JS implementations, executing them side-by side and comparing the values. On this line, the values diverge between the JS and Java implementations. Given

[2019-05-08 08:13] Nevon commented on #357
And just because I'll forget unless I write it down, to interactively debug a Java program in the CLI:

[code]

[2019-05-08 16:09] #357 closed

[2019-05-08 16:10] Nevon commented on #357
@pimpelsang Would you be able to try out latest `master` with the Java compatible partitioner and see if it works as it should?

As soon as the master build is done, there'll be documentation available at https://kafka.js.org/docs/producing#a-name-custom-partitioner-a-custom-partitioner but this is the gist of it:

[code]

[2019-05-09 09:13] denic commented on #336
@Nevon

This is good news! Thanks for the effort. I have one question regarding handling of topics added after the consumer subscribed to a pattern. The documentation states:

So is the client using KafkaJS required to keep track of available topics and subscribed topics on its own?

[2019-05-09 09:29] Nevon commented on #336
What it means is that there's no automatic polling in the background to see if there are any new topics available. If you want to automatically subscribe to new topics, I would think periodically repeating the subscribe call would work.

[2019-05-09 11:03] Nevon commented on #352
I'm gonna go ahead and close this issue. Feel free to open up a new one if you feel that the current capabilities don't adequately solve your issue, @tim-mit

[2019-05-09 11:03] #352 closed

[2019-05-09 11:04] Nevon commented on #335
I'm closing this due to lack of feedback. Feel free to open it back up if the issue persists, @timojokinen

[2019-05-09 11:04] #335 closed

[2019-05-09 11:06] Nevon commented on #251
For now, our version support strategy is quite simple. We will support all LTSs through both active and maintenance stages. This means that Node 8 will be supported at least through 2019.

[2019-05-09 11:07] #251 closed

[2019-05-11 06:18] pimpelsang commented on #357
Tried it out. Works! Thank you very much for so fast fix

[2019-05-13 09:17] vykimo opened #360 "ENOBUFS error"
Hi everyone,
I noticed when I start many consumption/productions of message.
After +4000 messages, I get systematically this error :
[code]
It loops on this error until I stop the program.
When I restart it, the problem disappear... until it reach again ~4-5k messages.

First I was thinking it was because my 1 broker fails because of the load, so I added 2 additionnal brokers. But even with 3 brok

[2019-05-13 09:30] Nevon commented on #360
Is there any chance you could write a small example that reproduces the issue? If it's creating new connections and never closing them, it would make sense that you would eventually exhaust all your ports, but this shouldn't happen in the first place.

[2019-05-13 09:45] vykimo commented on #360
Just create a consumer that produce a message to _topic-test_ when it consumes one from _topic-test_.

You'll see number of ports growing with command (win) : `netstat -n | wc -l`
And error will come approximately at 25k ports openned.

[code]

[2019-05-13 11:29] Nevon commented on #360
I was indeed able to reproduce it on my machine as well. Here's what a snippet of the debug log looks like (basically one iteration of the fetch loop):

[code]

If I don't create a producer for each message, and instead re-use the same one, I don't get the same problem. However, since you are disconnecting the producer after using it, it _should_ be closing the socket, so it shouldn't leak (we can

[2019-05-13 12:04] vykimo commented on #360
Yes, That's my point. I decided to create a new producer every time in order to guarantee idempotency. But when disconnecting, socket must be closed and not leak.

[2019-05-13 14:35] tulios commented on #360
@vykimo I was on vacation, so I missed some discussion about the issue you opened before. If I remember correctly, you were calling `producer.send` without waiting, and that's why the idempotent producer failed for you. However, in your example, you await the send operation. Is your real code a lot different than the example? And if you await, can't you use a single producer?

[2019-05-13 14:47] vykimo commented on #360
Yes, my code is way different that this one.
You advise me to create a kind of queue and send all my messages sequentially with await.
But it will slow down a lot my process in case of parallization, isn't it?

And it does not solve the issue, sockets does not close when producer disconnect(). Or at least not enough faster.
So does it exist a mean to reduce closing delay or does it exist a way to

[2019-05-16 15:53] micaelmbagira commented on #354
@Nevon I am asking myself the same question, shouldn't this be a warning?

[2019-05-16 16:05] tulios commented on #354
I think it should be a warning, we included this log some time ago to shed some light on another bug, but it should be a warning. I will change it.

[2019-05-17 13:24] kareha opened #363 "UnhandledPromiseRejectionWarning"
Hi,
I get this warning, when send message:

It happens in File src/cluster/brokerPool.js at Line 120:
`this.metadata = await broker.metadata(topics)`

Is there a way you can catch the warning?
Thx

[2019-05-17 13:32] tulios commented on #363
Hi @kareha, can you post a snippet of code similar to the one you use to send the message? You are probably passing something that can't be serialized.

[2019-05-17 15:11] kareha commented on #363
I tried to send the following message:

[code]

[2019-05-20 11:04] tulios commented on #363
I tried your example with the example producer in the repo and it works, so it has to be the code around that. Can you provide the code interacting with the client?

[code]

[2019-05-20 13:46] Nevon opened #364 "Don't modify global crypto"
https://github.com/tulios/kafkajs/blob/5f152019b47e3ea5e912e48134204385b3350e91/src/producer/partitioners/default/randomBytes.js#L3-L5

We "polyfill" `global.crypto` in the default partitioner, but modifying globals is not good practice. We should instead rely on a local reference to either `global.crypto`/`global.msCrypto` or the Node `crypto` module.

[2019-05-20 14:24] #364 closed

[2019-05-21 09:31] ram7211 opened #366 "Not able to connect to Kafka consumer over TLS/SSL with KafkaJs node module"
Hello,

Want to connect Kafka consumer over TLS, tried the following getting "unknown error while connect"
[code]

Error what I am receiving for reference :

Could you please help me on this, struggling for 3 days no leads;

[2019-05-22 05:23] #366 closed

[2019-05-22 05:24] ram7211 commented on #366
able to solve it, forgot to add key {private} in the sslOptions (ssl); after adding it works like a charm;

[2019-05-22 08:19] kareha commented on #363
Thanks, that helped :)
I think I missed the catch. Can be closed

[2019-05-22 08:19] #363 closed

[2019-05-22 08:59] itayadler opened #368 "Connection stuck if first broker on the list is down"
**Issue**:
`let config = { brokers: ['broker1:9092', 'broker2:9092', 'broker3:9092'] }`
assuming `broker1:9092` is down, kafkajs will fail to connect to the cluster. But if the order
is :
`let config = { brokers: ['broker2:9092', 'broker1:9092', 'broker3:9092'] }`
or
`let config = { brokers: ['broker3:9092', 'broker2:9092', 'broker1:9092'] }`
The connection will work fine.

I'd expect kafkajs to b

[2019-05-22 09:13] itayadler commented on #368
Update: it seems that it does manage to connect https://github.com/tulios/kafkajs/blob/master/src/broker/index.js#L79 but it get stuck on this call https://github.com/tulios/kafkajs/blob/master/src/broker/index.js#L82
which is related to the issue I currently have with this broker, so perhaps adding a timeout to this call will make the client more robust to this edge case

[2019-05-22 12:45] tulios commented on #368
Right, we should enforce a timeout for the API versions call.
Thanks for investigation

[2019-05-22 12:53] itayadler commented on #368
I can try to make a PR to enhance this, do you have a rough example of how you'd like it to act?

[2019-05-22 12:58] tulios commented on #368
You can pass a request timeout to any request
https://github.com/tulios/kafkajs/blob/326403fb096a097e821e03a5c780bb6e73064ba9/src/network/connection.js#L252

make `apiVersions` accept an optional `requestTimeout`
https://github.com/tulios/kafkajs/blob/326403fb096a097e821e03a5c780bb6e73064ba9/src/broker/index.js#L130

then always pass the `connectionTimeout` to `apiVersions` in the `connect` method

[2019-05-22 13:09] itayadler commented on #368
sounds good, let me have a go at it

[2019-05-22 14:34] itayadler commented on #368
https://github.com/tulios/kafkajs/pull/369

[2019-05-22 17:00] vykimo opened #370 "5 sec lag with multi broker"
Hi everyone, I noticed a very special behavior of kafkajs.
When I use only one broker I consume immediately  messages produced.
But when I have a multi broker node, I get systematically a 5 sec lag between production and consumption.

I tried with kafka console in order to know if it is a bad configuration but no, produced messages are immediately written into consummer console.
Maybe you have alr

[2019-05-23 08:16] tulios commented on #370
Without a lot of investigation, I can say that the default `maxWaitTime` is 5s, the fetch request will block for `maxWaitTime` or `minBytes`, so I am guessing that when the topic doesn't have new messages and you publish it will still wait for 5s (since the brokers have to sync due to `acks=-1` by default). On the next request, the `minBytes` rule will be satisfied, and the data will return right

[2019-05-23 09:25] vykimo commented on #370
So this behavior doesn't happens with one broker because sync isn't required, is it?

Then, to fix it I have to change `acks` value and/or lower `maxWaitTime` and `minBytes`?

[2019-05-23 14:32] denic opened #371 "Consumer: Fails to subscribe after run()"
Hi guys, I have a follow up question to https://github.com/tulios/kafkajs/issues/336#issuecomment-490830101

I started to play around with kafkajs and tried to integrate it to our high-level solution. We need to dynamically subscribe to  topics during runtime.
To me it looks like subscribing to topics after consumer.run(...) was called does not add the new topic to the list of topics that get fetc

[2019-05-23 14:49] tulios commented on #371
Hi @denic, looking at the code I can say that this won't work with the current implementation. To add topics on demand, the client will have to force a rebalance so that the leader can assign the partitions of the new topics.

We will need to change some internals to make this happen, what you can do in the meantime is to use the admin client to fetch the list of topics continuously and once you f

[2019-05-23 18:15] vykimo commented on #370
Hmm so, `minBytes` is set by default to 1 (my messages are always greater than 1byte) and `acks` is mandatory set to -1 to guarantee idempotency.
So the only parameter I am able to change is `maxWaitTime` right?
If I set it to 100ms, is it too low or it is ok?

[2019-05-23 21:31] vykimo commented on #370
So it's working with 100ms for maxWaitTime.
But I have 3 questions :
1. Why when have only one broker, messages are immediately read and when I have multi-brokers they wait for maxWaitTime (I confirmed this behavior again. With same messages and 1, then 2 brokers. bug?)
2. What are the consequences to drop `maxWaitTime` from 5000 to 100ms ?
3. Where can I set `maxWaitTime` in a constructor or some

[2019-05-24 06:50] tulios commented on #370
Hey @vykimo, sorry for the delay.

You can configure the `maxWaitTime` when creating the consumer https://kafka.js.org/docs/consuming#a-name-options-a-options

The option is called `maxWaitTimeInMs`, e.g:
[code]

You just add more pressure to Kafka (more requests over-time), but that's ok. You have to optimize your consumers for batch or "real-time", where real-time means low `minBytes` and smalle

[2019-05-24 07:53] denic commented on #371
Thanks @tulios . Much appreciated!

[2019-05-24 09:25] reklatsmasters opened #372 "use turbo-crc32 as most faster pure js crc32 library"
### Benchmark

*nodejs 10.14.1 / Ubuntu 16.04 x64*

[code]

https://www.npmjs.com/package/turbo-crc32

[2019-05-24 09:33] tulios commented on #372
Does this benchmark use our implementation o crc32? We don't have dependencies on any libraries; you can swap the implementation with turbo crc32 if you want.

[2019-05-24 10:10] vykimo commented on #370
Yes, I am using acks by default (-1) and idempotency.

That's my main problem, I would prefer to lower `minBytes` but it's already at 1 by default, however fetch seems not to be triggered when message is published __or__ maybe the lag is due to acks = -1 (wait ack of all replicas) ?...

[2019-05-27 18:35] expelledboy commented on #260
Hey guys, what exactly is the solution to get the consumer to join the group immediately after restarts?

I have integration tests that run on files changes, and it they arent working.

[2019-05-28 07:20] Nevon commented on #260
The consumer automatically re-joins the group after a restart. If it's not working for you, it's likely an issue with your test or how you are configuring Kafka.

[2019-05-28 07:28] tulios commented on #260
Not necessarily @Nevon, if you reuse the same `groupId` Kafka will trigger a rebalance and wait for the consumers to join, which by default is 30s. It's very likely @expelledboy that you are using the same `groupId` across tests, try generating a new ID per test and it should improve.

[2019-05-28 07:55] Nevon commented on #260
Right, I guess I missed the key word "immediately".

[2019-05-28 07:57] bobzsj87 commented on #294
@tulios Thanks for the pointer. I am trying to implement a request-response mode, that the consumer knows exactly what partition to subscribe to (by external automatic counter), and only cares about the responses to that particular partition.

The question is that is there a way to write an assigner that only affects the consumer itself, not affecting the other consumers in the group? Say, consume

[2019-05-28 08:06] bobzsj87 commented on #370
I observed the same issue that testing on a single broker env has no lag at all. But on 2 brokers, you can observe random lags from 0-5 seconds (using default consumer params). Using kafka-console-consumer gets immediate result back.

[2019-05-28 08:31] bobzsj87 commented on #370
fetch.max.wait.ms in kafka doc https://kafka.apache.org/documentation/ is 500, maybe the default should be set to 500?

[2019-05-28 08:53] bobzsj87 commented on #370
Just to add a bit more information. in our live env, for a topic with partition =3, replication=2, we can observe the lag. But when partition=1, replication=2, the lag is not observable.

[2019-05-28 08:55] vykimo commented on #370
For me, it's an issue of `minBytes` kafkajs-side or `fetch.min.bytes` Kafka Broker side...
Because it is never triggered with multi-broker. Consumer waits for expiration of `maxWaitTimeInMs`.

[2019-05-28 09:01] bobzsj87 commented on #370
To summarize my case:
1) single broker, multi-partition = ok
2) multi-broker, single-partition = ok
3) multi-broker, multi-partition = lag

yes, @vykimo the minBytes is not triggered in case 3)

[2019-05-28 09:41] expelledboy commented on #260
@tulios Yes I am using the same groupId, as its testing the code that will actually run in production. I have just been manually changing it so get it working on each test cycle.

Is it not possible to cleanup, or re-use the consumer memberId? Just skimming your code and trying to figure out kafka at the same time 😂

[2019-05-28 11:16] #371 closed

[2019-05-28 11:16] tulios commented on #371
Feel free to re-open the issue; I can create a feature request issue later describing the steps.

[2019-05-28 16:42] vykimo commented on #368
Confirmed my side

[2019-05-29 13:20] JaapRood opened #373 "Add manual assignment of TopicPartitions to Consumer"
In using Kafka for stream processing it's common practice to have to manually assign topic-partitions for consumption, rather than subscribing and receiving an assignment through the group.

For example, when processing messages from a partition the consumer subscribes to, you might have to keep some state. To make sure this state is durable, it's often replicated to a changelog, also implemented

[2019-05-29 13:25] JaapRood commented on #373
I'm pretty happy to take this one on, but won't be able to start for a while. We're still right in the middle of our switch to using KafkaJS for all our stream processing and don't need manual assignment until we get to the more complicated tasks (where, as described above, we use Kafka for the changelog of stateful processing).

[2019-05-31 15:46] LakhsmiC opened #375 "The group is rebalancing, re-joining"
I am getting below error every few minutes. Below are the logs for the same .
"level":"ERROR","timestamp":"XXX","logger":"kafkajs","message":"[Connection] Response Heartbeat(key: 12, version: 1)","broker":"XXXX","clientId":"kafkajs","error":"The group is rebalancing, so a rejoin is needed","correlationId":12,"size":10}
{"level":"ERROR","timestamp":"XXXX","logger":"kafkajs","message":"[Runner] The

[2019-06-04 14:47] bobzsj87 commented on #370
@tulios  could this be a bug?

[2019-06-04 14:51] bobzsj87 opened #376 "[help needed] custom rebalance function to subscribe to a single partition"
I am working on a response-request feature based on partition. Let's say you have 20 partitions in a topic, and worker A subscribe to 0, worker B joins later and subscribe to 1, and so on.

How to write such rebalance assignment function that only takes care of its own member and its assignment, without rebalancing any existing workers?

Reopening #294

[2019-06-04 21:58] tulios commented on #373
Nice, let's spec this change and have a project to track the progress.

[2019-06-04 22:03] tulios commented on #375
Hi @LakhsmiC, this is a common error in Kafka. If the rebalance is happening too frequently, it means that eachMessage or eachBatch are taking too long and the consumer is been kicked out of the group. The default session timeout and heartbeat interval are quite small, it's recommended to adjust those values to something that matches the type of workload you are doing. maxBytes defaults to 10MB wh

[2019-06-04 22:08] tulios commented on #370
@vykimo @bobzsj87 it could be a bug, but we run many high load consumers, so since we have a lot of machines in those groups, we already expect some delay when rebalancing. Summer is approaching in Sweden, and we are wrapping up some previous work, so I apologize for the delayed answers, we are a bit spread thin since a couple of weeks. I will find some time to investigate this soon, but if someon

[2019-06-05 08:22] bobzsj87 commented on #370
@tulios thanks for the reply. I have done some isolated test with fresh install of Kafka server and can reproduce the issue, please find the detailed results and test scripts here: https://gist.github.com/bobzsj87/4971386799677e9840653aaba87679bf

[2019-06-05 08:34] tulios commented on #370
I think I know what is happening. Kafka uses the pull model, so the consumers don't receive any push messages from the server, so this is what is happening:

1) consumer A joins the group
2) the group is empty, so it becomes the leader and starts consuming right away
3) consumer B joins the group
4) Kafka asks the group to rebalance and wait for the leader to assign partitions
5) consumer A doesn'

[2019-06-05 09:15] bobzsj87 commented on #370
@tulios  but there is only one group in my test. No rebalancing happening.

[2019-06-05 12:46] JaapRood commented on #376
I'm not 100% sure, but would #373 do what you want to do?

[2019-06-05 13:07] JaapRood opened #378 "Add way to commit offset with Consumer"
In various other clients, [like the official KafkaConsumer](https://kafka.apache.org/10/javadoc/?org/apache/kafka/clients/consumer/KafkaConsumer.html), arbitrary offsets can be committed through an interface like `consumer.commit`. So far, the only way to do this in KafkaJS is through `commitOffsetIfNecessary` function exposed as part of the `eachBatch` mechanism.

This limitation prevents the com

[2019-06-05 13:09] JaapRood commented on #378
In [a thread on slack](https://kafkajs.slack.com/archives/CF6RFPF6K/p1559726888001700), @tulios  expressed some concerns about how the fetching mechanism might be affected:

But also seemed confident the following would fix that:

[2019-06-05 13:12] JaapRood commented on #378
As with #373 I'm happy to take give this a go, but will be delayed in doing so as we're still trying to see how much of our stream processing tasks we can get running against KafkaJS, before going back and fixing this. I'll be sure to announce it here when I get around to it, hoping others will too if they get around to it.

[2019-06-05 13:17] bobzsj87 commented on #376
Yes, the java document describes the behaviour I want.

[2019-06-06 17:33] tulios commented on #368
Fixed by #369

[2019-06-06 17:33] #368 closed

[2019-06-06 17:33] #372 closed

[2019-06-09 23:35] colinfindlay-nz opened #383 "Large batches take exponentially longer to encode"
Hi,

We're currently seeing issues with very large message batch sizes.
If we send a message[] of approx 1,000 messages - it's taking about 200 milliseconds to encode. With 10,000 messages it's taking a lot longer - as much as 12 seconds in my rough tests.

I believe the problem is with how the RecordBatch encoder iterates over arrays:
[code]

[code]

In both instances this ends up in `encoder.wri

[2019-06-10 04:35] Nevon commented on #383
Yes, absolutely! The encoder very naively copies buffers constantly, which is very inefficient. I've been wanting to replace the buffer usage with something that over-allocates buffer space, allowing us to add to the buffer without necessarily cloning the whole thing, but I haven't found the time to drive the change to completion.

If you believe you can turn your proof-of-concept hack into a dece

[2019-06-10 08:47] tulios commented on #383
WeHi @colinfindlay-nz, it was a conscious decision to use `Buffer.concat` on the encoder implementation, we wanted to nail the first implementation, and it was easier to achieve that with `concat`. We are aware that the performance can be improved, and most of the code that manipulates buffers are concentrated on the `Encoder` class. We had a discussion some months ago about tackling this, but we

[2019-06-10 09:38] colinfindlay-nz commented on #383
I can probably find time to knock something up, just thinking off the top of my head - would you want `writeEncoder` to detect arrays and change the calling functions to pass in these arrays, or a seperate encoder function `writeEncoderArray`?
We could try and do something that over-allocates buffer-space, but the problem with this approach is that it will always be wrong, resulting in either unwa

[2019-06-10 12:54] AlexKonstantinov1991 opened #384 "Commiting offset."
Hello, i want to commit an offset for a consumer, but i'm getting an error:
```KafkaJSNonRetriableError: Must provide transactional id for transactional producer```

Also i would like there to be a method for consumer, smth like commit(offset: number)

My code looks smth like:
[code]

[2019-06-11 15:25] JaapRood opened #387 "Heartbeats can not be sent manually until messages have been consumed"
This issue is of the same nature as #378, where it's not possible to perform heartbeats before having consumed any messages, as that possibility is only exposed as part of `eachBatch`.

It's common within stream processing tasks to pause the fetching of messages and not process any until some work is performed, like restoring a processing state store. Especially in that case, it's easy for this pr

[2019-06-11 19:45] patrykwegrzyn commented on #373
This is something i will be interested in too, im working at similar project described by the @JaapRood ,and i see a lot of use cases  for implementing  streaming processing ktable or http < kafka proxy
I would love to use kafkajs on my topic ui / browser project but for that i would need fine control of what is assigned to the consumer , right now im forced to use alternative lib ;/

[2019-06-13 07:51] JaapRood commented on #384
`KafkaJSNonRetriableError: Must provide transactional id for transactional producer` is thrown because each `producer` that uses transactions must  be assigned a `transactionalId`.

[code]

The purpose of this ID is basically fault detection: if another producer with the same `transactionalId` starts a transaction, the existing transaction is aborted (citation needed). This is to make sure that if

[2019-06-13 07:53] JaapRood commented on #384
Reviewing the documentation, there is actually nothing to explain the above! I might have some time this week to amend that.

[2019-06-13 09:01] Nevon commented on #387
Exposing `consumer.heartbeat` is easy enough, but I'm curious how your scenario actually works, because while implementing this I realized that even you're not subscribed to any topics, the fetch loop still runs and heartbeats. So as long as you've called `consumer.run`, there should be heartbeats going on.

This test currently passes:

[code]

[2019-06-13 09:12] JaapRood commented on #387
In that test, introduce some back-pressure in `eachBatch` (with for example a timeout) and the heartbeats will stop. As long as the consumer is fetching, heartbeats will be triggered as the end of every fetch, but fetching will pause if processing messages takes a while!

In the case of setting up for processing of a partition, because we're pausing all consumption until we've setup, fetching is a

[2019-06-13 10:09] JaapRood commented on #387
For later reference, in Slack chat with @Nevon I failed to clarify that with "setup time" I mean upon every rebalance event, as new partitions are assigned to a consumer.

[2019-06-13 11:11] rafalneves opened #391 "Regexp based subscription not subscribing topics"
![image](https://user-images.githubusercontent.com/4136503/59427961-d3a60700-8dd3-11e9-8b60-e0a6cb35a27f.png)

Regexp base subscription seems not to be working as expected. Or I could be doing something wrong.

Take this example, that you can see in the image above:

[code]

The first one generates no subscription what so ever, but multiple active topics exist, currently receiving data. The second

[2019-06-13 11:16] tulios commented on #391
Hi, this is bad. Can you try using `RegExp` instead of double slashes? Maybe the regexp check is failing, I will take a look.

Thanks for the report

[2019-06-13 11:18] rafalneves commented on #391
I should've mentioned that I tried that too. Same result.

[2019-06-13 11:28] tulios commented on #391
ok, that's weird because we have integration tests for that, and they are working

https://github.com/tulios/kafkajs/blob/0ff0d40274f85189c39806939b61fc3628dc3ee4/src/consumer/__tests__/subscribe.spec.js#L57-L97

I will take a look

[2019-06-13 11:37] rafalneves commented on #391
Let me know if I can be of any help.

I have SASL enabled, not sure if it's relevant.

[2019-06-13 17:12] IvanovOleg commented on #370
I have the same issue. I have 3 brokers, two topics (1 partition, two partitions), one producer and one consumer. If I use topic with a singre partition, everything works fast. If I use >= 2 partitions, I have 5 sec lag.

[2019-06-13 22:00] vykimo commented on #370
@IvanovOleg Yes me too, but that's not a fix but an overexploitation of the server (one call every 100ms instead of one call only when broker has enough message bits)

[2019-06-14 11:33] bobzsj87 commented on #370
@tulios I guess I found the bug after examing the code. It is due to the fetch mechanism of the consumerGroup (https://github.com/tulios/kafkajs/blob/master/src/consumer/consumerGroup.js), that if choose the broker where the replica leader is on, then fetch each broker in parallel using Promise.all(). However, under low traffic, in a multiple broker setup, one broker A which is the leader of parti

[2019-06-14 13:01] vykimo commented on #370
Oh well seen @bobzsj87

[2019-06-14 15:12] JaapRood opened #395 "Consumer.seek commits an offset, causing possible data and metadata loss"
In debugging one of our stream processing tasks we noticed that `consumer.seek` commits an offset in order to affect the consumer's fetching position. This mixes controlling the consumer position with recording progress and can lead to offset-metadata getting lost.

Offset metadata can be very useful when working with replicating to and from local stores, especially for achieving exactly-once proc

[2019-06-14 16:05] JaapRood opened #396 "Consumer can not pause and resume individual partitions"
While the Consumer has `pause` and `resume` methods, these can only be used on the topic level. Since the partition is the unit of concurrency Kafka has been designed around, it would make sense to control the consumption rate for each partition individually.

## Proposed solution

Accept a `partition` or `partitions` argument as part of `consumer.pause` and `consume.resume`.

[2019-06-14 16:06] JaapRood commented on #396
It's Friday past 6pm local time, so this issue is less detailed than I would normally make them. Happy to expand on it later if that's required!

[2019-06-16 15:22] leolcao opened #398 "How about the performance compared with node-rdkafka?"
I am searching some kafka client libraries in node.js, this library seems awesome, and lightweight, and i am only worry about the performance, so does anyone do some benchmark yet?

I am curious about it is not a wrapper from native librdkafka, it just use node.js 'net' and 'tls' to connect kafka cluster.

[2019-06-16 15:55] Nevon commented on #398
We have done benchmarks in isolation just to see what kind of throughput we could achieve, and we are running it in production under heavy load, but we've never done any direct comparisons with other libraries.

So far, it has been fast enough for our needs, so we haven't put any serious effort into optimizations. I would welcome a real comparison between the different libraries to see how we stac

[2019-06-17 08:35] tulios commented on #396
We kept this feature out consciously; we needed resume and pause, so we implemented just what we need back them, we knew we would eventually come back and add the remaining features. We were waiting for the need, so the time has come. 😄

[2019-06-17 08:46] JaapRood commented on #398
The library `node-rdkafka` binds to `librdkafka` is has got quite a few performance optimisations, mostly in the form of batching messages in both producing and consuming. It's actually done up to such a level that some stuff is pretty hard to work with. Pretty much everything is queued to then be executed in the background. That makes things like producing and committing "synchronously" a lot mor

[2019-06-17 08:48] JaapRood commented on #396
👏👏🙌

We'll get along just fine :)

[2019-06-17 11:19] rcoedo opened #399 "Duplicated error log and wrong formatting"
I was trying to set up a custom logger and I have found that connection errors in the broker pool are logged with the error instance instead of the proper message. Also, in some cases the error was being logged twice.

I'm new to the codebase so I don't know if this is intentional or not. I'll make a PR with the fix in case it is useful.

Cheers!

[2019-06-18 17:08] drojas commented on #289
[Azlo](https://www.azlo.com/) is using KafkaJS to deliver data between from micro-services and from micro-services to data lake

[2019-06-19 17:03] Thymios opened #401 "TypeError: isStale is not a function"
Tried the eachBatch processing as in the docs controlling for isStale() and got this type error:
TypeError: isStale is not a function

await consumer.run({
    eachBatch: async ({ batch, heartbeat, isRunning, isStale }) => {
      for (let message of batch.messages) {
        if (!isRunning() || isStale()) break
....

using kafkajs v1.8.0
node v12.4.0

[2019-06-19 17:05] Nevon commented on #401
`isStale` has not been released yet. Unfortunately the docs are not versioned, so whatever is in master is what's on the website.

If you need the functionality, you can use master directly, otherwise `isStale` will be part of the next release.

[2019-06-19 17:05] #401 closed

[2019-06-20 12:21] kkurten opened #403 "Consumer gets stuck when it receives a control batch"
We have a simple data pipeline where events are consumed from topic A and written to topic B by __transactional__ (Java) Streams application. A nodejs microservice then consumes events from topic B (using kafkajs) and writes events to one of our APIs.

We noticed that when kafkajs receives a control batch (https://kafka.apache.org/documentation/#controlbatch) that contains only a single control re

[2019-06-21 21:21] drojas commented on #403
I'm facing the same issue and have some findings after some debugging.

Here's what's happening in our case.

1. A transactional batch with real messages + a control message at the end arrive
2. A consumer configured to manually commit offsets processes all the messages except the filtered control message
3. Immediate next `fetch` will retrieve just the control message (the scenario presented in t

[2019-06-24 07:43] tulios commented on #403
Hey @kkurten and @drojas, thanks for the excellent report. I will investigate what's happening. It's summer holidays in Sweden (where I live), so we are a bit slow to reply this time of the year. We are planning the 1.9 release; I will take a quick look and check if I can include a fix for this in the upcoming release.

[2019-06-24 20:54] nkt opened #406 "I'm not pretty sure how to batch processing works"
Hello, thanks for your library. I'm not pretty sure if this code is correct:
[code]

[2019-06-25 07:41] Nevon commented on #406
There are potentially some issues with the code you posted, but what problem are you having exactly?

You can see an example of how to use the `eachBatch` interface here: https://kafka.js.org/docs/consuming#a-name-each-batch-a-eachbatch

If all you want to do is to process messages concurrently, you don't necessarily need to use `eachBatch`, but can instead use the simpler [`partitionsConsumedConc

[2019-06-25 07:44] Nevon commented on #403
Just wanted to chime in and say that these are some top-notch issues! I wish all issues had this much research put into them and were this clearly explained.

[2019-06-26 00:36] ramesius opened #408 "LogCreator typings do not match documentation"
I think the typescript typings maybe wrong for the `LogCreator` functionality

The signature in the typings is as follows:
https://github.com/tulios/kafkajs/blob/master/types/index.d.ts#L348-L350

Whereas the docs mention something along the lines of:
[code]
Link: https://kafka.js.org/docs/custom-logger

Do the typings need to be updated to match the documentation?

Edit: Added link to docs

[2019-06-26 06:48] tulios commented on #408
The documentation is correct, I have a patch for the typings. I caught that late yesterday, we should have a new version soon. Thanks for the report